.contact {

  .modal-overlay {
    background: rgba(255, 255, 255, 0.9);
  }
  background: #F4F4F4;
  border: none;

  .subtitle {
    margin: 30px auto;
    font-weight: 100;
    font-size: 1.4em;
    width: 70%;
    color: rgba(0,0,0,0.7);
  }

  .info, .footer {
    background: #F4F4F4;

    a {
      cursor: pointer;
    }
  }

  .form-modal {
    .modal-header {
      color: $primary-color;
    }

    span {
      color: $primary-color;
      font-weight: 100;
      font-size: 2rem;
      letter-spacing: 1px;
    }

    .modal-close {
      right: 0;
      position: absolute;
      top: 0;
    }

    .contact-form {
      .input, select {
        background: transparent;
        border-bottom: 3px dashed #e60038;
        border-right: 0;
        border-left: 0;
        border-top: 0;
        outline: 0;
        font-size: 2rem;
        color: #e60038;
        text-align: center;
        margin: 10px auto 30px auto;
        display: block;
        width: 40%;
      }

      .secondary-button {
        background: transparent;
        border: 3px solid $primary-color;
        color: $primary-color;
        display: inline-block;
        font-size: 1rem;
        padding: 10px;
        border-radius: 100px;
        text-decoration: none;
        padding: 10px 30px;
      }
    }
  }

  .input:hover {
    outline: 0;
  }

  .input::-webkit-input-placeholder {
    color: $primary-color;
  }

  .adress {
    background: url("../img/office.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0px;
    margin: 50px 0px;

    h2 {
      color: #fff;
    }

    .adress-container {
      background: #fff;
      padding: 20px;
      border-radius: 4px;
    }

    p {
      font-weight: 100;
      font-size: 1.5em;
      margin: 20px 0px;
    }

    a {
      border: 1px solid $primary-color;
      text-decoration: none;
      padding: 20px 50px;
      display: inline-block;
      border-radius: 2px;
      margin: 10px 0px;
      position: relative;
      @include transition(all 0.5s ease);

      &:hover {
        background: $primary-color;
        color: #fff;
      }
    }
  }

  .social-networks {

    p {
      font-weight: 200;
      margin: 40px;
    }

    a {
      text-decoration: none;
      border: 5px solid #000;
      height: 150px;
      width: 150px;
      display: block;
      line-height: 150px;
      border-radius: 100%;
      font-weight: 900;
      color: #000;
      margin: 0 auto 15px;
      @include transition(all 0.2s ease-in);

      &:hover {
        background: #000;
        color: #fff;
      }
    }
  }
}
