.contact {
  background: #F4F4F4;
  border: none;

  p {
    margin: 30px auto;
    font-weight: 100;
    font-size: 1.4em;
    width: 70%;
    color: rgba(0,0,0,0.7);
  }

  .info, .footer {
    background: #F4F4F4;
  }

  .adress {
    background: url("../img/office.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0px;
    margin: 50px 0px;

    h2 {
      color: #fff;
    }

    .adress-container {
      background: #fff;
      padding: 20px;
      border-radius: 4px;
    }

    p {
      font-weight: 100;
      font-size: 1.5em;
      margin: 20px 0px;
    }

    a {
      border: 1px solid $primary-color;
      text-decoration: none;
      padding: 20px 50px;
      display: inline-block;
      border-radius: 2px;
      margin: 10px 0px;
      position: relative;
      -webkit-transition: all 0.5s ease;

      &:hover {
        background: $primary-color;
        color: #fff;
        left: 20px;
      }
    }
  }

  .social-networks {

    a {
      text-decoration: none;
      border: 5px solid #000;
      height: 150px;
      width: 150px;
      display: block;
      line-height: 150px;
      border-radius: 100%;
      font-weight: 900;
      color: #000;
      margin: 0 auto;
      -webkit-transition: all 0.2s ease-in;

      &:hover {
        background: #000;
        color: #fff;
      }
    }
  }
}
