.no-hover .culture{
  .perks {
    .perk {
      &.col-6:hover {
        .perk-icon {
          margin-top: 0%;
        }
      }
      &:hover {
        figure {
          @include transition(all 0.4s ease-in-out);

          .perk-icon {
            margin-top: 0%;
            opacity: 1;
          }

          figcaption {
            .perk-description {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.culture {

  .info {
    background: url('https://s3.amazonaws.com/icalia/assets/img/bg-culture.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #FFF;
    height: 800px;
    position: relative;

    @include max-screen($small-screen) {
      height: auto;
    }

    .section-tag {
      color: rgba(0,0,0,0.5);
    }

    .culture-description {
      font-weight: 200;
      font-size: 1.3em;
      margin: 0 auto;
      width: 50%;
    }

    .values {
      padding: 100px 0px;
      @include max-screen($small-screen) {
        padding: 0;
      }

      &.suraido-container {
        min-height: 500px;
        @include max-screen($small-screen) {
          max-height: 220px;
          min-height: 150px;
        }
      }

      .big-header { 
      font-size: 5rem;

      @include max-screen($small-screen) {
        font-size: 3rem;
      }
    }
    }
  }

 
  .career {
    margin: 30px auto;
    min-height: 400px;
    padding: 70px 0px 100px 0px;
    width: 60%;

    @include max-screen($small-screen) {
      width: 90%;
    }

    video{
      margin-bottom: 30px;
    }

    p {
      color: rgba(0, 0, 0, 0.5);
      font-weight: 200;

      @include max-screen($small-screen) {
        margin: 40px 0;
      }
    }

    h2 {
      margin-bottom: 15px;
      @include max-screen($small-screen) {
        line-height: 3rem;
      }
    }
  }

  .perks {
    padding: 100px 0px;
    background: $primary-color;

    .section-description {
      margin: 20px auto 100px auto;
      
      @include max-screen($small-screen) {
        margin-bottom: 45px;
      }

    }

    .title-section-perks {
      color: #fff;
    }

    .perk {
      position: relative;
      padding-top: 33.33%;
      @include transition(all 0.4s ease-in-out);
      overflow: hidden;

      @include max-screen($small-screen) {
        padding-top: 100%;
      }

      @include min-screen(1000px) {
        &.col-6:hover {
          .perk-icon {
            margin-top: -30%;
          }
        }
        &:hover {
          figure {
            @include transform(translateY(-100%));
            .perk-icon {
              margin-top: -80%;
              opacity: 0;
            }

            figcaption {

              .perk-description {
                opacity: 1;
              }

            }
          }
        }
      }

      figure {
        padding: 20px;
        position: absolute;
        width: 100%;
        top: 50%;
        @include transition(all 0.4s ease-in-out);
        @include transform(translateY(-50%));
      }
    }

    .perk-icon {
      margin: 20px auto;
      max-height: 100px;
      @include transition(all 0.5s ease-in);
    }

    .perk-title {
      color: #fff;
      font-size: 1.1em;
      letter-spacing: 2px;
      margin: 10px 0px;
      text-transform: uppercase;
    }

    .perk-description {
      color: #FFF;
      margin: 0 auto;
      line-height: 1.2em;
      max-height: 0;
      font-size: 1em;
      font-weight: normal;
      opacity: 0;
      @include transition(all 0.5s ease-in);
      @include max-screen($small-screen) {
        opacity: 1;
      }
    }
  }


  .positions {
    background: $light-gray;
    min-height: 300px;
    padding: 150px 0px;

    .position-modal {
      color: rgba(0,0,0,0.7);
      top: 0;
      padding: 0;

      strong {
        display: block;
        margin: 10px 0;
      }

      .modal-content {
        text-align: left;

        .col-6 {
          padding-right: 25px;
        }
      }
    }


    p {
      width: 60%;
      margin: 30px auto;
      color: rgba(0, 0, 0, 0.7);
      line-height: 1.4em;
      font-size: 1.3em;
      font-weight: 200;
    }

    .position {
      border: 3px solid $dark-gray;
      color: $dark-gray;
      display: inline-block;
      font-size: 1.25rem;
      padding: 1rem 10rem;
      width: 90%;
      text-decoration: none;

      &:hover {
        background: $dark-gray;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}

.position:hover > svg path {
  fill: #fff;
}

.square-bg-1 {
  background: rgba(0,0,0,0.1);
  @include max-screen($small-screen) {
    background: inherit;
  }
}

.square-bg-2 {
  background: rgba(0,0,0,0.15);
  @include max-screen($small-screen) {
    background: inherit;
  }
}

.square-bg-3 {
  background: rgba(0,0,0,0.25);
  @include max-screen($small-screen) {
    background: inherit;
  }
}
