.culture {

  .info {
    background: url('../img/bg-culture.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #FFF;
    height: 800px;
    position: relative;

    .section-tag {
      color: rgba(0,0,0,0.5);
    }

    .culture-description {
      width: 50%;
      font-weight: 200;
      font-size: 1.3em;
      margin: 0 auto;
    }

    .values {
      padding: 100px 0px;
      
      h4 {
        text-transform: uppercase;
        letter-spacing: 5px;
      }

      p {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 100;
      }

      .quote {
        margin: 35px 0px;
        color: #fff;
        font-size: 6rem;
        line-height: 5rem;
      }
    }
  }

  .suraido-container {
      min-height: 350px;
      height: 350px;

      ul li  {
        top: 100px;
        position: relative;
      }
  }

  .career {
    min-height: 400px;
    padding: 100px 0px 100px 0px;

    p {
      width: 60%;
      margin: 30px auto;
      color: rgba(0, 0, 0, 0.7);
      line-height: 1.4em;
      font-size: 1.3em;
      font-weight: 200;
    }
  }

  .perks {
    padding: 200px 0px;
    width: 100%;
    background: rgba(0,0,0,0.02);

    p {
      font-weight: 100;
      font-size: 1.5em;
      width: 60%;
      margin: 20px auto;
    }
    

    .title-section-perks {
      font-size: 1.2em;
    }

    .perk {
      position: relative;
      padding: 30px 4px;
      opacity: 0.5;
      -webkit-transition: all 0.5s ease;

      &:hover {
        opacity: 1;
        top: -20px;   
      }
    }

    .perk-icon {
      margin: 20px auto;
      max-height: 100px;
    }

    .perk-title {
      letter-spacing: 2px;
      margin: 10px 0px;
      text-transform: uppercase;
      font-size: 1.1em;
    }

    .perk-description {
      margin: 0 auto;
      line-height: 1.2em;
      font-size: 1.1em;
      font-weight: 200;
    }
  }

  .positions {
    background: $light-gray;
    min-height: 300px;
    padding: 150px 0px;

    p {
      width: 60%;
      margin: 30px auto;
      color: rgba(0, 0, 0, 0.7);
      line-height: 1.4em;
      font-size: 1.3em;
      font-weight: 200;
    }

    .position {
      border: 3px solid $dark-gray;
      color: $dark-gray;
      display: inline-block;
      font-size: 1.25rem;
      padding: 1rem 10rem;
      text-decoration: none;
      
      &:hover {
        background: $dark-gray;
        color: #fff;
      }
    }
  }
}
