  .info {
    padding: 100px;
    text-align: center;

    .section-name {
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    .section-tag {
      margin-bottom: 30px;

      span {

      }
    }
  }
