.process{  
  min-height: 100%;

  &:after {
    content: ' ';
    display: inline-block;
  }

  .process-scroller, .process-scroller section  {
    height: 100%;


    nav {
      position: fixed;
      z-index: 9999;
      right: 100px;
      top: 50%;
      @include transform(translateY(-50%));

      a {
        color: transparent;
        display: block;
        height: 30px;
        position: relative;

        &:after {
          border: 1px solid $primary-color;
          border-radius: 50%;
          content: '';
          height: 14px;
          position: absolute;
          width: 14px;
        }

        &:hover:after {
          background: $primary-color;
        }

        &.scroller-current:after {
          background: $primary-color;
        }
      }
    }

    .step {
      text-align: center;
      padding: 12rem 0;

      .step-number {
        color: $primary-color;
        border-radius: 50%;
        border: 4px solid $primary-color;
        font-weight: 700;
        padding: 0px 10px;
        font-size: 1.5em;

        @include max-screen($small-screen-max) {
          padding: 3px 10px;
        }

      }

      .step-title {
        margin: 20px 0px;
        color: $primary-color;
        letter-spacing: 1px;
        font-size: 3rem;
      }

      .step-description {
        font-size: 1.5em;
        font-weight: 200;
        color: rgba(0,0,0,0.8);
      }
    }

    section {
      position: relative;
      background-position: center 90%;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  }
}

#understanding {
  background-image: url(/assets/img/understanding.png);
  background-color: #f9f9f9;
  @include max-screen($medium-screen-max) {
    background-image: none;
  }
}

#definition {
  background-image: url(/assets/img/definition.png);
  background-color: #fff;
  @include max-screen($medium-screen-max) {
    background-image: none;
  }
}

#design {
  background-image: url(/assets/img/design.png);
  background-color: #f9f9f9;
  @include max-screen($medium-screen-max) {
    background-image: none;
  }
}

#build {
  background-image: url(/assets/img/build.png);
  background-color: #fff;
  @include max-screen($medium-screen-max) {
    background-image: none;
  }
}

#measure {
  background-image: url(/assets/img/measure.png);
  background-color: #f9f9f9;
  @include max-screen($medium-screen-max) {
    background-image: none;
  }
}
