.project {
  padding: 100px;
  height: 500px;
  background-repeat: no-repeat;
  background-position: right center;
  opacity: 0.8;
  @include transition(all 0.3s ease-in-out);
  background-size: 100%;

  @include max-screen($small-screen) {
    padding: 15px;
    height: auto;

    .vertical-align {
      @include transform(translateY(0%));
    }
  }

  &:hover {
    opacity: 0.8;
    background-size: 105%;
  }

  &.row { margin: 0; }

  .project-listing {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;

    h4 {
      color: rgba(0,0,0,0.8);
      font-family: 'Open Sans', sans-serif;
      font-weight: 200;
      letter-spacing: 2px;
      margin-top: 20px;
    }
  }


  .project-info {
    background: rgba(0,0,0,0.8);
    border-radius: 100px;
    color: #FFF;
    font-size: 1rem;
    padding: 10px;
    text-align: center;
  }


  .project-link {
    background: transparent;
    color: #FFF;
    display: inline-block;
    border: 3px solid rgba(0,0,0,0.6);
    border-radius: 3px;
    font-weight: 900;
    letter-spacing: 2px;
    margin: 10px 0px;
    outline: 1px solid transparent;
    padding: 25px 50px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transform-style: preserve-3d;
    @include transition(all 0.5s ease);

    @include max-screen($small-screen) {
      padding: 15px 30px;
    }

    &:before {
      border-top: 3px solid #FFF;
      border-right: 3px solid #FFF;
      color: #fff;
      content: ' ';
      height: 15px;
      font-size: 125%;
      left: 70%;
      line-height: 3.5;
      opacity: 0;
      position: absolute;
      width: 15px;
      @include transform(rotate(45deg) translateY(-50%));
      @include transition(all 0.3s);
      top: 50%;
    }

    &:hover {
      background: rgba(0,0,0,0.6);
    }


    &:hover:before {
      left: 80%;
      opacity: 1;
    }
  }
}
