.project {
  padding: 100px;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: right center;
  opacity: 0.8;
  -webkit-transition: all 0.3s ease-in-out;
  background-size: 100%;

  &:hover {
    opacity: 0.8;
    background-size: 105%;
  }

  &.row { margin: 0; }

  .project-tag, .client-tag, .client, .project-link{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
  }

  .project-name {
    font-size: 3em;
    font-family: $brand-font;
    color: #fff;
  }

  .project-tag, .client-tag, .project-link {
    font-weight: 200;
    letter-spacing: 2px;
    color: rgba(0,0,0,0.8);
    margin-top: 20px;
  }

  .project-info {
    background: rgba(0,0,0,0.6);
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 100px;
    font-size: 1em;
  }

  .client {
    color: #fff;
  }

  .perspective {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 900;
    perspective: 800px;
    position: relative;
    margin: 0;
    z-index: 1;

    .project-link {
      background: transparent;
      display: block;
      color: #FFF;
      text-decoration: none;
      border: 3px solid rgba(0,0,0,0.3);
      text-transform: uppercase;
      transform-style: preserve-3d;
      outline: 1px solid transparent;
      font-weight: 900;
      margin: 10px 0px;
      padding: 25px 80px;
      position: relative;
      @include transition(all 0.5s ease);

      &:after {
        background: #FFF;
        color: #000;
        content: 'Ver Proyecto';
        height: 100%;
        left: 0;
        line-height: 70px;
        position: absolute;
        width: 100%;
        @include transform-origin( 0%, 100% );
        @include transform(rotateX(90deg));
        @include transition(all 0.5s ease);
        text-align: center;
        text-transform: uppercase;
        top: -98%;
        z-index: -1;
      }


      &:hover {
        background: transparent;
        @include transform-origin( 50%, 100% );
        @include transform(rotateX(-90deg), translateY(100%));
      }
    }
  }
}
