.work-slider {
  background: $primary-color;
  text-align: center;
  position: relative;
  -webkit-transition: all 0.3s ease;
  overflow: hidden;
  height: 564px;

  .container {
    width: 100%;
  }

  h4 {
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.9em;
    margin: 40px 0px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: rgba(0,0,0,0.2);
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
  }

  a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
    background: rgba(0,0,0,0.5);
  }

  a.control_next {
    right: 0;
  }
  
  .bullets {
    list-style: none;

    li {
      border-radius: 50%;
      width: 5px;
      height: 5px;
      display: inline-block;
      border: 2px solid #fff;
    }
  }
}

.item-slide {
  padding-bottom: 100px;
  display: none;
  background-position: center top !important;
  background-size: 430px;
  background-repeat: no-repeat !important;
  -webkit-transition: all 0.4s ease;
  padding: 100px 0px;
    
  
  h3 {
    font-size: 3em;
    color: #fff;
  }

  p {
    margin: 50px auto;
    color: #fff;
    font-size: 3.5em;
    font-weight: 200;
    width: 50%;
  }

  .play-video-btn {
    background: none;
    border: 1px solid #FFF;
    @include border-radius(100px);
    color: #fff;
    font-size: 0.8em;
    letter-spacing: 3px;
    padding: 15px 40px;
    text-decoration: none;
    text-transform: uppercase;
    @include transition(all 0.3s ease);

    &:hover {
      cursor: pointer;
      background: #fff;
      color: $primary-color;
    }
  }
}


.item-slide:hover {
  background-size: 35%;
}