.work-slider {
  background: $primary-color;
  text-align: center;


  .item-slide {
    background-position: center top !important;
    background-repeat: no-repeat !important;
    @include transition(all 0.4s ease);
    padding: 50px 0px;

    &.printoo{
      background: url(/assets/img/printoo-slider.jpg);
      @include background-size(cover); 
    }


    p {
      margin: 50px auto;
      font-size: 3em;
      width: 50%;
      line-height: 1em;

      @include max-screen($small-screen) {
        width: 100%;
      }
    }

    &:hover {
      //background-size: 35%;
    }
  }
}


