@import 'variables';
@import 'media_queries';
@import 'grid';
@import 'selectors';
@import 'header';
@import 'team';
@import 'projects';
@import 'project-page';


* {
  margin: 0px;
  padding: 0px;
}

body {
  background: $primary-color;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Circular', sans-serif;
}

.clearfix:after {
  content: " ";
  display: block; 
  height: 0; 
  clear: both;
}

.align-right {
  text-align: right;
}

.light-gray {
  color: $light-gray;
}

.red {
  color: $primary-color;
}

.white-button {
  background: $secondary-color;
  border: 1px solid $primary-color;
  border-radius: 2px;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
}

.red-button {
  background: $primary-color;
  color: #FFF;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
}

.capital {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.vertical-align {
  @include vertical-align;
}

// ############ Custom Type ##################

@font-face {
  font-family: DeliciousRoman;
  src: url('../fonts/Circular.otf');
  font-weight:400;
}

// ######## Menu ############

.menu-overlay {
  position: fixed;
  background: rgba(226,58,44,0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: none;


  .menu-content {
    text-align: center;
    color: $secondary-color;
    padding: 100px 0px;
    display: none;
  }


  a {
    font-size: 5em;
    color: #fff;
    display: block;
    font-weight: 700;
    -webkit-transition: all 0.3s ease;
    margin: 20px 0px;

    &:hover {
      @include transform(scale(1.3));
    }
  }

  .social-info a {
    display: inline-block;
    font-size: 2em;
    margin: 20px 30px;
  }
}

.show-menu {
  display: block !important;
}

.main-menu {
  position: relative;
  width: 90%;
  margin: 0 auto;

  .logo {
    position: absolute;
    left: 40px;
    display: inline-block;
    z-index: 100;
  }

  .burger {
    width: 45px;
    position: absolute;
    right: 40px;
    display: inline-block;
    z-index: 300;
    top: 10px;

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }

    .one, .two, .three {
      width: 45px;
      height: 5px;
      background: $primary-color;
      margin: 5px;
      position: relative;
    }

    &.active {
      /* Add mixin */
      -webkit-animation: spin .5s ease;
    }

    .one-active {
      -webkit-animation: rotate-left .5s ease-in;
      animation-delay: 0.1s;
      z-index: 999;
      background: #fff;
    }

    .three-active {
      -webkit-animation: rotate-right .5s ease-in;
      animation-delay: 0.1s;
      z-index: 999;
      background: #fff;
    }

    .hide-two {
      -webkit-animation: hide .5s ease-in;
      animation-delay: 0.1s;
      z-index: 999;
      background: #fff;
    }
  }
}

.one-active {
  @include transform(rotate(45deg));
  background: #fff;
}

.hide-two {
  opacity: 0;
}


.three-active {
  @include transform(rotate(-45deg));
  right: 0px;
  top: -20px;
  background: #FFF;
}


// ######## Intro ############

.intro {
  margin: 100px;
  text-align: center;
  background: url('../img/bg-intro.png') center bottom  no-repeat $secondary-color;
  position: relative;

  .intro-content {
    padding: 140px 0px;
  }

  .hello-text {
    color: $primary-color;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 1.2em;
  }

  .tagline {
    color: $primary-color;
    font-size: 48px;
    margin: 45px;
    display: block;
    font-size: 5em;
  }

  p {
    font-weight: 200;
    font-size: 2em;
    margin-bottom: 40px;
  }

  .play-video-btn {
    display: inline-block;
    color: $primary-color;
    border: 4px solid $primary-color;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 40px;
    position: relative;
    background: none;
    @include transition(all 0.3s ease);
    font-size: 1.1em;
    letter-spacing: 3px;

    &:hover {
      background: $primary-color;
      color: #FFF;
      border-radius: 100px;
      top: -5px;
      @include transform(scale(1.1));
      cursor: pointer;
    }
  }
}

// ############ Advantages ##################

.advantages {
  text-align: center;
  margin-bottom: 50px;

  .title-advantages {
    color: #FFF;
    margin-bottom: 50px;
  }

  .card {
    display: inline-block;
    vertical-align: top;
    background: #FFF;
    border-radius: 3px;
    padding: 50px 0px;
    position: relative;
    margin: 0 10px 0 0;
    @include transition(all 0.3s ease);

    &.col-4 {
      width: 32%;
    }

    &.knowledge {
      padding: 47px 0;
    }

    &.engage {
      padding: 51px 0;
    }

    .icon {
      -webkit-transition: all 0.3s ease;
      margin-bottom: 35px;
      display: inline-block;
    }

    .card-title {
      color: $primary-color;
      margin-bottom: 65px;
      display: block;
      font-size: 22px;
    }

    p {
      font-weight: 200;
      font-size: 26px;
      width: 80%;
      margin: 0 auto;
      color: rgba(0,0,0,0.7);
      margin-bottom: 60px;
    }

    .card-link {
      color: $primary-color;
      font-size: 22px;
      font-weight: 600;
    }
  }
}

//#################### Slider ##################################

.work {
	background: #b4362a;
	width: 100%;
	margin: 100px 0px 0px 0px;
	opacity: 1;
	text-align: center;

	.our-work {
			color: rgba(0,0,0,0.6);
			font-size: 1.5em;
			margin-bottom: 50px;
      padding-top: 40px;
	}

	.item-slide {
		padding: 100px 0px;
    display: none;
		background-position: 80%;
		background-size: 430px;
		height: 600px;
		
		.work-title {
			color: #FFF;
			font-size: 3em;
			text-decoration: underline;
		}

		p {
			margin: 50px auto;
			color: #fff;
			font-size: 3.5em;
			font-weight: 200;
			width: 50%;
		}

		.play-video-btn {
		    background: none;
		    border: 1px solid #FFF;
		    @include border-radius(3px);
		    color: #FFF;
		    display: inline-block;
		    font-size: 1.1em;
		    letter-spacing: 3px;
		    padding: 15px 40px;
		    position: relative;
		    text-decoration: none;
		    text-transform: uppercase;
        @include transition(all 0.3s ease);

		    &:hover {
          @include border-radius(100px);
		      top: -5px;
          @include transform(scale(1.1));
		      cursor: pointer;
		    }
  		}

    &.active {
      /*display: block;*/
    }

		h3 {color: #fff; font-size: 2em;}
	}
}

.pikster {
	background: url('../img/pikster.png') no-repeat; 
}



//#################### Skills ##################################
.skills {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;

  .mask {
    background: #FFF;
    @include transition(width 1s ease-in-out);
    cursor: pointer;
    float: left;
    display: inline-block;
    height: 500px;
    padding: 0;
    text-align: center;

    &:hover {
      background: $primary-color;
      color: #FFF;
    }

    &.hide {
      width: 0;
    }

    .more {
      position: absolute;
      display: none;
      top: 50%;
      z-index: -1;

      &.push-front {
        z-index: 1;
        display: block;
      }
    }
  }

  .skill {
    margin-top: -12.5%;
    position: absolute;
    top: 50%;
    @include transition(width 1s ease-in-out);
    width: 100%;

    &.hide-all {
      display: none;
    }

    h4 {
      padding: 20px 0;
    }

    .tagline {
      color: $light-gray;
    }
  }

  .expand-content {
    background: $primary-color;
    color: #FFF;
    display: block;
    opacity: 1;
    @include transition(width 1s ease-in-out);
    width: 100%;

    .more {
      display: block;
      z-index: 1;
    }
  }

  .fusion {
    background: #000;
    color: #FFF;
    display: inline-block;
    width: 80px;
    height: 80px;
    text-transform: uppercase;

    &.circle {
      border-radius: 50%;
      right: 47%;
      position: absolute;
      top: 50%;
      @include transition(1s ease-in-out);
      z-index: 300;
      line-height: 80px;
      text-align: center;
      font-size: 12px;

      span {
        line-height: normal;
        display:inline-block;
        vertical-align: middle;
      }

      &.move-left {
        cursor: pointer;
        @include transform(translate(600px, -200px));
        @include transform(scale(0.5));
        top: 0;
        right: 0;
        font-size: 16px;
      }

      &.move-right {
        cursor: pointer;
        @include transform(scale(0.5));
        top:0;
        right: 93%;
        font-size: 24px;
      }
    }
  }
}
//########################Testimonials###########

.testimonials {
	background: #fff;

  &.row {
    margin: 0;
  }

  .picture {
    padding: 0;
    position: relative;

    img {
      display: block;
      width: 100%;
    }
  }

  .fake-skew {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 683px 64px;
    border-color: transparent transparent #ffffff transparent;
    display: inline;
    right: 0;
    position: absolute;
    top: 0;
  }

  h4 {
  	font-size: 1.6em;
  }

  .quote {
    box-sizing: border-box;
    float: right;
    padding: 82px 100px;

    blockquote {

     p {
     	color: $primary-color;
		font-size: 2em;
		padding: 80px 0;
		font-weight: 100;
     }

      .cite {
        color: #000;
        padding: 0px 10px;
        text-align: left;
      }
    }
  }
}

.footer {
  background: #FFF;
  color: $primary-color;
  padding: 100px;
  text-align: center;
  text-transform: uppercase;
  font-size: .75em;

  .contact {
    color: $primary-color;
  }

  &.index {
    background: transparent;
    color: #FFF;

    .contact {
      color: #FFF;
      text-decoration: none;

      &:visited {
        color: #FFF;
      }
    }
  }
}


// ############ Animations ##################


@-webkit-keyframes rotate-right {
  0% {
    -webkit-transform: rotate(0deg);
    right: 0px;
    top: 0px;
  }
  100% {-webkit-transform: rotate(-45deg);
    right: 0px;
    top: -20px;
  }
}


@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(-0deg);
  }
  100% {
    -webkit-transform: rotate(-180deg);
  }
}


@-webkit-keyframes rotate-left {
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(45deg);}
}

@-webkit-keyframes hide {

  0% {
    -webkit-transform: rotate(0deg);
    top: 0px;
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    -webkit-transform: rotate(90deg);
    top: 200px;
  }
}
@-webkit-keyframes move {
  50% {
    bottom: 50%;
    left: -70%;
  }
}


// ************************** Info banner ***********************************//
.info {
  background: #FFF;
  width: 100%;
  height: 300px;
}


