@include keyframes(bg-size) {
  from {
    background-size: 100%;
  }

  to {
    background-size: 105%;
  }
}

.projects-container {
  position: relative;
}

.projects-container-item {
  @include background-size(cover);
  @include transition(all .3s ease-in-out);
  background-position: right center;
  background-repeat: no-repeat;
  border-radius: px-to-rems(10);
  height: 85vh;
  margin: 20vh auto;
  position: relative;
  width: 85vw;

  @include phone {
    opacity: 1 !important;
  }

  &:hover {
    height: 90vh;
    width: 90vw;
  }

  .project-listing {

    &-number {
      color: $light-color;
      font-weight: 900;
    }

    &-name {
      color: $light-color;
      font-size: px-to-rems(56);
      font-weight: 900;
    }

    &-link {
      color: $light-color;
      cursor: pointer;
      display: inline-block;
      padding: px-to-rems(20) 0;
      position: relative;
      text-decoration: none;
      transition: all .3s ease;
      vertical-align: middle;
    }

    &-link::after {
      background: $light-color;
      bottom: 0;
      content: '';
      display: block;
      height: px-to-rems(2);
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      transition: all .3s ease;
      width: 20%;
    }

    &-link:hover::after {
      transform: translateX(-50%)scaleX(6);
    }
  }

  .project-info {
    color: $light-color;
    font-size: px-to-rems(16);
    margin-top: px-to-rems(32);
  }
}

.project-page {
  border: none;
  height: 100%;

  .container {
    max-width: 90%;
  }

  p {
    font-weight: lighter;
  }

  body {
    background: $light-color;
  }
}

.header {
  @include background-size(cover);
  background-attachment: fixed;
  height: 100vh;
  overflow: hidden;

  @include phone {
    background-attachment: initial;
  }

  &::after {
    background-image: linear-gradient(-180deg, rgba(0, 170, 255, .00) 0%, rgba(0, 0, 0, .45) 100%);
    bottom: 0;
    content: '';
    height: 50%;
    position: absolute;
    width: 100%;
  }
}

.title {
  bottom: px-to-rems(32);
  margin: 0 auto;
  max-width: px-to-rems(900);
  padding: px-to-rems(32);
  position: absolute;
  text-align: left;
  z-index: 1000;

  h1 {
    margin-bottom: px-to-rems(4);
  }

  h3 {
    color: $light-color;
    font-size: px-to-rems(24);
  }

  .project-name {
    @include transition(color .5s);
    font-weight: 800;
    line-height: 1;
    margin: 0 auto;
    padding: 0 0 0 px-to-rems(3);

    .project-title {
      color: $light-color;
      font-size: px-to-rems(64);
      font-weight: 800;
    }
  }
}

.case-study-block {
  @extend %clearfix;
  margin: px-to-rems(80) auto;

  p {
    font-size: px-to-rems(17);
    line-height: px-to-rems(32);
    margin: 0 auto;
  }

  .case-study-title {
    font-size: px-to-rems(25);
  }

  &__image {
    width: 100%;
  }

  &__image + &__image {
    padding-top: px-to-rems(8);
  }
}

.quote {
  font-family: 'Playfair', serif;
  font-size: px-to-rems(48);
  font-weight: lighter;
}

.small-block {
  width: 20%;

  p {
    width: 70%;
  }
}

.big-block {
  width: 70%;

  &.center {
    margin: 0 auto;
  }
}

.img-block {
  @include background-size(cover);
  background-position: top;
  background-repeat: no-repeat;
  height: 80vh;
  margin-bottom: 2%;
  overflow: hidden;

  &.half-full {
    background-size: 50%;

    @include phone {
      background-size: 100%;
    }
  }
}

.gif-block {
  @include background-size(cover);
  height: 60vh;
  margin: 0 auto;
  width: 60%;
}

.half-full {
  height: 150vh;
}

.half {
  width: 49%;

  @include phone {
    width: 100%;
  }

  &.pull-left {
    margin-right: 2%;
  }
}
