@include keyframes(bg-size) {
    from {background-size: 100%;}
    to {background-size: 105%}
}

.projects-container {
  position: relative;
}

.projects-container-item {
  background-repeat: no-repeat;
  background-position: right center;
  border-radius: 10px;
  height: 85vh;
  margin: 20vh auto;
  position: relative;
  width: 85vw;
  @include transition(all 0.3s ease-in-out);
  @include background-size(cover);

  @include phone {
    opacity: 1 !important;
  }

  &:hover {
    height: 90vh;
    width: 90vw;
  }

  .project-listing {

    &-number {
      color: #fff;
      font-weight: 900;
    }

    &-name {
      color: #fff;
      font-weight: 900;
      font-size: 3.5em;
    }

    &-link {
      color: #fff;
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      padding: 20px 0px;
      position: relative;
      text-decoration: none;
      transition: all 0.3s ease;

      &:after {
        background: #fff;
        bottom: 0px;
        content:'';
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        transition: all 0.3s ease;
        width: 20%;
      }

      &:hover:after {
        transform: translateX(-50%)scaleX(6);
      }
    }
  }

  .project-info {
    color: #fff;
    font-size: 1em;
    margin-top: 2em;
  }
}

.project-page {
  border: none;
  height: 100%;

  .container {
    max-width: 90%;
  }

  p {
    font-weight: lighter;
  }

  body {
    background: #ffffff;
  }
  .main-menu.is-active, .main-menu.active {
      z-index: 2000;
      .logo {
        svg {
          fill: $primary-color;
        }
      }
      .logo-menu {
        &:before, a {
          color: $primary-color;
        }
      }
      .burger {
        .one, .two, .three {
          background: $primary-color;
        }

        .burger-label {
          color: $primary-color;
        }
      }
  }

  .main-menu {
    .menu-overlay {
      z-index: 2000;
    }
    .logo {
      svg {
        fill: white;
      }
    }
    .logo-menu {
      &:before, a {
        color: white;
      }
    }
    .burger {
      .one, .two, .three {
        background: white;
      }

      .burger-label {
        color: white;
      }
    }
  }
}

.header {
  @include background-size(cover);
  background-attachment:fixed;
  height: 100vh;
  overflow: hidden;

  @include phone {
    background-attachment: initial;
  }

  &:after {
    background-image: linear-gradient(-180deg, rgba(0,170,255,0.00) 0%, rgba(0,0,0,0.45) 100%);
    bottom: 0;
    content: "";
    height: 50%;
    position: absolute;
    width: 100%;
  }
}

.title {
  bottom: 2em;
  margin: 0 auto;
  max-width: 900px;
  padding: 2em;
  position: absolute;
  text-align: left;
  z-index: 1000;

  h1 {
    margin-bottom: .3em;
  }

  h3 {
    color: white;
    font-size: 1.5em;
  }

  .project-name {
    font-weight: 800;
    line-height: 1;
    margin: 0 auto;
    padding: 0 0 0 0.2em;
    @include transition(color 0.5s);

    .project-title {
      font-size: 4em;
      font-weight: 800;
      color: #fff;
    }
  }
}

.case-study-block {
  @extend %clearfix;
  margin: 5em auto;

  p {
    font-size: 1.1em;
    margin: 0 auto;
    line-height: 2em;
  }

  .case-study-title {
    font-size: 1.6em;
  }
}

.quote {
  font-family: 'Playfair', serif;
  font-size: 3em;
  font-weight: lighter;
  line-height: 1.5em;
}

.small-block {
  width: 20%;
}

.big-block {
  width: 70%;

  &.center {
    margin: 0 auto;
  }
}

.small-block {
  p {
    width: 70%;
  }
}

.img-block {
  @include background-size(cover);
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  margin-bottom: 2%;
  overflow: hidden;
}

.img-block {
  &.half-full {
    background-size: 50%;

    @include phone {
      background-size: 100%;
    }
  }
}

.half-full {
  height: 150vh;
}

.half {
  width: 49%;

  @include phone {
    width: 100%;
  }

  &.pull-left {
    margin-right: 2%;
  }
}
