.colors {
	&.cochi-colors {
		.color {
			&:nth-child(2) {
        background: #d64c7b;
      }
      &:nth-child(3) {
        background: #fd9bb8;
      }
      &:nth-child(4) {
        background: #3a252d;
      }
      &:nth-child(5) {
        background: #ffffff;
      }
    }
	}
}