@include keyframes(bounceInDown) {
  0% {
    opacity: 0;
    @include transform(translateY(-2000px));
  }

  60% {
    opacity: 1;
    @include transform(translateY(30px));
  }

  80% {
    @include transform(translateY(-10px));
  }

  100% {
    @include transform(translateY(0));
  }
}


@include keyframes(rotate-right) {
  0% {
    @include transform(rotate(0deg));
    right: 0px;
    top: 0px;
  }

  100% {
    @include transform(rotate(-45deg));
    right: 0px;
  }

}


@include keyframes(move) {

  50% {
    bottom: 50%;
    left: -70%;
  }
}

@-webkit-keyframes scaleUp {
  0% { -webkit-transform: translateX(0) scale(0); }
  100% { -webkit-transform: translateX(0) scale(1); }
}

@keyframes scaleUp {
  0% { -webkit-transform: translateX(0) scale(0); transform: translateX(0) scale(0); }
  100% { -webkit-transform: translateX(0) scale(1); transform: translateX(0) scale(1); }
}

@-webkit-keyframes moveFromRight {
  0% { -webkit-transform: translateX(600%); }
  100% { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes moveFromLeft {
  0% { -webkit-transform: translateX(-600%); }
  100% { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes moveToRight {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(600%); }
}

@-webkit-keyframes moveToLeft {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-600%); }
}

@keyframes moveFromRight {
  0% { -webkit-transform: translateX(600%); transform: translateX(600%); }
  100% { -webkit-transform: translateX(0); transform: translateX(0); }
}

@keyframes moveFromLeft {
  0% { -webkit-transform: translateX(-600%); transform: translateX(-600%); }
  100% { -webkit-transform: translateX(0); transform: translateX(0); }
}

@keyframes moveToRight {
  0% { -webkit-transform: translateX(0%); transform: translateX(0%); }
  100% { -webkit-transform: translateX(600%); transform: translateX(600%); }
}

@keyframes moveToLeft {
  0% { -webkit-transform: translateX(0%); transform: translateX(0%); }
  100% { -webkit-transform: translateX(-600%); transform: translateX(-600%); }
}
