* {
  margin: 0;
  padding: 0;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:visited {
    color: rgba($primary-color, .5);
  }
}

html {
  font-size: px-to-rems(16);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @include phone {
    overflow: auto !important;
  }

  @include ipad {
    overflow: auto !important;
  }
}

@font-face {
  font-family: Circular;
  src: url('//s3.amazonaws.com/icalialabs/assets/fonts/CircularStd-Bold.otf');
  font-weight: 400;
}

body {
  background: $light-space-gray;
  font-family: $regular-font;

  &.index {
    .index-background {
      background-attachment: fixed;
      background-size: 100%;
    }
  }
}

h1,
h2,
h3,
h4 {
  font-family: $brand-font;
  font-weight: 400;
}

h1 {
  font-size: px-to-rems(64);
}

h2 {
  font-size: px-to-rems(48);
}

h3 {
  font-size: px-to-rems(32);
}

h4 {
  font-size: px-to-rems(24);
}

p {
  font-size: px-to-rems(20);
  font-weight: normal;
}

.work-together {
  margin: px-to-rems(128) auto px-to-rems(64);
  width: 85%;
}

.align-flex {
  display: flex;

  &.center {
    align-items: center;
    justify-content: center;
  }

  &.between {
    justify-content: space-between;
  }

  &.wrap {
    flex-wrap: wrap;
  }
}
