* {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include phone {
    overflow: auto !important;
  }
  @include ipad {
    overflow: auto !important;
  }
}

@font-face {
    font-family: Circular;
    src: url(//s3.amazonaws.com/icalialabs/assets/fonts/CircularStd-Bold.otf);
    font-weight:400;
}

body {
  background: #F4F4F4;
  font-family: 'Open Sans', sans-serif;

  &.index {
    .index-background {
      background-size: 100%;
      background-attachment: fixed;
    }
  }
}

h1, h2, h3, h4 {
  font-family: $brand-font;
  font-weight: 400;
}

h1 {font-size: 4rem;}
h2 {font-size: 3rem;}
h3 {font-size: 2rem;}
h4 {font-size: 1.5rem;}
p {font-weight: normal; font-size: 1.3rem;}
a {
  color: $primary-color;

  &:visited {
    color: rgba($primary-color, 0.5)
  }
}

.work-together {
  margin: 8rem auto 4rem auto;
  width: 85%;
}
