.button {
  @include transition(all .5s ease);
  background: $light-red;
  color: $light-color;
  display: inline-block;
  font-size: px-to-rems(13);
  font-weight: 600;
  letter-spacing: px-to-rems(3);
  padding: px-to-rems(20);
  text-transform: uppercase;

  &:hover {
    @include transform(scale(1.2));
  }

  &:visited {
    color: $light-color;
  }
}

.section-tag + .button {
  margin-top: px-to-rems(2);
}

.action-btn {
  @include transition(all .3s ease);
  background: transparent;
  border: px-to-rems(3) solid $light-color;
  border-radius: px-to-rems(100);
  color: $light-color;
  display: inline-block;
  font-size: px-to-rems(13);
  font-weight: 900;
  letter-spacing: px-to-rems(3);
  padding: px-to-rems(15) px-to-rems(40);
  position: relative;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    @include transform(scale(1.1));
    background: $light-color;
    color: $primary-color;
    cursor: pointer;

    &:visited {
      color: $primary-color;
    }
  }

  &:visited {
    color: $light-color;
  }

}

.call-buttons-group {
  display: block;
  position: relative;
  width: 100%;

  a {
    cursor: pointer;
    display: inline-block;
    padding: px-to-rems(20) px-to-rems(100);
    position: relative;
    text-decoration: none;
    transition: all .3s ease;
    vertical-align: middle;

    &::after {
      bottom: 0;
      content: '';

      display: block;
      height: px-to-rems(2);
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      transition: all .3s ease;
      width: 20%;
    }

    &:hover::after {
      transform: translateX(-50%)scaleX(3);
    }
  }

  .sep {
    display: inline-block;
    height: px-to-rems(48);
    transform: skewX(-15deg);
    vertical-align: middle;
    width: px-to-rems(2);
  }

  h6 {
    margin-bottom: 0;
	}
}

.call-buttons-group.white {
  a {
    color: $light-color;

    &::after {
      background: $light-color;
    }
  }

  .sep {
    background: $light-color;
  }
}

.call-buttons-group.red {
  a {
    color: $primary-color;

    &::after {
      background: $primary-color;
    }
  }

  .sep {
    background: $primary-color;
  }
}

.startup-button {
  @include border-radius(50px);
  background: $light-color;
  color: $light-red;
  padding: px-to-rems(8) px-to-rems(32);
  position: relative;
  top: px-to-rems(-80);
}
