.no-hover .culture{
  .perks {
    .perk {
      &.col-6:hover {
        .perk-icon {
          margin-top: 0%;
        }
      }
      &:hover {
        figure {
          @include transition(all 0.4s ease-in-out);

          .perk-icon {
            margin-top: 0%;
            opacity: 1;
          }

          figcaption {
            .perk-description {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.section-header {
  background: #000;

  video, .plyr, .plyr__video-wrapper {
    height: 100%;
  }

  video {
    opacity: 0.8;
  }

}

.culture {

  .values-section {
    text-align: center;
    padding: px-to-rems(100) 0;

    .suraido-container.suraido-container ul {
      height: 20vh;
    }

    .big-header { 
      font-size: 4rem;
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 600;
      font-size: 0.8em;
      padding: 10px 20px;
      border: 2px solid rgba($primary-color,0.3);
      border-radius: 100px;
      position: relative;
      top: 95px;
    }
  }

 
  .career {
    background: $primary-color;
    color: rgba(255, 255, 255, 0.9);
    padding: px-to-rems(150) 0;
    margin: px-to-rems(30) auto;

    .career-icon {
      width: px-to-rems(300);
    }

    p {
      font-size: px-to-rems(16);
      margin: 1.875rem auto;
      max-width: px-to-rems(600);
    }

    h2 {
      @include max-screen($small-screen) {
        line-height: 3rem;
      }
    }
  }

  .perks {
    padding: 100px 0px;

    .section-description {
      margin: 20px auto 100px auto;
      @include max-screen($small-screen) {
        margin-bottom: 45px;
      }
    }

    .perk {
      position: relative;
      padding-top: 33.33%;
      @include transition(all 0.4s ease-in-out);
      overflow: hidden;

      @include max-screen($small-screen) {
        padding-top: 100%;
      }

      @include min-screen(1000px) {
        &.col-6:hover {
          .perk-icon {
            margin-top: -30%;
          }
        }
        &:hover {
          figure {
            @include transform(translateY(-100%));
            .perk-icon {
              margin-top: -80%;
              opacity: 0;
            }

            figcaption {

              .perk-description {
                opacity: 1;
              }

            }
          }
        }
      }

      figure {
        padding: 20px;
        position: absolute;
        width: 100%;
        top: 50%;
        @include transition(all 0.4s ease-in-out);
        @include transform(translateY(-50%));
      }
    }

    .perk-icon {
      margin: 20px auto;
      max-height: 100px;
      @include transition(all 0.5s ease-in);
    }

    .perk-title {
      color: $primary-color;
      font-size: 1.1em;
      margin: 10px 0px;
    }

    .perk-description {
      color: rgba(#000, 0.5);
      margin: px-to-rems(14) auto;
      max-height: 0;
      font-size: px-to-rems(12);
      font-weight: 400;
      @include transition(all 0.5s ease-in);
      @include max-screen($small-screen) {
        opacity: 1;
      }
    }
  }


  .positions {
    padding: 0 0 px-to-rems(100) 0;

    p {
      width: 60%;
      margin: 30px auto;
      color: rgba(0, 0, 0, 0.7);
      line-height: 1.4em;
      font-size: 1.3em;
      font-weight: 200;
    }

    .position {
      background: rgba(#000,0.05);
      color: $primary-color;
      display: inline-block;
      font-size: 1.25rem;
      padding: 1rem;
      text-decoration: none;
      transition: all 0.3s ease;

      img {
        display: block;
        width: px-to-rems(200);
      }

      &:hover {
        cursor: pointer;
        background: rgba(#000,0.1);
        transform: translateY(-10%);
      }
    }
  }
}

.square-bg-1 {
  background: rgba(#000,0.01);
  @include max-screen($small-screen) {
    background: inherit;
  }
}

.square-bg-2 {
  background: rgba(#000,0.03);
  @include max-screen($small-screen) {
    background: inherit;
  }
}

.square-bg-3 {
  background: rgba(#000,0.05);
  @include max-screen($small-screen) {
    background: inherit;
  }
}

.requirements {
  padding: px-to-rems(100);

  ul li {
      margin: px-to-rems(10) 0;
  }

  strong {
    display: block;
    margin: 10px 0;
  }
}
