.enterprise {
  .section-header {
    .section-tag {
      margin: 4rem 0;
    }
  }
}
.text-header {
  h1 {
    margin: 1rem 0;
  }

  h6 {
    margin-bottom: 2.5rem;
  }

  .section-description {
    height: 10rem;
    margin-bottom: 2rem;
    width: 100%;

    p {
      margin-bottom: 2rem;
    }

    .medium {
      width: 58%;
    }
    .small {
      width: 35%;
    }
  }
}

.partners {
  img {
    margin-right: 2rem;
    width: 15%;
    vertical-align: middle;
  }
}