.enterprise {
  .section-header {
    .section-tag {
      margin: 4rem 0;
    }
  }
}

.text-header {
  h1 {
    margin: 1rem 0;
  }

  h6 {
    margin-bottom: 2.5rem;
  }

  .section-description {

    p {
      margin-bottom: 2rem;
    }

    .medium {
      width: 58%;
    }

    .small {
      width: 35%;
    }
  }
}

.partners {
  img {
    margin-right: 2rem;
    vertical-align: middle;
    width: 15%;
  }
}

.features-slider {
  height: 93vh;
  margin-bottom: px-to-rems(40);
  overflow: hidden;
}
