.main-footer {
  background: $light-space-gray;
  padding: px-to-rems(50) 0;

  a:hover {
    opacity: .5;
  }

  .logo > svg {
    fill: $primary-color;
    height: px-to-rems(60);
    width: px-to-rems(60);
  }

  .direction,
  a,
  .nav-title {
    color: $primary-color;
    display: block;
    font-size: px-to-rems(16);
    text-decoration: none;
  }
}
