.main-footer {
  background: #F4F4F4;
  padding: 50px 0px;

  a:hover {
    opacity: 0.5;
  }

  .logo > svg {
    fill: $primary-color;
    width: 60px;
    height: 60px;
  }

  .direction, a, .nav-title {
    color: $primary-color;
    font-size: 1em;
    display: block;
    text-decoration: none;
  }
}
