  .info {
    padding: 100px 0px;
    text-align: center;

    .section-name {
      margin-bottom: 20px;
    }

    .section-tag {
      margin-bottom: 30px;
    }
  }

  .section-header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    text-align: center;
    width: 100%;

    &.middle {
      height: 50vh;
    }

    a, span {
      text-decoration: none;
    }

    h2.light {
      color: #fff;
    }

    svg {
  		max-width: px-to-rems(300);
  	}

  	.startup-icon {
  		position: relative;
  		img {
  			max-width: px-to-rems(600);
  		}
  	}
  }

  .text-header {
  	margin: 0 auto;
  	height: 60vh;
  	width: 80%;

  	@include phone {
  		min-height: 100vh;
  	}

  	h1 {
  		margin: 2rem 0;
  	}

  	h6 {
  		margin-bottom: 2.5rem;
  	}

  	.section-description {
  		height: 10rem;
  		margin-bottom: 2rem;
  		width: 100%;

  		.medium {
  			width: 58%;
  		}
  		.small {
  			width: 35%;
  		}
  	}
  }
