// ######## Intro ############

.intro {
  text-align: center;
  // background: url(https://s3.amazonaws.com/icalia/assets/img/bg.png) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;

  video, object, .particles {
    position: fixed;
    top:0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }

  .intro-content {
    z-index: 1;
    position: absolute;
    width: 100%;
    left: 0;

    &_subtitle {
      text-transform: uppercase;
      color: #fff;
      font-size: 0.8em;
      letter-spacing:0.5em; 
    }

    &_title {
      color: #fff;
      font-size: 2em;
    }
  }
}

// ############ Advantages ##################

@include max-screen($small-screen) {
  .testimonials {
    .quote-container {
      height: 400px;
    }
  }
}
