.menu-overlay {
  background: $menu-bg-color;
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 300;

  .menu-content {
    color: $secondary-color;
    display: none;
    padding: px-to-rems(150) 0;
  }

  .label-menu {
    color: $primary-color;
    display: block;
    font-size: px-to-rems(3);
    font-weight: 700;
    letter-spacing: px-to-rems(2);
    text-transform: uppercase;
    transition: all .5s ease;
  }
}

.menu-content-primary-menu {
  .list-menu {
    display: inline-block;
    margin: 3% 0%;
    opacity: 0;
    transform: translateY(-100%);
    transition: all .4s ease;
    transition-delay: 800ms;
    vertical-align: top;
    width: 24%;

    &.show-list-menu {
      opacity: 1;
      transform: translateY(0%);
    }

    .label-menu {
      font-size: px-to-rems(9);
    }

    a {
      display: block;
      text-decoration: none;
    }

    a:hover {
      opacity: .5;
    }
  }

  .big-link {
    color: $primary-color;
    display: inline-block;
    font-size: px-to-rems(48);
    font-weight: 700;
    margin: 3% 0;
    opacity: 0;
    text-decoration: none;
    transform: translateY(-100%);
    transition: transform .4s ease, opacity .4s ease;
    width: 23%;

    @include phone {
      width: 100%;
    }

    &.l1 {
      transition-delay: 100ms;
    }

    &.l2 {
      transition-delay: 200ms;
    }

    &.l3 {
      transition-delay: 300ms;
    }

    &.l4 {
      transition-delay: 400ms;
    }

    &.l5 {
      transition-delay: 500ms;
    }

    &.l6 {
      transition-delay: 600ms;
    }

    &.show-link {
      opacity: 1;
      transform: translateY(0%);
    }

    &:hover > span {
      transform: translateY(-100%);
    }
  }
}

.main-menu {
  @include transition(all .3s ease-in-out);
  height: auto;
  padding: px-to-rems(30) 0;
  position: absolute;
  top: px-to-rems(10);
  width: 100%;
  z-index: 310;

  .container {
    max-width: 100%;
  }

  &.active {
    left: 0;
    position: fixed;
    right: 0;

    .logo-menu a {
      color: $primary-color;
    }
  }

  .logo {
    display: inline-block;
    position: relative;
    z-index: 100;

    svg {
      fill: $light-color;
      height: px-to-rems(30);
      margin-top: px-to-rems(10);
      width: px-to-rems(30);
    }

    &.active > svg {
      fill: $primary-color;
    }
  }

  .logo-menu {
    animation: bounceInDown 1.5s ease;
    left: 10%;
    position: absolute;
    top: 42%;

    a {
      animation: bounceInDown 1.5s ease;
      color: $light-color;
      display: inline-block;
      font-weight: 600;
      margin: 0 px-to-rems(20);
      text-decoration: none;
      transition: all .4s ease;
    }

    a:hover {
      transform: translateX(10%);
    }

    a:nth-child(1) {
      animation-delay: 100ms;
    }

    a:nth-child(2) {
      animation-delay: 200ms;
    }
  }

  .burger {
    @include transition(all .3s ease-in-out);
    @include transform-origin(center, 25%);
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: px-to-rems(40);
    top: 50%;
    transform: translateY(-50%);
    width: px-to-rems(30);
    z-index: 300;

    &.active {
      transform: translateY(-45%);
    }

    .one,
    .two {
      @include transition(all .3s ease-in-out);
      background: $light-color;
      height: px-to-rems(2);
      margin: px-to-rems(10) 0;
      position: relative;
    }

    &:hover > .burger-label {
      @include transform(rotate(0deg));
      font-size: px-to-rems(8);
    }

    .one.active {
      @include transform(rotate(45deg));
      background: $primary-color;
    }

    .two.active {
      @include transform(rotate(-45deg)translate(px-to-rems(3), px-to-rems(2)));
      background: $primary-color;
      transform-origin: 0 0;
    }
  }

  &.inverse {
    .logo svg {
      fill: $primary-color;
    }

    .logo-menu::before,
    .logo-menu a {
      color: $primary-color;
    }

    .burger .burger-label {
      color: $primary-color;
    }

    .burger .one,
    .burger .two,
    .burger .three {
      background: $primary-color;
    }
  }

  &.is-active {
    background: $light-color;
    box-shadow: 0 px-to-rems(1) px-to-rems(10) $dark-gray2;
    padding: px-to-rems(10) 0;
    position: fixed;
    top: 0;

    .burger-label {
      @include transform(rotate(0deg)translateX(-15%));
      color: $primary-color;
      font-size: px-to-rems(11);
    }

    .logo svg {
      fill: $primary-color;
    }

    .logo-menu::before,
    .logo-menu a {
      color: $primary-color;
    }

    .burger .one,
    .burger .two,
    .burger .three {
      background: $primary-color;
    }
  }
}

.burger-label {
  @include transform(rotate(90deg)translateX(50%));
  @include transition(all .3s ease-in-out);
  color: $light-color;
  display: block;
  font-size: px-to-rems(11);
  font-weight: 900;
  letter-spacing: px-to-rems(2);
  margin: 0 auto;
  text-transform: uppercase;

  &.active {
    @include transform(rotate(0deg)translateX(-15%));
    color: $primary-color;
    font-size: px-to-rems(11);
  }
}

.projects {
  .main-menu.is-active,
  .main-menu.active {
    z-index: 2000;

    .logo svg {
      fill: $primary-color;
    }

    .logo-menu a {
      color: $primary-color;
    }

    .burger .one,
    .burger .two,
    .burger .three {
      background: $primary-color;
    }

    .burger .burger-label {
      color: $primary-color;
    }
  }

  .main-menu {
    .menu-overlay {
      z-index: 2000;
    }

    .logo svg {
      fill: $primary-color;
    }

    .logo-menu a {
      color: $primary-color;
    }

    .burger .one,
    .burger .two,
    .burger .three {
      background: $primary-color;
    }

    .burger .burger-label {
      color: $primary-color;
    }
  }
}

.project-container {
  .main-menu {
    .menu-overlay {
      z-index: 2000;
    }

    .logo svg {
      fill: $light-color;
    }

    .logo-menu a {
      color: $light-color;
    }

    .burger .one,
    .burger .two,
    .burger .three {
      background: $light-color;
    }

    .burger .burger-label {
      color: $light-color;
    }
  }
}

