.colors {
	&.okudoc-colors {
		.color {
			&:nth-child(2) {
        background: #71399E;
      }
      &:nth-child(3) {
        background: #B975D8;
      }
      &:nth-child(4) {
        background: #FEFBFF;
      }
      &:nth-child(5) {
        background: #ffffff;
      }
    }
	}
}