.project-page {
  border: none;
  height: 100%;

  .container {
    max-width: 90%;
  }

  p {
    font-weight: lighter;
  }

  body {
    background: #ffffff;
  }
  .main-menu.is-active, .main-menu.active {
      z-index: 2000;
      .logo {
        svg {
          fill: $primary-color;
        }
      }
      .logo-menu {
        &:before, a {
          color: $primary-color;
        }
      }
      .burger {
        .one, .two, .three {
          background: $primary-color;
        }

        .burger-label {
          color: $primary-color;
        }
      }
  }

  .main-menu {
    .menu-overlay {
      z-index: 2000;
    }
    .logo {
      svg {
        fill: white;
      }
    }
    .logo-menu {
      &:before, a {
        color: white;
      }
    }
    .burger {
      .one, .two, .three {
        background: white;
      }

      .burger-label {
        color: white;
      }
    }
  }
}

.header {
  height: 100vh;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.title {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 1.25em;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  @include transform(translateX(-50%) translateY(-50%));
  text-align: left;
  z-index: 1000;

  .project-name {
    font-weight: 800;
    line-height: 1;
    margin: 0 auto;
    padding: 0 0 0 0.2em;
    @include transition(color 0.5s);

    .project-title {
      font-size: 4em;
      font-weight: 800;
      color: #fff;
      text-align: center;
    }
  }
}

.case-study-block {
  @extend %clearfix;
  margin: 5em auto;

  p {
    font-size: 1.1em;
    margin: 0 auto;
    line-height: 2em;
    width: 90%;
  }

  .case-study-title {
    font-size: 1.6em;
  }
}

.quote {
  font-family: 'Playfair', serif;
  font-size: 3em;
  font-weight: lighter;
  line-height: 1.5em;
}

.small-block {
  width: 20%;
}

.big-block {
  width: 70%;
}

.img-block {
  @include background-size(cover);
  background-position: center;
  height: 80vh;
  margin-bottom: 2%;
  overflow: hidden;
}
.half {
  width: 49%;

  &.pull-left {
    margin-right: 2%;
  }
}