@include keyframes(bg-size) {
    from {background-size: 100%;}
    to {background-size: 105%}
} 

.projects-container {
  position: relative;
}

.projects-container-item {
  height: 85vh;
  width: 85vw;
  margin: 3vh auto;
  border-radius: 10px;
  box-shadow: 0 6px 40px rgba(146, 6, 6, 0.78), inset 0 1px 1px rgba(255, 255, 255, 0.25);
  position: relative;
  
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: right center;
  @include transition(all 0.3s ease-in-out);
  @include background-size(cover);

  .project-listing {

    &-number {
      color: #fff;
      font-weight: 900;
    }

    &-name {
      color: #fff;
      font-weight: 900;
      font-size: 2em;
    }

    &-link {
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
        padding: 20px 0px;
        position: relative;
        transition: all 0.3s ease;
        cursor: pointer;
        color: #fff;

      &:after {
        content:'';
        height: 2px;
        width: 20%;
        display: block;
        position: absolute;
        left: 50%;
        bottom: 0px;
        transform: translateX(-50%);
        transition: all 0.3s ease;
        background: #fff;
      }

      &:hover:after {
        transform: translateX(-50%)scaleX(6);
      }
    }
  }

  .project-info {
    color: #fff;
    font-size: 1em;
  }
}