.show-menu {
  display: block !important;
}

// ######## Load Image ############

.load-mask {
  background: $primary-color;
  bottom: 0;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 101;
}

.hide-mask {
  opacity: 0;
}

//JOBS

.job {
  .requirements {
    .container {
      padding: px-to-rems(40) 0;
    }

    strong {
      line-height: 3;
    }

    .col-6 {
      padding: 0 px-to-rems(20);
    }
  }
}
