.big-header {
  display: block;
  line-height: 1em;

  @include max-screen($small-screen) {
    margin: 25px;
  }
}

.show-menu {
  display: block !important;
}

// ######## Load Image ############

.load-mask {
  background: $primary-color;
  bottom: 0;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 101;
}

.hide-mask {
  opacity: 0;
}
