a {
  text-decoration: none;
}

.vertical-text {
  @include transform(rotate(-90deg) translateX(-90%));
}

.letter-spacing {
  letter-spacing: px-to-rems(4);
  text-transform: uppercase;
}

.clearfix {
  clear: both;
}

.section-header {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  width: 100%;

  &.middle {
    height: 50vh;
  }

  a,
  span {
    text-decoration: none;
  }

  h2.light {
    color: $light-color;
  }

  svg {
    max-width: px-to-rems(300);
  }

  .startup-icon {
    position: relative;

    img {
      max-width: px-to-rems(600);
    }
  }
}

.text-header {
  margin: 0 auto;
  min-height: 70vh;
  width: 80%;

  @include phone {
    min-height: 100vh;
  }

  h1 {
    margin: px-to-rems(32) 0;
  }

  h6 {
    margin-bottom: px-to-rems(40);
  }

  .section-description {
    margin-bottom: px-to-rems(50);
    width: 100%;

    .medium {
      width: 58%;
    }

    .small {
      width: 35%;
    }
  }
}

.startup-work {
  margin-bottom: px-to-rems(64);

  h6,
  p {
    margin-bottom: px-to-rems(40);
  }

  .startup-work-container {
    background: $primary-color;
    color: white;
    margin: 0 auto px-to-rems(48) auto;
    padding: px-to-rems(144) px-to-rems(64) px-to-rems(80) px-to-rems(64);
    width: 85%;

    .project-description {
      font-weight: 400;
      margin-bottom: px-to-rems(48);
    }

    img {
      margin-bottom: px-to-rems(8);
      width: 3%;
    }
  }

  .view-more {
    display: block;

    img {
      margin-left: px-to-rems(8);
      position: relative;
      top: px-to-rems(2);
      width: px-to-rems(30);
    }
  }
}

.case-study {
  margin: 0 auto 4rem;
  width: 85%;

  h6 {
    margin-bottom: 2rem;
  }

  h1 {
    margin: 0 auto 2rem;
    width: 60%;
  }

  .pull-left {
    h5,
    h6 {
      position: relative;
    }

    h5 {
      border-bottom: 1px solid $primary-color;
      padding-bottom: .5rem;
      top: 8rem;
      width: 1rem;
    }

    .vertical-text {
      left: -1.5rem;
      top: 8rem;
    }
  }
}

.startups {
  .steps-slider {
    background: $light-color;
    height: 100vh;
    margin-bottom: px-to-rems(64);

    @include phone {
      display: none;
    }
  }

  .features-slider {
    display: none;

    @include phone {
      display: block;
    }
  }
}
