a {
	text-decoration: none;
}

.vertical-text {
	@include transform(rotate(-90deg) translateX(-90%));
}

.letter-spacing {
	letter-spacing: 4px;
	text-transform: uppercase;
}

.clearfix {
	clear: both;
}

.startup-button {
	@include border-radius(50px);
	background: #fff;
	color: #2FA2D9;
	padding: .5rem 2rem;
	position: relative;
	top: -5rem;
}

.section-header {
	svg {
		max-width: px-to-rems(300);
	}

	.startup-icon {
		position: relative;
		img {
			max-width: px-to-rems(600);
		}
	}
}

.text-header {
	margin: 0 auto 4rem auto;
	width: 80%;

	h1 {
		margin: 2rem 0;
	}

	h6 {
		margin-bottom: 2.5rem;
	}

	.section-description {
		height: 10rem;
		margin-bottom: 2rem;
		width: 100%;

		.medium {
			width: 58%;
		}
		.small {
			width: 35%;
		}
	}
}

.startupsSlideContainer {
	height: 100vh;
  	width: 400%;

  .pull-right {
    @include phone {
      float: none;
    }
  }
}

.startup-work {
	margin-bottom: 4rem;

	h6, 
	p {
		margin-bottom: 2.5rem;
	}

	.startup-work-container {
		background: $primary-color;
		color: white;
		margin: 0 auto 3rem auto;
		padding: 9rem 4rem 5rem 4rem;
		width: 85%;

		.project-description {
			font-weight: 400;
			margin-bottom: 3rem;
		}

		img {
			margin-bottom: .5rem;
			width: 3%;
		}
	}

	.view-more {
		display: block;
		
		img {
			margin-left: .5rem;
			position: relative;
			top: 8px;
			width: 30px;
		}
	}
}

.case-study {
	margin: 0 auto 4rem auto;
	width: 85%;

	h6 {
		margin-bottom: 2rem;
	}

	h1 {
		margin: 0 auto 2rem auto;
		width: 60%;
	}

	.pull-left {
		h5, 
		h6 {
			position: relative;
		}

		h5 {
			border-bottom: 1px solid $primary-color;
			padding-bottom: .5rem;
			top: 8rem;
			width: 1rem;
		}

		.vertical-text {
			left: -1.5rem;
			top: 8rem;
		}
	}
}

.call-buttons-group {
	h6 {
		margin-bottom: 0;
	}
}