.section-description {
  font-weight: 100;
  width: 60%;
  font-size: 1.3em;
  margin: 0 auto;
}

.team {

  .wrapper {
    position: relative;

    .gradient {
      @include background-image(linear-gradient(to right,rgba(0,0,0,0), rgba(0,0,0,0.75)));
      width: 100px;
      height: 100%;
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 1;
    }
  }

  .section-header {
    background: url(../images/team.png);
    color: white;
    text-align: left;
    @include background-size(cover);
  }

  .team-header {
    margin: 0 auto;
    position: relative;
    top: 60%;
    width: 60%;
  }

  .team-section {
    cursor: pointer;
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;

    aside {
      background: $primary-color;
      color: white;
      height: 100%;
      float: left;
      left: 0;
      padding: 3rem 2rem;
      position: absolute;
      top: 0;
      width: 18%;
      z-index: 100;

      h6 {
        margin-bottom: 1rem;
      }
      
      nav {
        color: white;
        list-style: none;

        a {
          font-size: 0.8rem;
          color: black;
          display: block;
          margin-bottom: 1rem;
        }
      }
    }

    .member {
      color: white;
      height: 100vh;
      display: none;
      padding: 0;
      position: absolute;
      overflow: hidden;
      width: 100%;
      @include background-size(cover);
      @include transition(all 1s ease-in-out);

      &.show {
        display: block;
      }

      &:first-child{
        display: block;
      }

      .member-info {
        color: white;
        left: 20%;
        position: relative;
        top: 50%;
        width: 40%;
        z-index: 100;

        p {
          font-size: 14px;
        }
      }
    }
  }

  .join {
    background: #FFF;
    padding: 50px;
    text-align: center;

    .tag {
      margin: 30px 0;
    }
  }


  /*
  =============================================
  Media queries
  =============================================
   */

  @include max-screen(768px){
    .team-section {
      .hider {
        cursor: default;
        height: auto;
        width: auto;

        .member {
          .picture {
            cursor: pointer;
            height: auto;
          }
          .info-circle{
            height: 80px;
            border-right: none;
            .name{
              margin-top: 15px;
              font-size: 20px;
            }
            .position{
              font-size: 15px;
            }
          }

        }
      }
    }
  }
}
/*
==============================================
slideUp
==============================================
 */


  .slideUp{
    animation-name: slideUp;
    -webkit-animation-name: slideUp;	

    animation-duration: .7s;	
    -webkit-animation-duration: .7s;

    animation-timing-function: ease;	
    -webkit-animation-timing-function: ease;

    visibility: visible !important;
  }

  @keyframes slideUp {
    0% {
      transform: translateY(100%);
    }
    50%{
      transform: translateY(-8%);
    }
    65%{
      transform: translateY(4%);
    }
    80%{
      transform: translateY(-4%);
    }
    95%{
      transform: translateY(2%);
    }			
    100% {
      transform: translateY(0%);
    }	
  }

  @-webkit-keyframes slideUp {
    0% {
      -webkit-transform: translateY(100%);
    }
    50%{
      -webkit-transform: translateY(-8%);
    }
    65%{
      -webkit-transform: translateY(4%);
    }
    80%{
      -webkit-transform: translateY(-4%);
    }
    95%{
      -webkit-transform: translateY(2%);
    }			
    100% {
      -webkit-transform: translateY(0%);
    }	
  }
