// General variables
$primary-color: #FF3434;
$secondary-color: #f9f9f9;
$menu-bg-color: rgba(255,255,255,0.95);
$light-gray: rgba(0,0,0,0.05);
$dark-gray: #1D252E;
$brand-font: 'Circular' , sans-serif;
$light-color: #fff;
$light-red: #ff3434;

// Media queries
$media-display: "only screen" !default;

//Furatto Overrides
$modal-default-background-color: transparent !default;
$modal-overlay-show-opacity: 1 !default;
$modal-overlay-background: #FFF !default;
$modal-header-background-color: #FFF !default;
