---
layout: project-es
title: Aire
type: projects
bg_img: "//s3.amazonaws.com/icalialabs/assets/img/aire.jpg"
client: Gobierno del Estado de N.L.
---

<div class="content-wrapper">
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">El Desafío</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				Dado que los niveles de contaminación atomsférica en Nuevo León, México están más altos que nunca, el Gobierno del Estado – en conjunto con el Tec de Monterrey – quieren traer esta problemática importante al primer plano con el fin de sensibilizar al público con respecto al tema.
			</p>
		</div>
	</div>
	<div class="case-study-block container">
		<span class="quote">
			Para nosotros era crucial el resaltar las fluctuaciones de la calidad del aire en todos los aspectos de la aplicación.
		</span>
	</div>
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Branding</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				Para el branding de este producto sentíamos que era necesario ser lo más descriptivos posibles con respecto a su funcionamiento, así que tratamos de representar una onda de aire con partículas en movimiento. Los colores de las partículos son un reflejo de la escala existente para la medición de la contaminación o pureza del aire. Como dicta el estándard, los tonos verdes indican pureza, los amarillos y anaranjados indican precaución, dejando los tonos azules para darle una representación más viva del aire mismo.
			</p>
		</div>
	</div>
	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/aire/logo.jpg)"></div>
		<div class="img-block half pull-left" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/aire/icons.jpg)"></div>
		<div class="img-block half" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/aire/aire-icons.jpg)"> </div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Nuestra Solución</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				En nuestra investigación nos dimos cuenta rápidamente de que la data de calidad del aire frecuentemente se desconoce por una falta de accesibilidad. Para poder facilitar el acceso fácil a esta información creamos una aplicación móvil simple y amigable para Android y iOS. Esta aplicación presenta toda la información relevante para que los usuarios puedan planear sus días de acuerdo a los niveles de contaminación de la ciudad.
			</p>
			<p>
				Tanto la aplicación de iOS como la de Android resaltan los niveles de contaminación, lo que significan, y las actividades recomendadas para cada caso. La app también incluye geo-localización para poder mostrar la calidad del aire correspondiente a la parte de la ciudad donde el usuario se encuentra, así como tips y actividades adecuadas para ese día. La aplicación también advierte a los usuarios cuando la calidad del aire es demasiado baja para llevar a cabo actividades al aire libre.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/aire/icon.jpg)"></div>
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/aire/icons-colors.jpg)"></div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">UI/UX</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				Otro elemento fundamental del desarrollo era crear una aplicación centrada en el usuario, y evitar que la experiencia evocara el uso de una aplicación 'corporativa' o de gobierno.
			</p>
			<p>
				Con este fin usamos fondos limpios con imágenes vivas e íconos explícitos para resaltar los niveles de contingencia y otras alertas ambientales.
			</p>
			<p>
				Con la simplicidad de esta app queríamos crear una herramienta que los usuarios pudiesen integrar a sus rutinas diarias, aumentando la concienca del público con respecto a temas tan relevantes como la calidad del aire, conciencia ambiental y sostenibilidad.
			</p>
		</div>
	</div>
	<div class="case-study-block">
		<div class="img-block half pull-left" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/aire/aire-app.png)"></div>
		<div class="img-block half" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/aire/aire-work.jpg)"></div>
	</div>
</div>
