---
layout: project-es
title: Cochi
type: projects
bg_img: "//s3.amazonaws.com/icalialabs/assets/img/cochi.jpg"
client: Banregio
---

<div class="content-wrapper">
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">El Desafío</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				Crear una web app que ayude a los <em>millenials</em> a lograr sus metas financieras. Como un segmento demográfico que está acostumbrado a 'vivir en el momento' ¿cómo ayudarlos a que ahorren lo suficiente para sus metas a corto y mediano plazo?
			</p>
			<p>
				En adición a esta meta, Banregio quería un producto que rompiera con los procesos burocráticos comúnmente asociados a los bancos en México. Era necesario un producto atractivo que ayudara a que sus clientes lograran sus metas de una forma sencilla y sin obstáculos.
			</p>
		</div>
	</div>
	<div class="case-study-block">
		<div class="img-block half pull-left" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/cochi/cochi-work.jpg)"></div>
		<div class="img-block half" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/cochi/cochi-proposals.png)"></div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Nuestra Solución</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				Tras una amplio diálogo con el cliente, enfocado en identificar sus deseos y necesiadades en su totalidad, iniciamos reflexionando, explorando y destilando con servicios y soluciones similares. De manera Paralela comenzamos a trabajar en la arquitectura de la app.
			</p>
		</div>
	</div>
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Branding</h5>
		</div>
		<div class="pull-right big-block">
				<p>
					Banregio quería crear algo que fuera alegre, pero que a la vez no restara importancia al tema del ahorro. La idea general era poder atraer y dialogar con los millenials con algo que inspire confianza pero sin ahuyentarlos con un producto que se sintiera demasiado serio.
				</p>
				<p>
					Dado que nuestro cliente ya había elegido el nombre del producto, "Cochi", como en las alcancías de "cochinito", trabajamos para crear una marca que evocara nuestras primeras memorias asociadas con ahorrar, buscando asociar a la marca en la mente del usuario final con sus memorias de la primera vez que ahorraron su mesada para comprar una nueva bicicleta o juguete.
				</p>
		</div>
	</div>
	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/cochi/construction.jpg)"></div>
		<div class="img-block half pull-left" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/cochi/proposal.jpg)"></div>
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/cochi/logo.png)"></div>
	</div>
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">UI/UX</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				Con el fin de hacer las cosas lo más sencillas posible para el usuario final, nos centramos en la construcción de un producto cuyo enfoque principal era eliminar el trabajo necesario para poder ahorrar.

				Tras trabajar y probar con varios prototipos, llegaos a una solución que guía al usuario a través de un sencillo proceso de <em>onboarding</em> que luego elimina otros obstáculo y los enfoca para poder comenzar a ahorrar. Adicionalmente, creamos un sencillo pero potente dashboard para permitir a los usuarios visualizar fácilmente sus ahorros.
			</p>
		</div>
	</div>
	<div class="case-study-block">
		<div class="img-block half half-full pull-left" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/cochi/wireframes.png)"></div>
		<div class="img-block half half-full" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/cochi/wireframes-dashboard.png)"></div>
	</div>

	<div class="case-study-block">
		<div class="img-block full" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/cochi/cochi-landing.png)"></div>
	</div>
</div>
