---
layout: project
title: Dash
type: projects
bg_img: "https://s3.amazonaws.com/icalialabs/assets/img/dash/dash-bg.jpg"
subtitle: Small documents translation made easy.
---

<div class="content-wrapper">
	<div class="smaller-container">
		<h6 class="case-study__title">ABOUT THE CLIENT</h6>
		<p class="case-study__regular">
			<b>Dash</b> is a division of Directum, a major firm offering translation services to a wide variety of clients. Dash’s purpose is to focus on translations of brief legal documents, for a more digital-oriented market.
		</p>
	</div>

	<div class="imagery-block align-flex center">
		<img src="https://s3.amazonaws.com/icalialabs/assets/img/dash/imagery/01-imagery.png" alt="">
		<img src="https://s3.amazonaws.com/icalialabs/assets/img/dash/imagery/02-imagery.png" alt="">
	</div>

	<div class="smaller-container">
		<h6 class="case-study__title">THE CHALLENGE</h6>
		<h2 class="case-study__question">We helped Dash to streamline and digitalize their quote generation process.</h2>
		<p class="case-study__content">
			When we met Dash, they were trying to free some of their staff’s time, previously invested in managing contact with prospects; generating quotes one by one; handling payments; and so on. They were sure that the market segment they were chasing was looking for quick and practical solutions, and requested us to take such approach with the project.
		</p>
	</div>

	<div class="imagery-block" style="background-image: url(https://s3.amazonaws.com/icalialabs/assets/img/dash/dash-branding.png)"></div>

	<div class="smaller-container">
		<h6 class="case-study__title">OUR APPROACH</h6>
		<p class="case-study__regular">
			We tackled the quote generation process directly, translating it to a digital survey and a compact backoffice for the staff. We also provided branding and naming design, completely revamping how the product looks and works.
		</p>
	</div>
</div>	

<div class="highlight">
	<div class="smaller-container">
		<h6 class="case-study__title">THE WORK</h6>
		<h2 class="case-study__question">Easy to use quote generator</h2>
		<p class="case-study__content">
			We emulated the calculations that the translator follows to make quotes, like calculating word count and evaluating the case based on document type. This allowed customers to request for work, creating pre-calculated quotes on the system.
		</p>
		<p class="case-study__content">
			Dash’s translators then review the quotes and approve them, allowing the automatic online charge for the services. Translators can then focus solely on their jobs, thus improving their capacity of processing job orders.
		</p>
	</div>
</div>

<div class="one-highlight-image__container">
	<img src="https://s3.amazonaws.com/icalialabs/assets/img/dash/quote.png" alt="">
</div>

<div class="highlight">
	<div class="smaller-container">
		<h6 class="case-study__title">THE WORK</h6>
		<h2 class="case-study__question">Translation process tracking.</h2>
		<p class="case-study__content">
			While the translators do their work, customers are able to see a status of their translation online (particularly useful when customers are waiting for sensitive legal documents), and get notifications once the work is done.
		</p>
	</div>
</div>

<div class="two-highlight-image__container">
	<div class="row">
		<div class="col-6 align-flex center">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/dash/01-process.png" alt="">
		</div>
		<div class="col-6 align-flex center">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/dash/02-process.png" alt="">
		</div>
	</div>
</div>

<div class="highlight">
	<div class="smaller-container">
		<div class="link-container align-flex">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/link-icon.png" alt="">
			<div>
				<h6>View it online</h6>
				<a href="https://www.click-dash.com/" target="_blank">www.click-dash.com</a>
			</div>
		</div>
	</div>	
</div>

<div class="suggestions">
	<div class="container">
		<h2 class="case-study__question"><span>Like what you see?</span> <br> Check out these other projects:</h2>

		<div class="align-flex between">
			<div class="case-study__container" style="background-image: url(https://s3.amazonaws.com/icalialabs/assets/img/okudoc.jpg);">
				<div class="suggestions-info">
					<h6>OkuDoc</h6>
					<p>Helping users find doctors and appoint visits easily online.</p>
				</div>
			</div>

			<div class="case-study__container" style="background-image: url(https://s3.amazonaws.com/icalialabs/assets/img/printoo.jpg);">
				<div class="suggestions-info">
					<h6>Printoo</h6>
					<p>Enticing user’s to have fun while bringing their photos to life.</p>
				</div>
			</div>
		</div>
	</div>
</div>
