---
layout: project
title: Aire
type: projects
bg_img: "//s3.amazonaws.com/icalialabs/assets/img/aire.jpg"
client: Gobierno del Estado de N.L.
---

<div class="content-wrapper">
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">The Challenge</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				Given that air pollution levels have reached an all time high in Nuevo Leon, Mexico, our state government, in conjunction with TEC de Monterrey, wanted to bring this important issue to the forefront in order to raise awareness about air quality in our region.
			</p>
		</div>
	</div>
	<div class="case-study-block container">
		<span class="quote">
			For us, it was key to highlight air-quality's movement across the entire application.
		</span>
	</div>
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Branding</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				For the branding of this product we felt the need to be the most descriptive as possible with its function, so we tried to represent an air wave with moving particles. The particles' colors are a reflection of the existing standard scale for the measurement of air contamination and purity levels. As the standard dictates, green tones indicate purity, the yellow and orange indicate caution, leaving the blue tones to give more lively representation of air itself.
			</p>
		</div>
	</div>
	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/aire/logo.jpg)"></div>
		<div class="img-block half pull-left" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/aire/icons.jpg)"></div>
		<div class="img-block half" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/aire/aire-icons.jpg)"> </div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Our solution</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				In our user research we quickly realized that air-quality data isn't known because of its lack of accessibility. In order to provide easy access to it, we created a very simple, user friendly mobile application for iOS and Android which presents all the relevant information in order for users to be able to plan their day according to the pollution levels of that day.
			</p>
			<p>
				Both the iOS and Android app highlight pollution levels, what they mean, and recommended activities for each case. The app also includes geo-localization in order to show the air-quality of the part of town where the user is at, and tips and recommended activities for that day. Tha app also warns users when the air quality is to low for outdoor activities.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/aire/icon.jpg)"></div>
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/aire/icons-colors.jpg)"></div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">UI/UX</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				It was important for us to create a very user-centered application and also wanted to avoid the application to feel it like an enterprise of government application.
			</p>
			<p>
				So we used clear backgrounds with full-life pictures and explicit icons to highlight contingency levels or the environmental alerts.
			</p>
			<p>
				With this app's simplicity, we wanted to create an app that users could integrate to their daily routines, thereby raising awareness to such important issues like air quality, environmental awareness, and sustainability. 
			</p>
		</div>
	</div>
	<div class="case-study-block">
		<div class="img-block half pull-left" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/aire/aire-app.png)"></div>
		<div class="img-block half" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/aire/aire-work.jpg)"></div>
	</div>
</div>
