---
layout: project
title: Datoz
type: projects
bg_img: "../images/datoz/datoz-bg.png"
subtitle: The definitive data source for Industrial Real Estate Brokers.
---

<div class="content-wrapper">
	<div class="smaller-container">
		<h6 class="case-study__title">ABOUT THE CLIENT</h6>
		<p class="case-study__regular">
			<b>Datoz</b> is a firm specialized in the Real State Industry, with a strong focus on warehouses. They provide listings and intelligence to brokers and companies about the status of the local Real Estate Markets. We helped Datoz to visualize and distribute their valuable data sets to key players in the Industrial Real Estate industry.
		</p>
	</div>

	<div class="imagery-block" style="background-image: url(images/datoz/imagery.png);"></div>

	<div class="smaller-container">
		<h6 class="case-study__title">THE CHALLENGE</h6>
		<h2 class="case-study__question">How to provide Real Estate <span>data and intelligence</span> in the best possible way?</h2>
		<p class="case-study__content">
			Datoz already counted with a large set of data with relevant information about Industrial Ships in several Mexican regions. They wanted to migrate from their legacy system into a more modern and accessible data provider platform.
		</p>
	</div>
	<div class="smaller-container">
		<h6 class="case-study__title">OUR APPROACH</h6>
		<p class="case-study__regular">
			We tackled the quote generation process directly, translating it to a digital survey and a compact backoffice for the staff. We also provided branding and naming design, completely revamping how the product looks and works.
		</p>
	</div>
	<div class="imagery-block" style="background-image: url(images/datoz/branding.png)"></div>
</div>	

<div class="highlight">
	<div class="smaller-container">
		<h6 class="case-study__title">THE WORK</h6>
		<h2 class="case-study__question">Availability Explorer</h2>
		<p class="case-study__content">
			The main browsing screens allow for a smooth exploration of available properties for rent or sale, and toggling between list and map views aids the user to quickly find what he/she is looking for.
		</p>
		<p class="case-study__content">
			A robust set of filters also provide further scoping of the search, which allows brokers quickly move in and out of detail. Individual property views provide the most detailed info about the properties on the listing, for users trying to sell or rent such properties.
		</p>
	</div>
</div>

<div class="two-highlight-image__container">
	<div class="row">
		<div class="col-6 align-flex center">
			<img src="images/datoz/01-availability.png" alt="">
		</div>
		<div class="col-6 align-flex center">
			<img src="images/datoz/02-availability.png" alt="">
		</div>
	</div>
</div>

<figcaption>Users are able to explore properties as list, or in a map</figcaption>

<div class="highlight">
	<div class="smaller-container">
		<h6 class="case-study__title">THE WORK</h6>
		<h2 class="case-study__question">Reports Generation</h2>
		<p class="case-study__content">
			Aware of how insightful their data is, Datoz provides their users a way to generate custom reports based on single properties, or groups of properties; helping them with the decision making process online and offline.
		</p>
	</div>
</div>

<div class="highlight-image__container">
	<img src="images/datoz/01-reports.png" alt="">
	<img class="pull-right" src="images/datoz/02-reports.png" alt="">
	<img src="images/datoz/03-reports.png" alt="">
</div>

<figcaption>Brokers are able to select multiple properties and generate detailed comparissons.</figcaption>

<div class="highlight">
	<div class="smaller-container">
		<div class="link-container align-flex">
			<img src="images/link-icon.png" alt="">
			<div>
				<h6>View it online</h6>
				<a href="https://www.datoz.com/" target="_blank">www.datoz.com</a>
			</div>
		</div>
	</div>	
</div>

<div class="suggestions">
	<div class="container">
		<h2 class="case-study__question"><span>Like what you see?</span> <br> Check out these other projects:</h2>

		<div class="align-flex between">
			<div class="case-study__container" style="background-image: url(https://s3.amazonaws.com/icalialabs/assets/img/okudoc.jpg);">
				<div class="suggestions-info">
					<h6>OkuDoc</h6>
					<p>Helping users find doctors and appoint visits easily online.</p>
				</div>
			</div>

			<div class="case-study__container" style="background-image: url(https://s3.amazonaws.com/icalialabs/assets/img/printoo.jpg);">
				<div class="suggestions-info">
					<h6>Printoo</h6>
					<p>Enticing user’s to have fun while bringing their photos to life.</p>
				</div>
			</div>
		</div>
	</div>
</div>
