---
layout: project
title: Datoz
type: projects
bg_img: "https://s3.amazonaws.com/icalialabs/assets/img/datoz/datoz-bg.png"
subtitle: La fuente de datos definitiva para la Bienes Raíces Industriales
---

<div class="content-wrapper">
	<div class="smaller-container">
		<h6 class="case-study__title">ACERCA DEL CLIENTE</h6>
		<p class="case-study__regular">
			<b>Datoz</b> es una firma especializada en las bienes raíces, con un enfoque inicial en el sector industrial (bodegas y naves industriales). Proveen listados e inteligencia de propiedades a corredores y compañías de bienes raíces, con información clave sobre los mercados regionales. En Icalia les ayudamos a visualizar y distribuír su valiosa información de mejor manera, para alcanzar a más participantes clave de la industria.
		</p>
	</div>

	<div class="imagery-block" style="background-image: url(https://s3.amazonaws.com/icalialabs/assets/img/datoz/imagery.png);"></div>

	<div class="smaller-container">
		<h6 class="case-study__title">EL RETO</h6>
		<h2 class="case-study__question">¿Cómo entregar <<span>datos e inteligencia</span> inmobiliaria de la mejor manera posible?</h2>
		<p class="case-study__content">
			Datoz contaba desde un inicio con un set de datos importante sobre Bienes Raíces del sector industrial. Querían migrar de su sistema anterior (con diversas limitantes) hacia una plataforma más moderna y accesible.
		</p>
	</div>
	<div class="smaller-container">
		<h6 class="case-study__title">NUESTRA PROPUESTA</h6>
		<p class="case-study__regular">
			Abordamos el reto de diversas perspectivas: ayudándoles a re-pensar cómo modelan su base de datos; planeando con ellos una nueva manera de diseñar su servicio a escala digital; etc. De igual manera, creamos una identidad de marca totalmente nueva para su plataforma.
		</p>
	</div>
	<div class="imagery-block" style="background-image: url(https://s3.amazonaws.com/icalialabs/assets/img/datoz/branding.png)"></div>
</div>	

<div class="highlight">
	<div class="smaller-container">
		<h6 class="case-study__title">EL RESULTADO</h6>
		<h2 class="case-study__question">Catálogo de Disponibilidad</h2>
		<p class="case-study__content">
			Las ventanas principales de exploración permiten encontrar de manera sencilla distintas propiedades en renta y/o venta, y cambiar de vista entre listados y un mapa para facilitar la búsqueda.
		</p>
		<p class="case-study__content">
			Un conjunto de filtros bastante robusto permite reducir consecuentemente la búsqueda, y acercarse o alejarse de detalle rápidamente. Vistas individuales de las propiedades proveedn información detalle sobre cada propiedad en los listados, para aquellos usuarios buscando rentar o vender dichas propiedades.
		</p>
	</div>
</div>

<div class="two-highlight-image__container">
	<div class="row">
		<div class="col-6 align-flex center">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/datoz/01-availability.png" alt="">
		</div>
		<div class="col-6 align-flex center">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/datoz/02-availability.png" alt="">
		</div>
	</div>
</div>

<figcaption>Los usuarios pueden explorar las propiedades en listados o en un mapa</figcaption>

<div class="highlight">
	<div class="smaller-container">
		<h6 class="case-study__title">EL RESULTADO</h6>
		<h2 class="case-study__question">Generación de Reportes</h2>
		<p class="case-study__content">
			Conscientes de la importancia de su información para la toma de decisiones de sus clientes, Datoz requería una manera para que sus usuarios generen reportes personalizados basados en una o varias propiedades.
		</p>
	</div>
</div>

<div class="highlight-image__container">
	<img src="https://s3.amazonaws.com/icalialabs/assets/img/datoz/01-reports.png" alt="">
	<img class="pull-right" src="https://s3.amazonaws.com/icalialabs/assets/img/datoz/02-reports.png" alt="">
	<img src="https://s3.amazonaws.com/icalialabs/assets/img/datoz/03-reports.png" alt="">
</div>

<figcaption>Corredores de Bienes Raíces pueden seleccionar múltiples propiedades y generar comparativas detalladas.</figcaption>

<div class="highlight">
	<div class="smaller-container">
		<div class="link-container align-flex">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/link-icon.png" alt="">
			<div>
				<h6>Visítalo online:</h6>
				<a href="https://www.click-dash.com/" target="_blank">www.click-dash.com</a>
			</div>
		</div>
	</div>	
</div>

<div class="suggestions">
	<div class="container">
		<h2 class="case-study__question"><span>¿Interesado en ver más?</span> <br> Visita estos otros proyectos:</h2>
		<div class="align-flex between">
			<div class="case-study__container" style="background-image: url(https://s3.amazonaws.com/icalialabs/assets/img/okudoc.jpg);">
				<div class="suggestions-info">
					<h6>OkuDoc</h6>
					<p>Ayudando a los usuarios a encontrar doctores y hacer citas fácilmente online</p>
				</div>
			</div>

			<div class="case-study__container" style="background-image: url(https://s3.amazonaws.com/icalialabs/assets/img/printoo.jpg);">
				<div class="suggestions-info">
					<h6>Printoo</h6>
					<p>Atrayendo a usuarios a divertirse mientras le dan vida a tus fotos.</p>
				</div>
			</div>
		</div>
	</div>
</div>
