---
layout: application-es
title: Digital Designer
type: job
---
<section class="section-header middle" style="background-image: url('//s3.amazonaws.com/icalialabs/assets/img/design-job.jpg');">
  <div class="vertical-align">
    <h2 class="animated fadeInUp light">Diseñador Digital</h2>
  </div>
</section>

<section class="requirements">
  <div class="container">
    <div class="row clearfix">
      <div>
        <strong>Requsitos:</strong>
        <ul>
          <Li> 
          	Interés por involucrarse en cada paso del proceso creativo, desde la creación de prototipos hasta el lanzamiento de productos. Estarás diseñando la plataforma, la experiencia y estarás trabajando estrechamente con desarrolladores para hacer el producto realidad
          </li>
          <Li>
						Interés por trabajar en una variedad de plataformas y productos(iPad, Android, aplicaciones web, etc.) 
					</li>
          <Li> Capaz de comunicarse eficientemente con clientes </li>
          <Li> Portfolio en línea interesante</li>
          <Li> 
						Estar abierto a recibir comentarios de los usuarios en cualquier momento, identificando cambios cruciales para mejorar la usabilidad de la aplicación. 
					</li>
          <Li> Experiencia en Photoshop e Illustrator </li>
          <Li> 
						Experiencia (o estar dispuesto a aprender) herramientas web, como HTML y CSS 
					</li>
          <Li>Gran pasión por el diseño y la tecnología </li>
        </ul>
      </div>
    </div>
    <br />
    <div class="row clearfix">
      <strong>Por favor enviar a <a href="mailto:weare@icalialabs.com">weare@icalialabs.com</a> lo siguiente:</strong>
      <ul>
          <li>Link a Dribble, Behance o sitio personal</li>
      </ul>
    </div>

  </div>
</section>
