---
layout: application-light
title: Enterprise
type: enterprise
---

<section class="section-header">
  <div class="vertical-align">
    <h1 class="section-tag red">Digitally Transform your Business.</h1>
    <div class="startup-icon">
      <%= image_tag "//s3.amazonaws.com/icalialabs/assets/img/enterprise.svg", class: "animated fadeIn"%>
    </div>
  </div>
</section>
<section class="text-header">
  <h1 class="section-tag red"> Every company is now a software company. </h1>
  <div class="section-description">

    <p>
      Given the overwhelming global changes underway, institutions find it almost imposible to predict the future, which means adaptability, speed of innovation and execution, is becoming the dominant behavior of successfull companies.
    </p>
    <p>
      Becoming a Software driven business is the sustainable way of the future.
    </p>
    <p>
      We can help your company leverage next-generation technology to innovate, disrupt your market, and enable growth.
    </p>
  </div>
</section>

<section class="features-slider">
  <div class="slider-container">
    <div class="slider-control left inactive"></div>
    <div class="slider-control right"></div>
    <ul class="slider-pagi"></ul>
    <div class="slider">
      <div class="slide slide-0 active">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
          </svg>
          <div class="slide__text">
            <h2 class="slide__text-heading">1. Setup for success</h2>
          </div>
          <div class="slide__list">
            <p class="slide__text-desc">
              <ul class="step-elements">
                <li>Design your digital transformation map.</li>
                <li>Organize for agility and speed.</li>
                <li>Adopt next generation technology.</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="slide slide-1 ">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
          </svg>
          <div class="slide__text">
            <h2 class="slide__text-heading">2. Connect with your customers</h2>
          </div>
          <div class="slide__list">
            <p class="slide__text-desc">
              <ul class="step-elements">
                <li>Align Marketing with Sales.</li>
                <li>Differentiate your experience.</li>
                <li>Acquire customers effectively.</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="slide slide-2">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
          </svg>
          <div class="slide__text">
            <h2 class="slide__text-heading">3. Optimize your operations</h2>
          </div>
          <div class="slide__list">
            <p class="slide__text-desc">
              <ul class="step-elements pull-right">
                <li>Automate the value chain.</li>
                <li>Leverage advanced analytics, to continuously <br> improve your operations.</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="slide slide-3">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
          </svg>
          <div class="slide__text">
            <h2 class="slide__text-heading">4. Empower your employees</h2>
          </div>
          <div class="slide__list">
             <p class="slide__text-desc">
              <ul class="step-elements pull-right">
                <li>Flatten your organization.</li>
                <li>Enable your employees to make more with less.</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="startup-work">
  <div class="text-center">
    <h6 class="letter-spacing red">OUR CLIENTS</h6>
    <p>Learn more about our work with enterprise </p>
  </div>
  <div class="startup-work-container">
    <span class="startup-button pull-right">MVP</span>
    <img src="//s3.amazonaws.com/icalialabs/assets/img/img-icon.png" alt="">
    <h2 class="project-description">
      "Icalia has been a pivotal technology partner for RTS. They have single handedly helped us become more competitive."
    </h2>
    <h6 class="project-name letter-spacing">Josh Hartwell, COO RTS</h6>
  </div>
  <a href="projects" class="text-center view-more">View more projects <img src="//s3.amazonaws.com/icalialabs/assets/img/more-icon.png" alt=""></a>
</section>

<section class="startup-work partners">
  <div class="text-center">
    <h6 class="letter-spacing red">OUR PARTNERS</h6>
    <p>Building world class software requires world class technology.</p>
    <img src="//s3.amazonaws.com/icalialabs/assets/img/partners/pivotal.png" alt="">
    <img src="//s3.amazonaws.com/icalialabs/assets/img/partners/docker.png" alt="">
    <img src="//s3.amazonaws.com/icalialabs/assets/img/partners/azure.png" alt="">
    <img src="//s3.amazonaws.com/icalialabs/assets/img/partners/google.png" alt="">
    <img src="//s3.amazonaws.com/icalialabs/assets/img/partners/aws.png" alt="">
  </div>
</section>

<section class="work-together">
  <h6 class="text-center letter-spacing red clearfix">LET'S WORK TOGETHER</h6>
  <h2 class="text-center">Let us know how we can help!</h2>
  <div class="call-buttons-group red text-center">
    <a href="https://icalialabs.typeform.com/to/lSnVnK" data-label="quote enterprise"><h6 class="letter-spacing">Get a quote</h6></a>
  </div>
</section>