---
layout: application-light-es
title: Empresas
type: enterprise
---

<section class="section-header">
  <div class="vertical-align">
    <h1 class="section-tag red">Transformación Digital para tu negocio.</h1>
    <div class="startup-icon">
      <%= image_tag "//s3.amazonaws.com/icalialabs/assets/img/enterprise.svg", class: "animated fadeIn"%>
    </div>
  </div>
</section>
<section class="text-header">
  <h1 class="section-tag red"> Hoy toda empresa es una empresa de Tecnología. </h1>
  <div class="section-description">

    <p>
      Dada la enorme cantidad de cambios globales que ocurren día con día, es prácticamente imposible para las instituciones el predecir el futuro, lo que significa que la adaptabilidad, flexibilidad y agilidad en la innovación y la ejecución es el comportamiento predominante entre las empresas exitosas.
    </p>
    <p>
      Convertirse en una empresa guiada por software es la forma de tener un futuro sostenible.
    </p>
    <p>
      Podemos ayudar a tu compañía a implementar tecnología de punta para innovar y disrumpir su industria, potencializando el crecimiento.
    </p>
  </div>
</section>

<section class="features-slider">
  <div class="slider-container">
    <div class="slider-control left inactive"></div>
    <div class="slider-control right"></div>
    <ul class="slider-pagi"></ul>
    <div class="slider">
      <div class="slide slide-0 active">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
          </svg>
          <div class="slide__text">
            <h2 class="slide__text-heading">1. Prepárate para el éxito</h2>
          </div>
          <div class="slide__list">
            <p class="slide__text-desc">
              <ul class="step-elements">
                <li>Diseña un mapa de transformación digital.</li>
                <li>Organiza pensando en agilidad y rapidez.</li>
                <li>Adopta tecnologías de punta.</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="slide slide-1 ">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
          </svg>
          <div class="slide__text">
            <h2 class="slide__text-heading">2. Conecta con tus clientes</h2>
          </div>
          <div class="slide__list">
            <p class="slide__text-desc">
              <ul class="step-elements">
                <li>Alinea estrategias de marketing y ventas.</li>
                <li>Crea experiencias diferentes.</li>
                <li>Adquiere clientes de manera efectiva.</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="slide slide-2">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
          </svg>
          <div class="slide__text">
            <h2 class="slide__text-heading">3. Optimiza tus operaciones</h2>
          </div>
          <div class="slide__list">
            <p class="slide__text-desc">
              <ul class="step-elements pull-right">
                <li>Automatiza tu cadena de valor.</li>
                <li>Implementa analíticos avanzados para mejorar tu negocio<br> de manera continua.</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="slide slide-3">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
          </svg>
          <div class="slide__text">
            <h2 class="slide__text-heading">4. Empodera a tus empleados</h2>
          </div>
          <div class="slide__list">
             <p class="slide__text-desc">
              <ul class="step-elements pull-right">
                <li>Crece tu organización de manera horizontal.</li>
                <li>Haz que tus empleados hagan más con menos.</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="startup-work">
  <div class="text-center">
    <h6 class="letter-spacing red">Nuestros clientes</h6>
    <p>Conoce más acerca de nuestro trabajo con empresas establecidas</p>
  </div>
  <div class="startup-work-container">
    <span class="startup-button pull-right">MVP</span>
    <img src="//s3.amazonaws.com/icalialabs/assets/img/img-icon.png" alt="">
    <h2 class="project-description">
      "Icalia ha sido un aliado de tecnología pivotal para RTS. Por su propia cuenta han tenido un gran impacto ayudándonos a ser más competitivos."
    </h2>
    <h6 class="project-name letter-spacing">Josh Hartwell, COO RTS</h6>
  </div>
  <a href="projects" class="text-center view-more">Ver más proyectos <img src="//s3.amazonaws.com/icalialabs/assets/img/more-icon.png" alt=""></a>
</section>

<section class="startup-work partners">
  <div class="text-center">
    <h6 class="letter-spacing red">Nuestros Aliados</h6>
    <p>Crear software de clase mundial requiere aliados de clase mundial.</p>
    <img src="//s3.amazonaws.com/icalialabs/assets/img/partners/pivotal.png" alt="">
    <img src="//s3.amazonaws.com/icalialabs/assets/img/partners/docker.png" alt="">
    <img src="//s3.amazonaws.com/icalialabs/assets/img/partners/azure.png" alt="">
    <img src="//s3.amazonaws.com/icalialabs/assets/img/partners/google.png" alt="">
    <img src="//s3.amazonaws.com/icalialabs/assets/img/partners/aws.png" alt="">
  </div>
</section>

<section class="work-together">
  <h6 class="text-center letter-spacing red clearfix">Trabajemos juntos</h6>
  <h2 class="text-center">¡Dínos cómo te podemos ayudar!</h2>
  <div class="call-buttons-group red text-center">
    <a href="https://icalialabs.typeform.com/to/z4GH28" data-label="quote enterprise es"><h6 class="letter-spacing">Cotizar</h6></a>
  </div>
</section>