---
layout: project-es
title: IOS Offices
type: projects
bg_img: "//s3.amazonaws.com/icalialabs/assets/img/IOS-offices/notes.jpeg"
client: IOS Offices
---

<div class="content-wrapper">
	<div class="case-study-block container">
		<span class="quote">
			“Necesitamos una solución para integrar todos nuestros servicios en una sola aplicación. Necesitamos una aplicación que nos ayude a traer nuevos clientes a bordo, así como a nuestros clientes actuales para programar una oficina directamente desde la aplicación. También necesitamos una solución que ayude a nuestros clientes potenciales a convertirse en miembros directamente desde la misma aplicación.” <br>
			— Ianis Defendini
		</span>
	</div>
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Primer Encuentro</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				En nuestra primera reunión con Ianis, él rápidamente comenzó a contarnos sobre el estado actual de sus aplicaciones recientemente lanzadas (las oficinas de IOS no tienen nada que ver con el iOS de Apple, tienen varios espacios de oficinas en todo México), diciéndonos cómo ya habían construido algunas soluciones , Y que no estaban siendo utilizadas por sus clientes, ya sea porque estaban incompletas, no es útil o simplemente son desconocidas por sus clientes.
			</p>
			<p>
				Escuchamos todos sus problemas actuales y nos dimos cuenta de la complejidad que estaban planeando llevar a lo que pensaban que iba a ser "La aplicación clave para resolver todos sus problemas, y que todos los clientes amarían". Después de discutir el origen y la base de estas ideas, sugerimos que primero deberían averiguar qué clientes querían y necesitaban antes de construir una solución muy compleja. Hablamos sobre el riesgo y el potencial de desperdicio y del costo de oportunidad, lo que claramente resonó con su reciente experiencia.
			</p>
			<p>
				Debido a que los <em>trabajos a realizar</em> para satisfacer plenamente los deseos y necesidades de los clientes de IOS no estaban claros - aunque se discutieron algunas alternativas interesantes- sugerimos comenzar con un Design Sprint, le explicamos el concepto y cómo ayudaría a resolver este problema, Y Ianis estubo a bordo con la idea. Así que empezamos esta aventura de 5 días.
			</p>
		</div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Día 1 - Lunes: Haciendo las preguntas correctas</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				Para hacer el Design Sprint más fácil para los expertos y los tomadores de decisiones de IOS, el proceso se llevó a cabo en las oficinas de IOS. Lo primero que les preguntamos el lunes fue: ¿Qué estamos tratando de lograr? Ianis responde rápidamente "Entender cómo construir una aplicación con toda la funcionalidad en torno al ambiente de IOS que fuese amigable y atractiva para los clientes".
			</p>
			<p>
				Iniciamos preguntando qué han hecho en el pasado para resolver estos problemas. Él nos mostró algunas aplicaciones, así como algunos sitios web que permiten hacer un montón de cosas. Una de las aplicaciones incluso mostró su revista mensual. Más tarde nos contó una gran cantidad de información y cómo los socios, la mayoría del tiempo, no tenía ni idea de las cosas que estaban pasando en IOS. Luego nos dijo que quería crear una mejor comunidad con los eventos que organizaban y otras actividades que normalmente tienen.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/IOS-offices/window.jpeg)"></div>
		<div class="img-block half pull-left" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/IOS-offices/people.jpeg)"></div>
		<div class="img-block half" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/IOS-offices/notes.jpeg)"> </div>
	</div>

	<div class="case-study-block container">
		<div class="big-block center">
			<p>
				Después de un largo Q&amp;A y un montón de idas y vueltas, tuvimos una idea de cuál era el problema principal de la empresa y porqué las cosas que se estaban haciendo no habían funcionado. <br>
				Para después de la comida ya teníamos un buen entendimiento de los objetivos de la empresa, a corto y largo plazo. En cuanto al mercado objetivo, estaba claro que estaba destinado a los actuales socios. Esto nos permitió saltar rápidamente a una conversación productiva y profunda. <br/>
				Para la hora del almuerzo del lunes, habíamos mapeado todo el proceso en torno al ecosistema de IOS, quiénes eran los actores clave y qué metas estábamos tratando de lograr.
			</p>
			<p>
				La tarde del lunes se dedicó a entrevistar a varios expertos invitados, incluyendo al CEO de IOS, capturando y reuniendo toda la información relevante y comentarios basados en sus experiencias, para entender cómo podemos abordar el problema principal, qué obstáculos podemos esperar encontrar y cómo superar éstos a su vez. Mucha de esta información se utilizó para completar y alterar nuestro mapa.
			</p>
		</div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Día 2 - Martes: Soluciones de bosquejo</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				Con el mapa del lunes en el muro y todo el entendimiento que adquirimos, estábamos listos para empezar a verter nuestras ideas al papel. <br/> Comenzamos por investigar y discutir diferentes soluciones existentes y buscar productos similares por ahí. Después de una hora o algo así, empezamos con los "Lightning Demos" - demostraciones de tres minutos para compartir hallázgos y destilar grandes ideas existentes que podrían inspirar partes específicas de nuestra solución.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/IOS-offices/trash.jpeg)"></div>
	</div>

	<div class="case-study-block container">
		<div class="big-block center">
			<p>
				Después de esto, cada uno de nosotros tenía una idea de cómo debería ser la aplicación, y así empezamos a ponerlo en papel. Cada persona creó un concepto detallado de cómo debería de ser la experiencia del usuario. Se captaron ideas de manera individual, pasamos a los bocetos individuales, revisado una y otra vez hasta que cada persona en el equipo de Sprint tenía al menos un esbozo final "digno de presentarse" de una solución que querían proponer para abordar los problemas más críticos y ayudar a alcanzar las metas de IOS. <br>
				Nótese cómo este proceso funciona en oposición al típico proceso de Brainstorming, porque hemos demostrado una y otra vez que esta evolución individual de pensamientos e ideas supera la lluvia de ideas cada vez al momento de evaluar la calidad de las ideas.
			</p>
		</div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Día 3 - Miércoles: Decisiones, decisiones</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				A diferencia de otros días, el miércoles comienza con un silencio total. Los bocetos (anónimos) de cada persona se montaron en las paredes de la sala de conferencias, como en un museo de arte. Inmediatamente cada uno de nosotros se tomó un tiempo para mirar e individualmente tratar de entender cada boceto.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/IOS-offices/user-flow.jpeg)"></div>
		<div class="img-block half pull-left" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/IOS-offices/ianis-notes.jpeg)"></div>
		<div class="img-block half" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/IOS-offices/ianis-flow.jpeg)"> </div>
	</div>

	<div class="case-study-block container">
		<div class="big-block center">
			<p>
				 A través de flujos limitados en tiempo, criticamos cada una de las ideas como grupo, y en cada uno de los flujos publicamos notas de lo que no entendíamos o pensábamos que faltaba. Más tarde trabajamos en un "mapa de calor" mediante la votación con stickers en sobre las ideas que pensamos que podrían funcionar mejor. 
			</p>
			<p>
				En base a la votación grupal y los últimos pensamientos del tomador de decisiones, dedicamos el resto del día a construir un guión gráfico concreto y cohesivo que integrara las mejores ideas esbozadas y votadas. Este story board nos permitió tener una mayor claridad de lo que exactamente construiríamos el jueves, y también permitió arrojar luz sobre algunos otros puntos clave en cuanto a la consistencia del producto.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/IOS-offices/luigui-sketch.jpeg)"></div>
	</div>

	<div class="case-study-block container">
		<div class="big-block center">
			<p>
				Al final del tercer día, sabíamos exactamente lo que estamos construyendo. Para cuando salimos de la habitación, tuvimos 5 flujos completos, totalmente diseñados en base a los aspectos de negocios que necesitábamos probar - y un diseño final listo para convertirse en prototipo.
			</p>
		</div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Día 4 - Jueves: Prototipando</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				El jueves tenemos menos de un día para construir un prototipo no funcional, pero interactivo, que los usuarios amarán y entenderán, o de lo contrario fallaremos.
			</p>
			<p>
				Aquí es donde el proceso demuestra por qué es necesario mantenerse concentrados durante los días anteriores. En el momento en que empezamos a trabajar, ya habíamos diseñado el prototipo y sabíamos qué tenía que hacerse, lo que suele ser la parte que consume más tiempo y energía en la creación de prototipos de una solución.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/IOS-offices/prototype.png)"></div>
	</div>

	<div class="case-study-block container">
		<div class="big-block center">
			<p>
				Todo el día del jueves, nuestros diseñadores se dedicaron a crear y montar todas las interfaces de software de prototipado especializado, mientras que el resto del equipo se centró en la escritura (el prototipo necesita verse y leerse de manera realista), recopilando activos digitales como logotipos y fotos para el prototipo, y pegando las partes, asegurándose de que el flujo de toda la interfaz tenía sentido hacia la experiencia que estábamos tratando de validar.
			</p>
			<p>
				Para tener un resultado creíble el viernes no sólo necesitamos un prototipo, sino un flujo de entrevista bien estructurado, por lo que la otra gran tarea a lograr el jueves fue escribir y revisar el guión de la entrevista, asegurándose de que tocáramos y evaluáramos todas las suposiciones clave que el equipo estaba buscando comprobar.
			</p>
		</div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Día 5 - Viernes: ¿Teníamos razón?</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				El viernes es el momento de la verdad. Este último día tiene que ver con la validación de nuestras ideas con los usuarios reales del producto. Montamos las cámaras y arreglos de audio para que pudieramos analizar las reacciones de los usuarios mientras les presentamos el prototipo.
			</p>
			<p>
				Designamos a un entrevistador que se sentaría en una sala privada con cada usuario, guiándolos en la prueba del prototipo y luego realizaría una entrevista, tanteando al usuario para obtener más información imparcial que sería útil para validar y mejorar el producto. <br>
				El resto del equipo se reunió en la sala de conferencias donde observaron todas las interacciones y reacciones del usuario a través de un feed de video en vivo, tomando notas e incluso haciendo pequeñas mejoras al prototipo sobre la marcha.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/IOS-offices/friday.jpeg)"></div>
	</div>

	<div class="case-study-block container">
		<div class="big-block center">
			<p>
				Debido a que nuestro prototipo se sentía como un producto real, los usuarios podían entender fácilmente lo que hacía, y dar comentarios detallados sobre las cosas que les gustaban y las cosas que estaban confundidos.
			</p>
			<p>
				Mientras comenzamos nuestra sesión de entrevistas, nos dimos cuenta de que el rango de edad era mucho más amplio de lo que esperábamos que fuera. Un montón de perfiles diferentes y un montón de variaciones en cuanto a los gustos y disgustos de cada persona. Sin embargo, la gente entendió rápidamente lo que la aplicación debía de hacer y navegó fácilmente a dentro de ella.
			</p>
			<p>
				Algunos de nuestros supuestos iniciales fueron reafirmados cuando los usuarios reaccionaron al prototipo. Todos ellos querían una plataforma cerrada con sólo los actuales socios de IOS, que les permitía tener una comunicación más fácil. También la idea de deshacerse de los correos electrónicos que se enviaron actualmente y reemplazarlos con notificaciones en la aplicación fue un éxito.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/IOS-offices/partner.jpeg)"></div>
	</div>

	<div class="case-study-block container">
		<div class="big-block center">
			<p>
				Al final del día del viernes, habíamos reunido una enorme cantidad de inteligencia de negocios con respecto a los "trabajos a realizar" y qué es exactamente lo que la aplicación de IOS debería y no debería hacer. Las pruebas de usuario y las entrevistas fueron muy útiles para ayudarnos a anticipar problemas, ayudarnos a centrarnos en las cosas más importantes, y hacer todo el ajuste de la aplicación antes incluso de construir lo real.
			</p>
			<p>
				Al final de todo el proceso no sólo validamos las ideas centrales de la nueva aplicación, sino que generamos todas las historias de usuario necesarias para pasar rápidamente a un proceso de desarrollo ágil y IOS contaba ahora con dos 'expertos' dentro del equipo Icalia que entendían a profundidas el negocio, sus metas y desafíos, y los perfiles de usuario que estarían utilizando la aplicación. Sobra decir que Ianis se sintió más seguro al invertir en la nueva aplicación y que el equipo en su conjunto estaba listo para pasar a la fase de desarrollo con mucha más certeza y optimismo guiado.
			</p>
		</div>
	</div>
</div>
