---
layout: project
title: Jubel
type: projects
bg_img: "https://s3.amazonaws.com/icalialabs/assets/img/jubel/Jubel.jpg"
subtitle: Adventure made easy.
---

<div class="content-wrapper">
	<div class="smaller-container">
		<h6 class="case-study__title">ABOUT THE CLIENT</h6>
		<p class="case-study__regular">
			<b>Jubel</b> is adventure made easy. They offer authentic, off-the-beaten path experiences by acutely curating personalized trips for all budgets. We helped them to digitalize their unique formula of creating tailor-made travel adventures for their clients.
		</p>
	</div>

	<div class="imagery-block-client align-flex between">
		<img src="https://s3.amazonaws.com/icalialabs/assets/img/jubel/client/01-client.png" alt="">
		<img src="https://s3.amazonaws.com/icalialabs/assets/img/jubel/client/02-client.png" alt="">
		<img src="https://s3.amazonaws.com/icalialabs/assets/img/jubel/client/03-client.png" alt="">
		<img src="https://s3.amazonaws.com/icalialabs/assets/img/jubel/client/04-client.png" alt="">
		<img src="https://s3.amazonaws.com/icalialabs/assets/img/jubel/client/05-client.png" alt="">
	</div>

	<div class="smaller-container">
		<h6 class="case-study__title">THE CHALLENGE</h6>
		<h2 class="case-study__question">¿How to automate already proven processes to <span>unlock growth</span>?</h2>
		<p class="case-study__content">
			Jubel had already been operating for quite some time and had been well accepted by the community.  They wanted to figure out what was stopping them from growing, and how could they automate some of their already proven processes.
		</p>
	</div>

	<div class="imagery-block align-flex between">
		<img src="https://s3.amazonaws.com/icalialabs/assets/img/jubel/sprint/01-sprint.png" alt="">
		<img src="https://s3.amazonaws.com/icalialabs/assets/img/jubel/sprint/02-sprint.png" alt="">
		<img src="https://s3.amazonaws.com/icalialabs/assets/img/jubel/sprint/03-sprint.png" alt="">
	</div>

	<div class="smaller-container">
		<h6 class="case-study__title">OUR APPROACH</h6>
		<p class="case-study__regular">
			We studied how Jubel operated and their analogue process of curating travel experiences for their customers, and turned that into digital, reusable patterns; enabling a way to match the traveler’s preferences to travel plans and destinations directly on the platform.
		</p>
		<p class="case-study__regular">
			Providing this would imply for Jubel representatives a way to speed up how they provide custom made trips to their clients; <span>while greatly increasing the number of clients they can attend to.</span>
		</p>
	</div>

	<div class="overview">
		<h6 class="case-study__title">PROJECT OVERVIEW</h6>
		<div class="align-flex">
			<div class="overview-content">
				<p>1w</p>
				<h6>Design Sprint</h6>
				<div class="design-progress__bar"></div>
			</div>
			<div class="overview-content">
				<p>8w</p>
				<div class="align-flex between">
					<h6>Development</h6>
					<h6>Launch!</h6>
				</div>
				<div class="development-progress__bar"></div>
			</div>
		</div>

		<div class="align-flex between">
			<div>
				<h6>Team</h6>
				<p>1.Digital Designer</p>
				<p>2.Senior Devs</p>
			</div>

			<div>
				<h6>Avg. time to market</h6>
				<p>10 weeks</p>
			</div>
		</div>
	</div>

	<div class="smaller-container">
		<h6 class="case-study__title">OUR APPROACH</h6>
		<p class="case-study__regular">
			We studied how Jubel operated and their analogue process of curating travel experiences for their customers, and turned that into digital, reusable patterns; enabling a way to match the traveler’s preferences to travel plans and destinations directly on the platform.
		</p>
		<p class="case-study__regular">
			Providing this would imply for Jubel representatives a way to speed up how they provide custom made trips to their clients; <span>while greatly increasing the number of clients they can attend to.</span>
		</p>
	</div>
</div>

<div class="highlight">
	<div class="smaller-container">
		<h6 class="case-study__title">THE WORK</h6>
		<h2 class="case-study__question">Intuitive Initial Survey</h2>
		<p class="case-study__content">
			The main face of the application is a survey that allows visitors –in a very visual and straightforward way– to select their traveling preferences from a set of predefined parameters designed by Jubel.
		</p>
	</div>
</div>

<div class="four-highlight-image__container">
	<div class="row">
		<div class="col-6 align-flex center">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/jubel/survey/01-survey.png" alt="">
		</div>
		<div class="col-6 align-flex center">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/jubel/survey/02-survey.png" alt="">
		</div>
	</div>

	<div class="row">
		<div class="col-6 align-flex center">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/jubel/survey/03-survey.png" alt="">
		</div>

		<div class="col-6 align-flex center">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/jubel/survey/04-survey.png" alt="">
		</div>
	</div>
</div>

<div class="highlight">
	<div class="smaller-container">
		<h6 class="case-study__title">THE WORK</h6>
		<h2 class="case-study__question">Custom Travel Builder</h2>
		<p class="case-study__content">
			Jubel Representatives can monitor customers’ answers to surveys, as well as generating custom travel proposals for them. Frequent types of travels are saved as ‘travel templates’ and are easily used as part of the final proposals for the client.
		</p>
	</div>
</div>

<div class="two-highlight-image__container">
	<div class="row">
		<div class="col-6 align-flex center nopadding">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/jubel/travel/01-travel.png" alt="">
		</div>
		<div class="col-6 align-flex center nopadding">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/jubel/travel/02-travel.png" alt="">
		</div>
	</div>
</div>

<div class="highlight">
	<div class="smaller-container">
		<h6 class="case-study__title">THE WORK</h6>
		<h2 class="case-study__question">The Travel Proposal</h2>
		<p class="case-study__content">
			After completing the survey and waiting for an answer, Jubel’s clients receive a tailored travel proposal, full of visual cues and glimpses of their future travel. Inside this same proposal view, the whole travel group can comment on what they like or dislike until they are good to go.
		</p>
	</div>
</div>

<div class="one-highlight-image__container">
	<img src="https://s3.amazonaws.com/icalialabs/assets/img/jubel/proposal/01-proposal.png" alt="">
</div>

<div class="highlight">
	<div class="smaller-container">
		<div class="link-container align-flex">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/link-icon.png" alt="">
			<div>
				<h6>View it online</h6>
				<a href="http://www.jubel.co/" target="_blank">www.jubel.co</a>
			</div>
		</div>
	</div>	
</div>

<div class="suggestions">
	<div class="container">
		<h2 class="case-study__question"><span>Like what you see?</span> <br> Check out these other projects:</h2>

		<div class="align-flex between">
			<a href="dash" class="case-study__container" style="background-image: url(https://s3.amazonaws.com/icalialabs/assets/img/dash/Dash.jpg);">
				<div class="suggestions-info">
					<h6>Dash</h6>
					<p>Offering translation services to a wide variety of clients.</p>
				</div>
			</a>

			<a href="well-data" class="case-study__container" style="background-image: url(https://s3.amazonaws.com/icalialabs/assets/img/well-data/RTS.jpg);">
				<div class="suggestions-info">
					<h6>Well Data</h6>
					<p>Visualizing Data Intelligence for the Oil Industry.</p>
				</div>
			</a>
		</div>
	</div>
</div>

