---
layout: project
title: Jubel
type: projects
bg_img: "https://s3.amazonaws.com/icalialabs/assets/img/jubel/jubel-bg.png"
subtitle: Adventure made easy.
---

<div class="content-wrapper">
	<div class="smaller-container">
		<h6 class="case-study__title">ACERCA DEL CLIENTE</h6>
		<p class="case-study__regular">
			<b>Jubel</b> significa acceso fácil a las mejores aventuras. Ofrecen experiencias de viaje auténticas y únicas, a través de una sofisticada curaduría.
		</p>
	</div>

	<div class="imagery-block" style="background-image: url(https://s3.amazonaws.com/icalialabs/assets/img/jubel/jubel-first-section.png)"></div>

	<div class="smaller-container">
		<h6 class="case-study__title">EL RETO</h6>
		<h2 class="case-study__question">¿Cómo automatizar procesos ya probados para <span>desbloquear el crecimiento</span>?</h2>
		<p class="case-study__content">
			Jubel llevaba un tiempo operando y habían recibido buena aceptación de parte de la comunidad. Nos pidieron ayudarles a entender qué candados podían estar evitando su crecimiento, y cómo podrían automatizar algunos de sus procesos actualmente funcionando.
		</p>
	</div>

	<div class="imagery-block" style="background-image: url(https://s3.amazonaws.com/icalialabs/assets/img/jubel/sprint.png)"></div>

	<div class="smaller-container">
		<h6 class="case-study__title">NUESTRA PROPUESTA</h6>
		<p class="case-study__regular">
			Observamos cuidadosamente cómo operaba Jubel, así como su proceso análogo de curaduría de experiencias para sus clientes; y lo transformamos en patrones digitales y reutilizables. Esto permitió obtener preferencias de sus usuarios y conectarlas con propuestas de viajes directamente desde la plataforma.
		</p>
		<p class="case-study__regular">
			Esto fue esencial para proveer a Jubel de <span>una manera más rápida de entregar propuestas a sus clientes, y a la par incrementar notoriamente el número de clientes que pueden atender.</span>
		</p>
	</div>

	<div class="overview">
		<h6 class="case-study__title">VISTA GENERAL</h6>
		<div class="align-flex">
			<div class="overview-content">
				<p>1S</p>
				<h6>Design Sprint</h6>
				<div class="design-progress__bar"></div>
			</div>
			<div class="overview-content">
				<p>8S</p>
				<div class="align-flex between">
					<h6>Desarrollo</h6>
					<h6>Lanzamiento!</h6>
				</div>
				<div class="development-progress__bar"></div>
			</div>
		</div>

		<div class="align-flex between">
			<div>
				<h6>Equipo</h6>
				<p>1.Diseñador Digital</p>
				<p>2.Senior Devs</p>
			</div>

			<div>
				<h6>Tiempo promedio de lanzamiento</h6>
				<p>10 semanas</p>
			</div>
		</div>
	</div>
</div>

<div class="highlight">
	<div class="smaller-container">
		<h6 class="case-study__title">EL RESULTADO</h6>
		<h2 class="case-study__question">Encuesta Intuitiva</h2>
		<p class="case-study__content">
			La cara principal de la aplicación consiste en una encuesta que permite a los visitantes – de manera sencilla y visual – elegir sus preferencias de viaje de un conjunto de opciones prediseñadas por Jubel.
		</p>
	</div>
</div>

<div class="four-highlight-image__container">
	<div class="row">
		<div class="col-6 align-flex center">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/jubel/survey/01-survey.png" alt="">
		</div>
		<div class="col-6 align-flex center">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/jubel/survey/02-survey.png" alt="">
		</div>
	</div>

	<div class="row">
		<div class="col-6 align-flex center">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/jubel/survey/03-survey.png" alt="">
		</div>

		<div class="col-6 align-flex center">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/jubel/survey/04-survey.png" alt="">
		</div>
	</div>
</div>

<div class="highlight">
	<div class="smaller-container">
		<h6 class="case-study__title">EL RESULTADO</h6>
		<h2 class="case-study__question">Editor de Viajes</h2>
		<p class="case-study__content">
			Los representativos de Jubel pueden monitorear las respuestas de los clientes a las encuestas, así como generar propuestas de viaje para ellos. Tipos frecuentes de viaje pueden ser guardados como ‘templates’, y fácilmente utilizados como parte de la propuesta final al cliente.
		</p>
	</div>
</div>

<div class="two-highlight-image__container">
	<div class="row">
		<div class="col-6 align-flex center">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/jubel/travel/01-travel.png" alt="">
		</div>
		<div class="col-6 align-flex center">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/jubel/travel/02-travel.png" alt="">
		</div>
	</div>
</div>

<div class="highlight">
	<div class="smaller-container">
		<h6 class="case-study__title">EL RESULTADO</h6>
		<h2 class="case-study__question">La Propuesta de Viaje</h2>
		<p class="case-study__content">
			Tras completar la encuesta y esperar respuesta de los representativos de Jubel, un cliente recibe su propuesta de viaje personalizada – llena de pistas y descripciones de lo que le espera en el viaje. Dentro de esta misma vista, todo el grupo puede comentar sobre lo que le agrada y/o desagrada, hasta que la propuesta final es aceptada.
		</p>
	</div>
</div>

<div class="one-highlight-image__container">
	<img src="https://s3.amazonaws.com/icalialabs/assets/img/jubel/proposal/01-proposal.png" alt="">
</div>

<div class="highlight">
	<div class="smaller-container">
		<div class="link-container align-flex">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/link-icon.png" alt="">
			<div>
				<h6>Visítalo online:</h6>
				<a href="" target="_blank"></a>
			</div>
		</div>
	</div>	
</div>

<div class="suggestions">
	<div class="container">
		<h2 class="case-study__question"><span>¿Interesado en ver más?</span> <br> Visita estos otros proyectos:</h2>

		<div class="align-flex between">
			<div class="case-study__container" style="background-image: url(https://s3.amazonaws.com/icalialabs/assets/img/okudoc.jpg);">
				<div class="suggestions-info">
					<h6>OkuDoc</h6>
					<p>Ayudando a los usuarios a encontrar doctores y hacer citas fácilmente online</p>
				</div>
			</div>

			<div class="case-study__container" style="background-image: url(https://s3.amazonaws.com/icalialabs/assets/img/printoo.jpg);">
				<div class="suggestions-info">
					<h6>Printoo</h6>
					<p>Atrayendo a usuarios a divertirse mientras le dan vida a tus fotos.</p>
				</div>
			</div>
		</div>
	</div>
</div>

