---
layout: project
title: Jubel
type: projects
bg_img: "../images/jubel/03-travel.jpg"
client: Jose Pablo y Nico
---

<div class="content-wrapper">
	<div class="case-study-block container">
		<span class="quote">
			Adventure made easy.
		</span>
	</div>	

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Project’s excerpt</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				We helped Jubel to digitalize their unique formula of creating tailor-made travel adventures for their clients.
			</p>
		</div>
	</div>
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Client’s description</h5>
		</div>
		<div class="pull-right big-block">
				<p>
					 Jubel is adventure made easy. They offer authentic, off-the-beaten path experiences by acutely curating personalized trips for all budgets.
				</p>
		</div>
	</div>

	<div class="case-study-block">
			<div class="row">
				<div class="col-4">
					<img class="case-study-block__image" src="images/jubel/06-travel.jpg" alt="">
					<img class="case-study-block__image" src="images/jubel/07-travel.jpg" alt="">
				</div>
				<div class="col-4">
					<img class="case-study-block__image" src="images/jubel/04-travel.jpg" alt="">
					<img class="case-study-block__image" src="images/jubel/03-travel.jpg" alt="">
				</div>
				<div class="col-4">
					<img class="case-study-block__image" src="images/jubel/02-travel.jpg" alt="">
					<img class="case-study-block__image" src="images/jubel/08-travel.jpg" alt="">
				</div>
			</div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Project’s Background</h5>
		</div>
		<div class="pull-right big-block">
				<p>
					 Jubel had already been operating for quite some time and had been well accepted by the community.  They wanted to figure out what was stopping them from growing, and how could they automate some of their already proven processes.
				</p>
		</div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Our Approach</h5>
		</div>
		<div class="pull-right big-block">
				<p>
					 We studied how Jubel operated and their analogue process of curating travel experiences for their customers, and turned that into digital, reusable patterns; enabling a way to match the traveler’s preferences to travel plans and destinations directly on the platform.
				</p>
				<p>
					This was essential in order to provide Jubel representatives a way to speed up how they provide custom made trips to their clients; while greatly increasing the number of clients they can attend to.
				</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block half pull-left" style="background-image: url(images/notes.jpg)"></div>
		<div class="img-block half" style="background-image: url(images/board.jpg)"> </div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Intuitive Initial Survey</h5>
		</div>
		<div class="pull-right big-block">
				<span class="quote">
					The main face of the application is a survey that allows visitors –in a very visual and straightforward way– to select their traveling preferences from a set of predefined parameters designed by Jubel.
				</span>
		</div>
	</div>

	<div class="case-study-block">
		<div class="gif-block" style="background-image: url(images/jubel.gif)"></div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Custom Travel Builder</h5>
		</div>
		<div class="pull-right big-block">
				<span class="quote">
					Jubel Representatives can monitor customers’ answers to surveys, as well as generating custom travel proposals for them. Frequent types of travels are saved as ‘travel templates’ and are easily used as part of the final proposals for the client.
				</span>
		</div>
	</div>
</div>

<div class="case-study-block">
	<div class="img-block" style="background-image: url(images/jubel-back.png); height: 100vh;"></div>
</div>

<div class="case-study-block container">
	<div class="pull-left small-block">
		<h5 class="case-study-title">The Travel Proposal</h5>
	</div>
	<div class="pull-right big-block">
			<span class="quote">
				After completing the survey and waiting for an answer, Jubel’s clients receive a tailored travel proposal, full of visual cues and glimpses of their future travel. Inside this same proposal view, the whole travel group can comment on what they like or dislike until they are good to go.
			</span>
	</div>
</div>

<div class="case-study-block">
	<div class="gif-block" style="background-image: url(images/jubel-proposal.gif)"></div>
</div>
