---
layout: project
title: Messa
type: projects
bg_img: "//s3.amazonaws.com/icalialabs/assets/img/messa/messa.jpg"
client: Jorge Borbolla
---

<div class="content-wrapper">
	<div class="case-study-block container">
		<span class="quote">
			“I have a couple of friends that have worked in restaurants and clubs, other friends who are partners at these clubs as investors. I talked to them about the idea, but I didn’t have anything to show them, like a prototype – I had nothing. I just went, have a coffee or a beer with them, and asked, you know, “What would you think about this idea? How would you feel (about) it?” and they said “sounds nice, but I need to see something. Like, that sounds great, but its just a thought right now.”<br>
			-Jorge Borbolla
		</span>
	</div>
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">First Meeting</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				When we started talking to Jorge, his business idea was new and he was just starting to think about his production roadmap.
			</p>
			<p>
				Traditional development models have a lengthy planning period where business analysts may spend several months outlining the requirements of software based on thorough research. This leads to huge risks if the research is proven wrong, so as entrepreneurs, we’re sometimes tempted to “going with our gut” on what we think our customers want.
			</p>
			<p>
				Jumping into an expensive development process on guesses (even just for an MVP), however, is a huge risk – particularly for new bootstrapped start-ups, like Jorge’s.
			</p>
			<p>
				In larger organizations decisions like these – especially if made in teams – may lead to stakeholders across the organization into a bind about what to build, leading to either scope crippling or decisions made for political (rather than market validated) reasons.
			</p>
			<p>
				Design Sprints offer a fast way to mitigate these risks by prototyping and testing faster.
			</p>
		</div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Day 1 — Monday: UNPACKING THE PROBLEM</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				Monday we rolled into our project room at the Nest coworking space in Playa del Carmen. After a discussion about Jorge’s general business milestone goals, got straight into prep for today’s main activity: mapping the problem space.
			</p>
			<p>
				When we got off the plane in Playa del Carmen, Alex, Noe, and I had never even met our client, Jorge, and only knew his problem space from a few quick emails. Mapping is a great activity for understanding our assumptions and making sure everyone on the team is on the same page. By that afternoon, we had a good handle on the company’s goals (short and long term), target market, and general road map. This enabled us to jump into a deep, productive conversation quickly.
			</p>
			<p>
				That afternoon, we brought in a local expert from the space to interview and get feedback about his experience and make some adjustments to our map. During the interview, we all captured concepts and ideas that popped into our heads on post-it notes. These ideas came in handy at the end of the day when we sorted them into groups and picked a general area to concentrate on for the week.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/target.png)"></div>
		<div class="img-block half pull-left" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/notes.png)"></div>
		<div class="img-block half" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/decisions.png)"> </div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Day 2 — Tuesday: FOCUSING ON THE PROBLEM SPACE</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				With our map on the board, we had a shared understanding of the problem space and a common language for discussing it. With this, we were able to get right to work Tuesday morning investigating different solutions and coming together to share them with the group. After an hour or so with each of us heads-down taking screenshots from our favorite websites and apps, we held “Lightning Demos” – three-minute demonstrations to share our findings.
			</p>
			<p>
				After collecting and sharing this inspiration, the ideas were flowing. Using a structured activity, we each sketched our own solutions for the app. This heads-down, time-boxed process is a rush, but by the end, it was amazing what we accomplished.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/more-notes.png)"></div>
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/flow.png)"></div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Day 3 — Wednesday: DESIGN AN APP</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				Wednesday morning, we got right to discussing and choosing the best aspects of each sketch.
			</p>
			<p>
				Again, we critiqued the ideas, did a “heat-map” vote to see where the group thought the best ideas were. Once again, as the Decision Maker, Jorge made the final decision on which aspects of the sketches to use.
			</p>
			<p>
				Wednesday afternoon, we sketched the flow screen-by-screen on the whiteboard, taking ideas for the various sketches around the room and applying them to a new, single concept. This step was the core of the design sprint – every discussion that we’d had up to this point influenced the decisions we made on the board.
			</p>
			<p>
				By the time we left on Wednesday, we had a complete flow fully designed based on the business aspects we needed to test – and we were mentally drained!
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/review.png)"></div>
		<div class="img-block half pull-left" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/final-flow.png)"></div>
		<div class="img-block half" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/screens.png)"> </div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Day 4 — Thursday: THE MOMENT OF TRUTH</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				This is where the design sprint process shows it’s true value. When we walked in Thursday morning, we had already designed the prototype. The most time-consuming part of the process – the debating and decision making – had been done the day before.
			</p>
			<p>
				Thursday morning, we all walked in, divided up the tasks that needed to be done – build the interview script, gather assets for the prototype, and stitch the prototype together – put on headphones, and got to work!
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/thursday.png)"></div>
		<div class="img-block half pull-left" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/design.png)"></div>
		<div class="img-block half" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/jorge.png)"> </div>
	</div>

	<div class="case-study-block container">
		<div class="big-block center">
			<p>
				I was astonished when we broke for lunch to see everything that Noe had accomplished – and when I asked him about it, he was astonished too. “Well, its really been a lot easier than I thought,” he told the team over lunch, “because most of the things we usually waste time on were all figured out yesterday on the whiteboard. We’ve gotten more done in the last three and a half days then we usually accomplish in two months!”
			</p>
			<p>
				This may seem like an exaggeration but it isn’t. Authors Knapp, Zeratsky, and Kowitz were strategic in their approach. In the general design process, the places that tend to drain time (and dollars) are communication lag and group in-decision. By structuring activities that bring the right voices into the room at the right times, and time-boxing practices that tend to go on and on with small marginal returns (like brainstorming, sketching, and decision making) we were able to create a realistic prototype in record time.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/design-prototype.png)"></div>
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/prototype.jpg)"></div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Day 5 — Friday: FINDING VALIDATION</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				The biggest time-saver in Design Sprints, however, is in user validation. Our team was a small group of quite experienced people, and knowledgeable groups aren’t without their disagreements. In the case of design sprints, most disagreements can be cut short with the simple understanding that “…we can ask about that during testing.”
			</p>
			<p>
				Friday, Noe settled into one of the private coworking space rooms with the prototype on a phone and a short interview script in front of him on his laptop. With user testing, it is always important for the users to feel comfortable. This means selecting a single, experienced moderator to conduct the interview.
			</p>
			<p>
				We all wanted to listen, though! So also up on his laptop was a google hangouts window connected to Alex, me, and Jorge in a room around the corner.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/interview-set.jpg)"></div>
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/interview.jpg)"></div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">A CLEAR PATH FORWARD</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				By the end of Friday, we were exhausted, and still a little in awe about what we’d accomplished. With user quotes still bouncing though our minds, everyone – especially Jorge – was deep in thought about the next step for the company.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/final-product.png)"></div>
	</div>

	<div class="case-study-block container">
		<span class="quote">
			“I think that the design sprint is a very valuable tool for everyone who’s wishing to start an idea. I think its a no-brainer, once you do it, you make everything faster, everything easier, smoother – you lower your costs.” <br>
			– Jorge Borbolla, Founder of Messa
		</span>
	</div>
</div>
