---
layout: project-es
title: Messa
type: projects
bg_img: "//s3.amazonaws.com/icalialabs/assets/img/messa/messa.jpg"
client: Jorge Borbolla
---

<div class="content-wrapper">
	<div class="case-study-block container">
		<span class="quote">
			"Tengo varios amigos que han trabajado en restaurantes y antros, otros amigos que son socios de estos clubes como inversionistas. Hablé con ellos acerca de mi idea, pero no tenía nada para mostrarles – algo como un prototipo – no tenía nada. Sólo fui, me tomé un café o una cerveza con ellos y les pregunté, ya sabes, '¿Qué opinas de esta idea? ¿Cómo te sentirías con este proyecto?' y todos me dijeron 'Suena bine, pero necesito ver algo. O sea suena genial, pero ahorita sólo es una idea'”
			<br>
			-Jorge Borbolla
		</span>
	</div>
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Junta Inicial</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				Cuando empezamos el diálogo con Jorge su idea de negocio era nueva y apenas estaba comenzando a pensar en la ruta de producción.
			</p>
			<p>
				Los modelos de desarollo tradicionales tienen periodos muy largos de planeación donde analistas de negocio pasan varios meses bosquejando los requerimientos de software en base a investigación extensiva. Ese proceso interno conlleva riesgos enormes, pues si la investigación 'de escritorio' resulta inválida en la práctica, el tiempo, esfuerzo y recurso desperdiciado es potencialmente enorme. Por ello como emprendedores estamos tentados a "seguir nuestras corazonadas" en cuanto a lo que creemos que nuestros clientes quieren.
			</p>
			<p>
				Dicho esto, brincar a un proceso costoso de desarrollo en base a suposiciones también implica un enorme riesgo, particularmente para startups no fondeados como el de Jorge.
			</p>
			<p>
				En organizaciones grandes decisiones de este tipo - especialmente hechas en grupo - pueden llegar a meter a las partes interesadas en aprietos en cuanto a la decisión de qué construir, lo cuál lleva ya sea a la limitación perjudicial del alcance o a decisiones tomadas por razones 'políticas' más que por motivos del mercado.
			</p>
			<p>
				A través de los Design Sprint ofrecemos una forma fácil de mitigar estos riesgos por medio de un proceso de prototipado rápido que culmina con pruebas ágiles con la audiencia real.
			</p>
		</div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Día 1 — Lunes: DESEMPACANDO EL PROBLEMA</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				El lunes nos metimos todos a nuestra sala de proyectos en el <em> espacio de coworking</em> Nest en Playa del Carmen. Después de discutir las metas de negocio generales de Jorge, nos pusimos inmediatamente a preparar la actividad principal del día: Mapear el problema.
			</p>
			<p>
				Cuando nos bajamos del avión en Playa del Carmen, nunca habíamos conocido a Jorge, y solamente conocíamos su problema a partir de algunos cuantos correos. Mapear es una actividad increíble para poder entender las suposiciones más críticas del negocio y para asegurarse que todos en el equipo está en la misma página. Para esa misma tarde  teníamos un bueno conocimiento sobre las metas de la empresa de Jorge, su mercado objetivo, y su ruta general. Esto nos permitió brincar a conversaciones más profundas y productivas de manera rápida.
			</p>
			<p>
				Esa tarde trajimos expertos locales a la sala para entrevistarlos y pedirles retroalimentación en base a sus experiencias para poder hacer algunos ajustes a nuestro mapa. 
				Durante la entrevista, todos captamos en <em>pos-its</em> conceptos e ideas que aparecieron en nuestras cabezas. Estas ideas fueron muy útiles al final del día, cuando lass clasificamos en grupos y elegimos un área general del mapa para concentrarnos durante la semana.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/target.png)"></div>
		<div class="img-block half pull-left" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/notes.png)"></div>
		<div class="img-block half" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/decisions.png)"> </div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Día 2 - Martes: ENFOQUE EN EL ESPACIO DEL PROBLEMA</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				Con nuestro mapa en el pizarrón, tuvimos una comprensión compartida del espacio del problema y un lenguaje común para discutirlo. Con esto, pudimos llegar a trabajar el martes por la mañana investigando diferentes soluciones y reuniéndonos para compartirlos con el grupo. Después de una hora con cada uno de nosotros capturando las pantallas de nuestros sitios web y aplicaciones favoritas, llevamos a cabo "Lightning Demos" - demostraciones de tres minutos para compartir nuestras ideas y conceptos a tomar como base.
			</p>
			<p>
				Después de captar y compartir esta inspiración, las ideas fluían. En una actividad estructurada, cada uno de nosotros bosquejó nuestras propias soluciones para la aplicación. Este proceso de enfocado y con tiempo acotado es una carrera, pero al final, fue asombroso qué lo logramos.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/more-notes.png)"></div>
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/flow.png)"></div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Día 3 - Miércoles: DISEÑANDO UNA APLICACIÓN</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				El Miércoles por la mañana, fuimos derecho a discutir y elegir los mejores aspectos de cada boceto.
			</p>
			<p>
				Una vez más, criticamos las ideas, hicimos un voto con sticker para generar un "mapa de calor" con el fin ver dónde el grupo pensaba que se encontraban las mejores ideas. Una vez más, como tomador de decisiones, Jorge tomó la decisión final sobre qué aspectos de los bocetos utilizar.
			</p>
			<p>
				El miércoles por la tarde, bosquejamos el flujo pantalla por pantalla en el pizarrón, tomando ideas de los diversos bocetos alrededor de la habitación y aplicándolos a un nuevo y único concepto. Este paso fue el núcleo del Design Sprint - cada discusión que habíamos tenido hasta este punto influenció las decisiones que tomamos en el tablero.
			</p>
			<p>
				Para cuando terminamos ese miércoles, teníamos un flujo completo completamente diseñado basado en los aspectos de negocios que necesitábamos validar - y estábamos mentalmente agotados!
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/review.png)"></div>
		<div class="img-block half pull-left" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/final-flow.png)"></div>
		<div class="img-block half" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/screens.png)"> </div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Día 4 - Jueves: EL MOMENTO DE LA VERDAD</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				Aquí es donde el proceso de Design Sprint muestra su verdadero valor. Cuando entramos en la mañana del jueves, ya habíamos diseñado el prototipo. La parte que más demorada del proceso – el debate y la toma de decisiones – se había realizado el día anterior.
			</p>
			<p>
				El jueves por la mañana, todos entramos, dividimos las tareas que necesitábamos hacer: construimos el guión de la entrevista, reunimos los <em>assets</em> para el prototipo y juntamos las partes para el prototipo, nos pusimos auriculares y nos pusimos a trabajar.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/thursday.png)"></div>
		<div class="img-block half pull-left" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/design.png)"></div>
		<div class="img-block half" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/jorge.png)"> </div>
	</div>

	<div class="case-study-block container">
		<div class="big-block center">
			<p>
				Nos sorprendimos cuando nos fuimos a comer al ver todo lo que habíamos logrado. "Bueno, realmente ha sido mucho más fácil de lo que pensaba", le dijo nuestro diseñador al equipo durante el almuerzo, "porque la mayoría de las cosas que usualmente nos causan perder tiempo estaban todas cubiertas desde ayer en la pizarra. ¡Hemos hecho más en los últimos tres días y medio que lo que normalmente conseguimos en dos meses! "
			</p>
			<p>
				Esto puede parecer una exageración, pero no lo es. Los autores de Design Sprint, Knapp, Zeratsky y Kowitz fueron estratégicos en su enfoque. En el proceso de diseño general, los lugares que tienden a drenar el tiempo (y dólares) son el retraso de la comunicación y el grupo en la decisión. Al estructurar actividades que llevan las voces correctas a la sala en los momentos correctos, y prácticas de gestión del tiempo que tienden a seguir y seguir con pequeños retornos marginales (como lluvia de ideas, dibujo y toma de decisiones), pudimos crear un prototipo realista en tiempo récord.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/design-prototype.png)"></div>
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/prototype.jpg)"></div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Día 5 - Viernes: ENCONTRAR LA VALIDACIÓN</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				El mayor ahorro de tiempo en los Design Sprint, sin embargo, está en la validación del usuario. Nuestro equipo era un grupo pequeño de gente bastante experimentada, y los grupos conocedores no están sin sus desacuerdos. En el caso de los Sprints, la mayoría de los desacuerdos pueden ser cortados con el simple entendimiento de que "... podemos preguntar sobre eso durante las pruebas".
			</p>
			<p>
				El Viernes, nuestro diseñador líder se instaló en una de las salas privadas de espacio de coworking con el prototipo en un teléfono y un breve guión de la entrevista delante de él en su computadora portátil. Con las pruebas de los usuarios, siempre es importante que los usuarios se sientan cómodos. Esto significa seleccionar un solo moderador experimentado para llevar a cabo la entrevista.
			</p>
			<p>
				A pesar de esto ¡Todos queríamos escuchar! Así que también en su computadora portátil tenía abierta una ventana de Google Hangouts conectado la sala donde estábamos junto con Jorge.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/interview-set.jpg)"></div>
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/interview.jpg)"></div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">UN CAMINO CLARO HACIA ADELANTE</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				Al final del viernes, estábamos exhaustos, y todavía un poco asombrados por lo que habíamos logrado. Con las citas y retro de los usuarios todavía rebotando en nuestras mentes, todo el mundo - especialmente Jorge - estaba profundamente pensando en el siguiente paso para la empresa.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/messa/final-product.png)"></div>
	</div>

	<div class="case-study-block container">
		<span class="quote">
			"Creo que el Design Sprint es una herramienta muy valiosa para todos los que desean iniciar un negocio y probar una idea. Creo que es una obviedad, una vez que lo haces, haces todo más rápido, todo más fácil, más suave - bajas tus costos ". <br>
			– Jorge Borbolla, Fundador de Messa
		</span>
	</div>
</div>
