---
layout: project-es
title: Okudoc
type: projects
bg_img: "//s3.amazonaws.com/icalialabs/assets/img/okudoc.jpg"
client: Zumanis
---

<div class="content-wrapper">
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">El Desafío</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				Encontrart un doctor no es sencillo. Encontrar un doctor de confianza es aún más difícil. Okudoc quería resolver este problema particular. ¿Cómo hacer la búsqueda de un buen doctor más fácil? ¿Cómo podemos ayudar a los pacientes a ver y filtrar fácilmente doctores para poder llegar a su mejor alternativa?
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/okudoc/okudoc-process.jpg)"></div>
		<div class="img-block half pull-left" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/okudoc/okudoc-imagotype.jpg)"></div>
		<div class="img-block half" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/okudoc/okudoc-type.jpg)"></div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Branding</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				En el proceso de re-branding de este producto tomamos una inmersión profunda para averiguar quién es el tomador de decisiones en materia de salud en la familia y cómo podríamos comunicarles el mensaje correcto con la nueva marca del producto. En nuestra investigación encontramos que en la mayoría de los casos son las madres quienes toman la mayoría de las decisiones de salud de sus hogares.
			</p>

			<p>
				La marca de Okudoc es un reflejo directo de nuestra investigación de mercado. Usamos púrpura con el fin de atraer a las madres, ganar su confianza, y en última instancia, hacerles una de las mil cosas que hacen más fácil.
			</p>
			<p>
				Al mismo tiempo, el logotipo de Okudoc representa la unión y la fuerza de los actores involucrados al tratar de representar a la plataforma Okudoc, a las madres como usuarios finales, y a los Doctores como creadores de valor de la plataforma, conectándolos también de una manera que evoca un icono de 'sharing' de medios sociales.
			</p>
			<p>
				Finalmente, creamos una nueva tipografía para crear un toque distintivo cuando se comparase con otras soluciones.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/okudoc/logo.jpg)"></div>
		<div class="img-block half pull-left" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/okudoc/okudoc-icons.png)"></div>
		<div class="img-block half" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/okudoc/okudoc-work.jpg)"></div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">UI/UX</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				Nuestra intención con Okudoc, fue mostrar claramente lo que es el producto puesto que nuestro mercado objetivo no tiene un minuto libre para gastar. Con el usuario en mente y el uso intensivo de espacio en blanco centramos la atención de los usuarios a la característica principal de la aplicación: encontrar rápidamente un médico para cualquier necesidad.	
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/okudoc/okudoc-landing.png)"></div>
	</div>
</div>
