---
layout: project-es
title: Printoo
type: projects
bg_img: "//s3.amazonaws.com/icalialabs/assets/img/printoo.jpg"
client: Jose Sainz
---

<div class="content-wrapper">
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">El Desafío</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				Printoo necesitaba ser una aplicación destacada en el mundo de las aplicaciones de edición de fotos. Frente a un mercado saturado, nuestro equipo tomó apuntes de los viejos tiempos de la impresión de polaroids, y creó una poderosa y sobresaliente aplicación de edición e impresión de fotos.
			</p>
			<p>
				Fue un desafío para comunicar el concepto de una manera divertida y vibrante, mientras que ofrecía interfaz y experiencia del usuario sencillas, que hiciera de la selección de fotos, cultivo y edición de fotos una experiencia rápida, sensible y libre de errores para pedidos de impresiones.
		</div>
	</div>

	<div class="case-study-block container">
		<span class="quote">
			Printoo trajo de vuelta la nostalgia de imprimir y sostener en tus manos tus fotos impresas.
		</span>
	</div>

	<div class="case-study-block">
		<div class="img-block half pull-left" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/printoo/printoo-old.png)"></div>
		<div class="img-block half" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/printoo/white-smile.png)"></div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Branding</h5>
		</div>
		<div class="pull-right big-block">
			<p>
			 	Nos aseguramos de crear una marca que fuera moderna y joven. Con una paleta de colores lúdica y fresca, el resultado final es un producto que invita a todos los tipos de usuarios, atrayéndolos para que se diviertan y tomen sus fotos. Nuestro diseño comunica el propósito de la aplicación y el corto tiempo de respuesta para imprimir sus fotos.
			</p>
		</div>
	</div>
	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/printoo/printoo-full.png)"></div>
		<div class="img-block half pull-left" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/printoo/printoo-oldversion.png)"></div>
		<div class="img-block half" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/printoo/product.jpg)"></div>
	</div>
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Nuestra Solución</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				Con Printoo, los usuarios pueden seleccionar sus fotos favoritas de sus bibliotecas, tienen la opción de agregar filtros, recortar selecciones, y enviarlas para imprimirlas.
			</p>
			<p>
				Con una buena cantidad de investigación y a partir de nuestra experiencia con la gestión de fotos y las interfaces de edición, nos centramos en la simplicidad con el fin de mantener el foco en las fotos mismas. Permitimos un amplio espacio para las fotos en la interfaz de usuario para que puedan ser fácilmente y rápidamente seleccionados con sólo un par de <em>taps</em>. Utilizando un sistema de cuadrícula de gran tamaño, aprovechamos toda la pantalla del dispositivo de borde a borde, organizando la biblioteca de fotos para que las fotos se vean fácilmente.				
			</p>
		</div>
	</div>
	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/printoo/printoo-finalversion.png)"></div>
	</div>
</div>
