---
layout: application-light-es
title: Proceso
type: process
---
<section class="section-header">
  <div class="vertical-align">
    <h4 class="section-title">Nuestro proceso</h4>
    <h2 class="section-tag red">Al estilo Icalia.</h2>
    <p class="section-description">Combinamos las mejores prácticas de las metodologías <span class="red">Lean</span> y <span class="red">Agile</span> para <br> lanzar productos de alta calidad a tiempo.
</p>
  </div>
</section>

<div class="process-scroller" id="process-scroller">
  <nav class="hidden-on-xsmall hidden-on-small">
    <a href="#understanding" class="scroller-current"></a>
    <a href="#definition"></a>
    <a href="#design"></a>
    <a href="#build"></a>
    <a href="#measure"></a>
  </nav>
  <section class="step understanding" id="understanding">
    <div class="container step-info" >
      <span class="step-number">1</span>
      <h3 class="step-title">Entendimiento.</h3>
      <p class="step-description">Conforme nos preparamos para construir tu producto, lo ideal es crear un plan de acción. Este plan nos dará la oportunidad de pensar y analizar todo el proceso y la logística de tu proyecto, preparando la base para todo el trabajo futuro.</p>
      <br>
      <p class="step-description">Adicionalmente validaremos nuestro entendimiento de lo que quieres construir, qué problema, necesidad u oportunidad atiende, y cómo el producto se alineará para resolver estas necesidades. </p>
    </div>
  </section>
  <section class="step definition" id="definition">
    <div class="container step-info" >
      <span class="step-number">2</span>
      <h3 class="step-title">Definición.</h3>
      <p class="step-description">Con un plan listo trabajamos para definir claramente el alcance del proyecto, qué funcionalidades se pueden construir dentro del tiempo y presupuesto designados, cuál es la ruta óptima para poder tener listo el producto para pruebas de campo lo más rápido posible, cuáles son las características más importantes para tus usuarios, etc.</p>
    </div>
  </section>
  <section class="step design" id="design">
    <div class="container step-info" >
      <span class="step-number">3</span>
      <h3 class="step-title">Diseño.</h3>
      <p class="step-description">Una vez que se tiene un plan y un alcance definido, nuestra meta en esta etapa es darte prototipos no-funcionales o mock-ups para que puedas iniciar la validación de tus ideas. Este es un medio rápido para asegurarte que tu producto atienda correctamente las necesidades de tus usuarios. </p>
      <br>
      <p class="step-description">Adicionalmente, en esta etapa nos aseguraremos de que el producto resuelva los problemas de los usuarios de una forma intuitiva, mientras que aseguramos que exista un deleite en cada contacto con el producto. </p>
    </div>
  </section>
  <section class="step build" id="build">
    <div class="container step-info" >
      <span class="step-number">4</span>
      <h3 class="step-title">Construcción.</h3>
      <p class="step-description">Finalmente y tras validar que se diseñó algo que tus clientes amarán, se codifica el producto final. </p>
      <p class="step-description">Dividimos el producto en pequeños incrementos de funcionalidad que se generarán a través de Sprints, de forma que sprint tras sprint puedas ir viendo cómo rápidamente tu producto toma forma y vida. </p>

    </div>
  </section>
  <section class="step measure" id="measure">
    <div class="container step-info" >
      <span class="step-number">5</span>
      <h3 class="step-title">Lanzamiento.</h3>
      <p class="step-description">¡Felicidades! Tras todo el arduo trabajo tu producto está listo para el mundo real.</p>
      <p class="step-description">Pero no te preocupes, sabemos que siempre hay lugar para mejoras, así que continuaremos iterando y escalando tu producto o plataforma, en base a la data y comportamiento de tus clientes.</p>
    </div>
  </section>
</div>
<section class="contact-section">
  <h4 class="section-title text-center">¿Tienes una idea?</h4>
  <h2 class="text-center">¡Hagamos las cosas realidad!</h2>
  <div class="call-buttons-group red">
    <a href="https://icalialabs.typeform.com/to/z4GH28" data-label="quote process es" class="left">Cotiza Ahora</a>
    <i class="sep"></i>
    <a href="projects" class="right">Nuestro Trabajo</a>
  </div>
</section>