---
layout: application-es
title: Software Engineer
type: job
---
<section class="section-header middle" style="background-image: url('//s3.amazonaws.com/icalialabs/assets/img/devs-job.jpg');">
  <div class="culture-info vertical-align">
    <h2 class="animated fadeInUp light">Ingeniero de Software</h2>
  </div>
</section>

<section class="requirements">
  <div class="container">
    <div class="row clearfix">
      <div class="col-6">
        <strong>Responsabildiades:</strong>
        <ul>
          <li> Manejo de Desarrollo en Base a Pruebas (TDD)</li>
          <li> Diseño y desarrollo de software multi-plataforma</li>
          <li>Integración de componentes y librerías dentro de productos funcionales ya operando</li>
          <li>Documentación y mantenimiento de plataformas de software en producción</li>
          <li>Despliegue de software en ambientes de producción por medio de código (Infrastructure as code)</li>
          <li>Responsabilidad por las mejores prácticas y estándares de desarrollo ágil de software</li>
          <li>Contribución y colaboración en herramientas internas, incluyendo open-source</li>
        </ul>
        <br>
        <strong>Requisitos:</strong>
        <ul>
          <Li> Licenciatura en Informática o equivalente </li>
          <Li> Amplio conocimiento en programación orientada a objetos </li>
          <Li> 2+ años utilizando lenguajes de programación de alto nivel </li>
          <Li> 1+ años usando marcos (frameworks) de desarrollo web </li>
          <Li> Conocimiento de bases de datos relacionales </li>
          <Li> HTML básico y CSS </li>
          <Li> Conocimiento implementando proyectos con arquitectura MVC</li>
          <Li> Conocimiento del controlador de versiones (Git) para proyectos personales o de colaboración </li>
        </ul>
      </div>
        <div class="col-6">
          <strong>Puntos Extra:</strong>
          <ul>
            <li>Dominio de Git</li>
            <li>Experiencia con desarrollo en base a pruebas (TDD), idealmente Rspec</li>
            <li>Experiencia con Postgresql </li>
            <li>Experiencia con jQuery</li>
            <li>Has usado precompiladores tales como Sass, Less, entr otros</li>
            <li>Has implementado frameworks de prototipado ágil tales como Furatto, Bootstrap o Foundation</li>
            <li>Has colaborado en una iniciativa de open source</li>
          </ul>
        </div>
    </div>
    <br />
    <div class="row clearfix">
      <strong>Por favor envía a <a href="mailto:weare@icalialabs.com">weare@icalialabs.com</a> lo siguiente:</strong>
      <ul>
          <li>Perfil de Github</li>
          <li>Sitio Personal</li>
          <li>Currículum</li>
      </ul>
    </div>

  </div>
</section>
