---
layout: application-light-es
title: Startups
type: startups
---

<section class="section-header">
  <div class="vertical-align">
    <%= partial "shared/startups-svg" %>
    <div class="startup-icon">
      <%= image_tag "//s3.amazonaws.com/icalialabs/assets/img/startups.svg", class: "animated fadeIn"%>
    </div>
  </div>
</section>
<section class="text-header">
  <h1 class="section-tag red">
    Nosotros desarrollamos, tú ejecutas.
  </h1>
  <div class="section-description">
    <h6 class="letter-spacing red">Llega rápido de la idea al producto.</h6>
    <div class="section-description">
      <p>
        Construir un startup es difícil, mejoramos tus probabilidades de éxito y disminuímos tus dolores de cabeza.
      </p>
      <p>
        Para reducir tu riesgo y minimizar el desperdicio de tiempo y recursos que puedas tener, permítenos guiarte para tomar los mejores primeros pasos de tu empresa. En esta etapa harás las decisiones más importantes que puedas hacer, y teniéndonos a tu lado aseguraremos tu éxito.
      </p>
    </div>
  </div>
</section>
<section class="steps-slider">
  <div id="mi-slider" class="mi-slider">
    <ul>
      <li><a href="#"><h4>Identifica el problema</h4></a></li>
      <li><a href="#"><h4>Valida tu solución</h4></a></li>
      <li><a href="#"><h4>Define tu Producto Mínimo Viable</h4></a></li>
    </ul>
    <ul>
      <li><a href="#"><h4>Construye tu Producto Mínimo Viable</h4></a></li>
      <li><a href="#"><h4>Habla con Usuarios</h4></a></li>
      <li><a href="#"><h4>Aprende cómo mejorar tu producto</h4></a></li>
    </ul>
    <ul>
      <li><a href="#"><h4>Encuentra tu momento de “Eureka!”</h4></a></li>
      <li><a href="#"><h4>Enfócate en crecer</h4></a></li>
    </ul>
    <ul>
      <li><a href="#"><h4>Ejecuta, ejecuta, ejecuta</h4></a></li>
      <li><a href="#"><h4>Crea un sistema de alto desempeño a prueba de tontos</h4></a></li>
    </ul>
    <nav>
      <a href="#">1.Etapa de Idea</a>
      <a href="#">2.Construye.Mide.Aprende</a>
      <a href="#">3.Alineación Producto-Mercado</a>
      <a href="#">4.Escalamiento</a>
    </nav>
  </div>
</section>

<section class="features-slider">
  <div class="slider-container">
    <div class="slider-control left inactive"></div>
    <div class="slider-control right"></div>
    <ul class="slider-pagi"></ul>
    <div class="slider">
      <div class="slide slide-0 active">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
          </svg>
          <div class="slide__text">
            <h2 class="slide__text-heading">1. Etapa de Idea</h2>
          </div>
          <div class="slide__list">
            <p class="slide__text-desc">
              <ul class="step-elements">
                <li>Identifica el problema</li>
                <li>Valida tu solución</li>
                <li>Define tu Producto Mínimo Viable</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="slide slide-1 ">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
          </svg>
          <div class="slide__text">
            <h2 class="slide__text-heading">2. Construye.Mide.Aprende</h2>
          </div>
          <div class="slide__list">
            <p class="slide__text-desc">
              <ul class="step-elements">
                <li>Construye tu Producto Mínimo Viable</li>
                <li>Habla con Usuarios</li>
                <li>Aprende cómo mejorar tu producto</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="slide slide-2">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
          </svg>
          <div class="slide__text">
            <h2 class="slide__text-heading">3. Alineación Producto-Mercado</h2>
          </div>
          <div class="slide__list">
            <p class="slide__text-desc">
              <ul class="step-elements pull-right">
                <li>Encuentra tu momento de “Eureka!”</li>
                <li>Enfócate en crecer</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="slide slide-3">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
          </svg>
          <div class="slide__text">
            <h2 class="slide__text-heading">4. Escalamiento</h2>
          </div>
          <div class="slide__list">
             <p class="slide__text-desc">
              <ul class="step-elements pull-right">
                <li>Ejecuta, ejecuta, ejecuta</li>
                <li>Crea un sistema de alto desempeño a prueba de tontos</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="startup-work">
  <div class="text-center">
    <h6 class="letter-spacing red">Nuestros Clientes</h6>
    <p>Conoce más acerca de nuestro trabajo con startups</p>
  </div>
  <div class="startup-work-container">
    <span class="startup-button pull-right">MVP</span>
    <img src="//s3.amazonaws.com/icalialabs/assets/img/img-icon.png" alt="">
    <h2 class="project-description">
      Creamos una aplicación que destaca de otras aplicaciones de fotografía.
    </h2>
    <h6 class="project-name letter-spacing">PRINTOO</h6>
  </div>
  <a href="projects" class="text-center view-more">Ver más proyectos <img src="//s3.amazonaws.com/icalialabs/assets/img/more-icon.png" alt=""></a>
</section>

<section class="work-together">
  <h6 class="text-center letter-spacing red clearfix">Trabaja con nosotros</h6>
  <h1 class="text-center">Hagamos cosas geniales juntos.</h1>
  <div class="call-buttons-group red text-center">
    <a href="https://icalialabs.typeform.com/to/z4GH28" data-label="quote startups"><h6 class="letter-spacing">Cotizar</h6></a>
  </div>
</section>