---
layout: project
title: Well Data
type: projects
bg_img: "https://s3.amazonaws.com/icalialabs/assets/img/well-data/RTS.jpg"
subtitle: Visualizando Inteligencia de Datos para la Industria Petroquímica
---

<div class="content-wrapper">
	<div class="smaller-container">
		<h6 class="case-study__title">ACERCA DEL CLIENTE</h6>
		<p class="case-study__regular">
			<b>RTS</b> provee mantenimiento de infraestructura para compañías dedicadas a la perforación de pozos petroleros, ayudándoles a mantener un inventario funcional y en estado óptimo de equipo. Icalia y RTS trabajaron en conjunto para desarrollar una plataforma de inteligencia de datos, pensada para brindar mejor información para la toma de decisiones de sus clientes respecto a su equipo.
		</p>
	</div>

	<div class="imagery-block-client align-flex between">
		<img src="https://s3.amazonaws.com/icalialabs/assets/img/well-data/client/01-client.png" alt="">
		<img src="https://s3.amazonaws.com/icalialabs/assets/img/well-data/client/02-client.png" alt="">
		<img src="https://s3.amazonaws.com/icalialabs/assets/img/well-data/client/03-client.png" alt="">
		<img src="https://s3.amazonaws.com/icalialabs/assets/img/well-data/client/04-client.png" alt="">
		<img src="https://s3.amazonaws.com/icalialabs/assets/img/well-data/client/05-client.png" alt="">
	</div>

	<div class="smaller-container">
		<h6 class="case-study__title">EL RETO</h6>
		<h2 class="case-study__question">¿Cómo obtener <span>inteligencia visible</span> a partir de los datos existentes?</h2>
		<p class="case-study__content">
			Derivado de los procedimientos ordinarios para dar el mantenimiento, el equipo humano de RTS es capaz de obtener datos valiosos de los cientos de pozos que inspeccionan rutinariamente. RTS buscaba una plataforma propietaria en la cual desplegar esta información de manera que provea inteligencia de negocio para sus clientes.
		</p>
	</div>

	<div class="imagery-block align-flex between">
		<img src="https://s3.amazonaws.com/icalialabs/assets/img/well-data/sprint/01-sprint.png" alt="">
		<img src="https://s3.amazonaws.com/icalialabs/assets/img/well-data/sprint/02-sprint.png" alt="">
		<img src="https://s3.amazonaws.com/icalialabs/assets/img/well-data/sprint/03-sprint.png" alt="">
	</div>

	<div class="smaller-container">
		<h6 class="case-study__title">NUESTRA PROPUESTA</h6>
		<p class="case-study__regular">
			Considerando el alto valor de los datos actuales, nos enfocamos en generar gráficas muy completas que provean información resumida a los clientes de RTS.  <span>Queríamos alejarnos de una simple gestión de datos, y dirigirnos a una manera de entregar información accionable de manera muy sencilla de digerir.</span></b>
		</p>
	</div>

	<div class="overview">
		<h6 class="case-study__title">VISTA GENERAL</h6>
		<div class="align-flex">
			<div class="overview-content">
				<p>1s</p>
				<h6>Design Sprint</h6>
				<div class="design-progress__bar"></div>
			</div>
			<div class="overview-content">
				<p>12s</p>
				<div class="align-flex between">
					<h6>Desarrollo</h6>
					<h6>Lanzamiento!</h6>
				</div>
				<div class="development-progress__bar"></div>
			</div>
		</div>

		<div class="align-flex between">
			<div>
				<h6>Team</h6>
				<p>1.Diseñador Digital</p>
				<p>2.Senior Devs</p>
			</div>

			<div>
				<h6>Tiempo promedio de lanzamiento</h6>
				<p>14 semanas</p>
			</div>
		</div>
	</div>
</div>	

<div class="highlight">
	<div class="smaller-container">
		<h6 class="case-study__title">EL RESULTADO</h6>
		<h2 class="case-study__question">Mapa de los Pozos</h2>
		<p class="case-study__content">
			Aprovechando la información geográfica disponible para cada pozo, pudimos desplegarlos en un mapa traduciendo la exploración de información en una tarea visual y sencilla. Cada marcador en el mapa provee acceso rápido a estadísticas individuales de cada pozo.
		</p>
	</div>
</div>

<div class="one-highlight-image__container">
	<img src="https://s3.amazonaws.com/icalialabs/assets/img/well-data/01-map.png" alt="">
</div>

<figcaption>Los pozos son desplegados en el mapa, permitiendo una exploración rápida y visual</figcaption>

<div class="highlight">
	<div class="smaller-container">
		<h6 class="case-study__title">EL RESULTADO</h6>
		<h2 class="case-study__question">‘Instantánea’ de cada pozo</h2>
		<p class="case-study__content">
			Una vista detallada de cada pozo provee un vistazo a detalle de cómo se desempeña determinado pozo a lo largo del tiempo. Los clientes de RTS también tienen la capacidad de subir sus propios datos y obtener inteligencia más avanzada sobre el desempeño del pozo; cómo y por qué el equipo se deteriora bajo condiciones específicas del suelo; y así sucesivamente.
		</p>
	</div>
</div>

<div class="one-highlight-image__container">
	<img src="https://s3.amazonaws.com/icalialabs/assets/img/well-data/01-snapshot.png" alt="">
</div>

<div class="highlight">
	<div class="smaller-container">
		<h6 class="case-study__title">EL RESULTADO</h6>
		<h2 class="case-study__question">Comparativa Grupal</h2>
		<p class="case-study__content">
			Con el objetivo de revelar relaciones más complejas entre los pozos, un usuario de Well Data puede agrupar distintos pozos (cercanos o en locaciones separadas). Esto permite que el usuario encuentre patrones basados en locación, profundidad, detalles topográficos, y otros.
		</p>
	</div>
</div>

<div class="two-highlight-image__container">
	<div class="row">
		<div class="col-6 align-flex center nopadding">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/well-data/01-grouping.png" alt="">
		</div>
		<div class="col-6 align-flex center nopadding">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/well-data/01-comparison.png" alt="">
		</div>
	</div>
</div>

<div class="highlight">
	<div class="smaller-container">
		<div class="link-container align-flex">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/link-icon.png" alt="">
			<div>
				<h6>Visítalo online:</h6>
				<a href="http://hawkeye.rtsinspection.com/" target="_blank">hawkeye.rtsinspection.com</a>
			</div>
		</div>
	</div>	
</div>

<div class="suggestions">
	<div class="container">
		<h2 class="case-study__question"><span>¿Interesado en ver más?</span> <br> Visita estos otros proyectos:</h2>

		<div class="align-flex between">
			<a href="okudoc" class="case-study__container" style="background-image: url(https://s3.amazonaws.com/icalialabs/assets/img/okudoc.jpg);">
				<div class="suggestions-info">
					<h6>OkuDoc</h6>
					<p>Ayudando a los usuarios a encontrar doctores y hacer citas fácilmente online</p>
				</div>
			</a>

			<a href="printoo" class="case-study__container" style="background-image: url(https://s3.amazonaws.com/icalialabs/assets/img/printoo.jpg);">
				<div class="suggestions-info">
					<h6>Printoo</h6>
					<p>Atrayendo a usuarios a divertirse mientras le dan vida a tus fotos.</p>
				</div>
			</a>
		</div>
	</div>
</div>

