---
layout: project
title: Well Data
type: projects
bg_img: "../images/well-data/rts-bg.png"
subtitle: Visualizing Data Intelligence for the Oil Industry
---

<div class="content-wrapper">
	<div class="smaller-container">
		<h6 class="case-study__title">ABOUT THE CLIENT</h6>
		<p class="case-study__regular">
			<b>RTS</b> provides infrastructure maintenance for Oil Drilling companies, helping them to maintain a healthy and functional inventory of equipment. Icalia and RTS worked together to develop a data intelligence platform, intended to better inform decision making for Oil Drilling companies.
		</p>
	</div>

	<div class="imagery-block" style="background-image: url(images/well-data/imagery.png)"></div>

	<div class="smaller-container">
		<h6 class="case-study__title">THE CHALLENGE</h6>
		<h2 class="case-study__question">How to obtain visible,  valuable insight from existing data?</h2>
		<p class="case-study__content">
			Derived from RTS’ maintenance services, their staff is able to  acquire valuable data from the hundreds of wells they inspect. They were looking for a proprietary platform to display this data and provide their customers with highly valuable information about their infrastructure. 
		</p>
	</div>

	<div class="imagery-block" style="background-image: url(images/well-data/01-sprint.png)"></div>

	<div class="smaller-container">
		<h6 class="case-study__title">OUR APPROACH</h6>
		<p class="case-study__regular">
			Considering the high value of the data, we focused on generating extensive graphs that provide summarized info to RTS’ clients. <b>We wanted to turn away from data management alone, and provide actionable metrics in a very comprehensive way.</b>
		</p>
	</div>

	<div class="overview">
		<h6 class="case-study__title">PROJECT OVERVIEW</h6>
		<div class="align-flex">
			<div class="overview-content">
				<p>1w</p>
				<h6>Design Sprint</h6>
				<div class="design-progress__bar"></div>
			</div>
			<div class="overview-content">
				<p>12w</p>
				<div class="align-flex between">
					<h6>Development</h6>
					<h6>Launch!</h6>
				</div>
				<div class="development-progress__bar"></div>
			</div>
		</div>

		<div class="align-flex between">
			<div>
				<h6>Team</h6>
				<p>1.Digital Designer</p>
				<p>2.Senior Devs</p>
			</div>

			<div>
				<h6>Avg. time to market</h6>
				<p>14 weeks</p>
			</div>
		</div>
	</div>
</div>	

<div class="highlight">
	<div class="smaller-container">
		<h6 class="case-study__title">THE WORK</h6>
		<h2 class="case-study__question">Map View of the Wells</h2>
		<p class="case-study__content">
			By harnessing the geo data available for each well, we were able to display all wells in a map view; making the exploration process a visual and easy endeavor. Each marker in the map provides quick access to individual well status.
		</p>
	</div>
</div>

<div class="one-highlight-image__container">
	<img src="images/well-data/01-map.png" alt="">
</div>

<figcaption>Wells are displayed on the map by location, allowing a quick, visual inspection</figcaption>

<div class="highlight">
	<div class="smaller-container">
		<h6 class="case-study__title">THE WORK</h6>
		<h2 class="case-study__question">Well Snapshot</h2>
		<p class="case-study__content">
			The Well Snapshot provides an in-depth look at the well and its performance over time. RTS’ customers are also able to upload their own data and obtain deeper insights on how is the well performing; the equipment’s weathering under specific soil conditions; and so on.
		</p>
	</div>
</div>

<div class="one-highlight-image__container">
	<img src="images/well-data/01-snapshot.png" alt="">
</div>

<div class="highlight">
	<div class="smaller-container">
		<h6 class="case-study__title">THE WORK</h6>
		<h2 class="case-study__question">Well Grouping and Comparison</h2>
		<p class="case-study__content">
			In order to reveal more complex relationships between wells, the user is able to group several wells (nearby or in different locations). This allows the user to identify patterns based on location, depth, topographical details of the well, and so on.
		</p>
	</div>
</div>

<div class="two-highlight-image__container">
	<div class="row">
		<div class="col-6 align-flex center">
			<img src="images/well-data/01-grouping.png" alt="">
		</div>
		<div class="col-6 align-flex center">
			<img src="images/well-data/01-comparison.png" alt="">
		</div>
	</div>
</div>

<div class="highlight">
	<div class="smaller-container">
		<div class="link-container align-flex">
			<img src="images/link-icon.png" alt="">
			<div>
				<h6>View it online</h6>
				<a href="" target="_blank"></a>
			</div>
		</div>
	</div>	
</div>

<div class="suggestions">
	<div class="container">
		<h2 class="case-study__question"><span>Like what you see?</span> <br> Check out these other projects:</h2>

		<div class="align-flex between">
			<div class="case-study__container" style="background-image: url(https://s3.amazonaws.com/icalialabs/assets/img/okudoc.jpg);">
				<div class="suggestions-info">
					<h6>OkuDoc</h6>
					<p>Helping users find doctors and appoint visits easily online.</p>
				</div>
			</div>

			<div class="case-study__container" style="background-image: url(https://s3.amazonaws.com/icalialabs/assets/img/printoo.jpg);">
				<div class="suggestions-info">
					<h6>Printoo</h6>
					<p>Enticing user’s to have fun while bringing their photos to life.</p>
				</div>
			</div>
		</div>
	</div>
</div>

