---
layout: project
title: Yoga para Mi
type: projects
bg_img: "https://s3.amazonaws.com/icalialabs/assets/img/yoga/YPM.jpg"
subtitle: Bringing Yoga to wherever you are
---

<div class="content-wrapper">
	<div class="smaller-container">
		<h6 class="case-study__title">ABOUT THE CLIENT</h6>
		<p class="case-study__regular">
			<b>Yoga para Mí</b> is a collection of online Yoga lessons and meditation guides for Hispanic audiences. We helped Yoga para Mi to redesign their online fitness platform, bringing their top-quality video lessons to a wider online audience.
		</p>
	</div>

	<div class="imagery-block" style="background-image: url(https://s3.amazonaws.com/icalialabs/assets/img/yoga/imagery.png)"></div>

	<div class="smaller-container">
		<h6 class="case-study__title">THE CHALLENGE</h6>
		<h2 class="case-study__question">How to get more users past the signup process and into <span>getting paid subscriptions</span>?</h2>
		<p class="case-study__content">
			Yoga para Mi’s founders had previously created an online platform to host their videos, but the platform wasn’t working quite well due to a poor implementation. They were afraid that they were losing customers because of this, and requested a full redesign from us.
		</p>
	</div>

	<div class="imagery-block" style="background-image: url(https://s3.amazonaws.com/icalialabs/assets/img/yoga/01-sprint.png)"></div>

	<div class="smaller-container">
		<h6 class="case-study__title">OUR APPROACH</h6>
		<p class="case-study__regular">
			A quick customer research exercise showed us that their current users loved the quality of the videos (produced by an inner team with high standards); and the reputation of their instructors was attracting new customers to the platform. However, retention rates remained below 10% during the first year of operation.
		</p>
		<p class="case-study__regular">
			The biggest barrier was signing up and paying a membership – a bad user interface and sloppy implementation led to a poor user experience. With that in mind, <span>we decided to enhance the onboarding experience, as well as lifting up the editorial and visual experience throughout all the experience.</span>
	</div>

	<div class="overview">
		<h6 class="case-study__title">PROJECT OVERVIEW</h6>
		<div class="align-flex">
			<div class="overview-content">
				<p>1w</p>
				<h6>Design Sprint</h6>
				<div class="design-progress__bar"></div>
			</div>
			<div class="overview-content">
				<p>8w</p>
				<div class="align-flex between">
					<h6>Development</h6>
					<h6>Launch!</h6>
				</div>
				<div class="development-progress__bar"></div>
			</div>
		</div>

		<div class="align-flex between">
			<div>
				<h6>Team</h6>
				<p>1.Digital Designer</p>
				<p>3.Dev Interns</p>
				<p>2.Senior Devs</p>
			</div>

			<div>
				<h6>Avg. time to market</h6>
				<p>10 weeks</p>
			</div>
		</div>
	</div>
</div>	

<div class="highlight">
	<div class="smaller-container">
		<h6 class="case-study__title">THE WORK</h6>
		<h2 class="case-study__question">A tailored discovery path</h2>
		<p class="case-study__content">
			With more than 100 video classes to chose from, Yoga para Mi’s new customers might have a hard time picking a first class. Also, different subscribers might be looking for more or less advanced clases, as well as different Yoga styles. To address that, we created a super-simple onboarding survey, that gets the visitor’s personal preferences and recommends a perfect match for their free class.
		</p>
	</div>
</div>

<div class="four-highlight-image__container">
	<div class="row">
		<div class="col-6 align-flex center">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/yoga/discovery/01-discovery.png" alt="">
		</div>
		<div class="col-6 align-flex center">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/yoga/discovery/02-discovery.png" alt="">
		</div>
	</div>

	<div class="row">
		<div class="col-6 align-flex center">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/yoga/discovery/03-discovery.png" alt="">
		</div>

		<div class="col-6 align-flex center">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/yoga/discovery/04-discovery.png" alt="">
		</div>
	</div>
</div>

<div class="highlight">
	<div class="smaller-container">
		<h6 class="case-study__title">THE WORK</h6>
		<h2 class="case-study__question">Revamped Editorial Design</h2>
		<p class="case-study__content">
			The Well Snapshot provides an in-depth look at the well and its performance over time. RTS’ customers are also able to upload their own data and obtain deeper insights on how is the well performing; the equipment’s weathering under specific soil conditions; and so on.
		</p>
	</div>
</div>

<div class="two-highlight-image__container">
	<div class="row">
		<div class="col-6 align-flex center">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/yoga/editorial/01-editorial.png" alt="">
		</div>
		<div class="col-6 align-flex center">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/yoga/editorial/02-editorial.png" alt="">
		</div>
	</div>
</div>

<div class="highlight">
	<div class="smaller-container">
		<h6 class="case-study__title">THE WORK</h6>
		<h2 class="case-study__question">Personal learning experience</h2>
		<p class="case-study__content">
			Yoga para Mi literally means ‘Yoga for Me’, and we tried to show that for logged users. Based on your preferences, subscribers get weekly recommendations, and are able to track their performance learning Yoga online.
		</p>
	</div>
</div>

<div class="one-highlight-image__container">
	<img src="https://s3.amazonaws.com/icalialabs/assets/img/yoga/learning/01-learning.png" alt="">
</div>

<div class="highlight">
	<div class="smaller-container">
		<div class="link-container align-flex">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/link-icon.png" alt="">
			<div>
				<h6>View it online</h6>
				<a href="" target="_blank"></a>
			</div>
		</div>
	</div>	
</div>

<div class="suggestions">
	<div class="container">
		<h2 class="case-study__question"><span>Like what you see?</span> <br> Check out these other projects:</h2>

		<div class="align-flex between">
			<div class="case-study__container" style="background-image: url(https://s3.amazonaws.com/icalialabs/assets/img/okudoc.jpg);">
				<div class="suggestions-info">
					<h6>OkuDoc</h6>
					<p>Helping users find doctors and appoint visits easily online.</p>
				</div>
			</div>

			<div class="case-study__container" style="background-image: url(https://s3.amazonaws.com/icalialabs/assets/img/printoo.jpg);">
				<div class="suggestions-info">
					<h6>Printoo</h6>
					<p>Enticing user’s to have fun while bringing their photos to life.</p>
				</div>
			</div>
		</div>
	</div>
</div>
