---
layout: project
title: Yoga para Mi
type: projects
bg_img: "https://s3.amazonaws.com/icalialabs/assets/img/yoga/YPM.jpg"
subtitle: LLevando Yoga a dónde tú estás
---

<div class="content-wrapper">
	<div class="smaller-container">
		<h6 class="case-study__title">ACERCA DEL CLIENTE</h6>
		<p class="case-study__regular">
			<b>Yoga para Mí</b> es una colección de clases online de Yoga y guías de meditación para una audiencia hispanohablante. Trabajamos en conjunto con Yoga para Mí para rediseñar su plataforma y llevar sus clases de video a una audiencia online mucho más extensa.
		</p>
	</div>

	<div class="imagery-block" style="background-image: url(https://s3.amazonaws.com/icalialabs/assets/img/yoga/imagery.png)"></div>

	<div class="smaller-container">
		<h6 class="case-study__title">EL RETO</h6>
		<h2 class="case-study__question">Cómo lograr que más usuarios pasen la barrera inicial y <span>paguen una suscripción</span>?</h2>
		<p class="case-study__content">
			Las fundadoras de Yoga para Mí habían creado una plataforma anteriomente, pero no estaba funcionando efectivamente debido a una mala implementación. Estaban preocupadas de que esto estuviera ahuyentando a posibles suscriptores nuevos, y bajo ese contexto nos pidieron rediseñar su plataforma.
		</p>
	</div>

	<div class="imagery-block" style="background-image: url(https://s3.amazonaws.com/icalialabs/assets/img/yoga/01-sprint.png)"></div>

	<div class="smaller-container">
		<h6 class="case-study__title">NUESTRA PROPUESTA</h6>
		<p class="case-study__regular">
			Un ejercicio rápido de customer research arrojó que los clientes actuales se encontraban muy satisfechos con la calidad de los videos (producidos por un equipo interno bajo altos estándares de calidad); y la reputación de los instructores atraía continuamente nuevos visitantes a la plataforma. Aún con lo anterior, el índice de retención era menor al 10% durante el primer año de operación.
		</p>
		<p class="case-study__regular">
			La barrera más significativa se encontraba en el proceso de registro, así como al pagar una nueva suscripción – una interfaz poco clara y problemas en la implementación provocaban una mala experiencia de usuario. Con eso en mente, <span>decidimos mejorar la experiencia de bienvenida a nuevos usuarios, así como el diseño editorial y la experiencia visual del sitio.</span>
	</div>

	<div class="overview">
		<h6 class="case-study__title">VISTA GENERAL</h6>
		<div class="align-flex">
			<div class="overview-content">
				<p>1s</p>
				<h6>Design Sprint</h6>
				<div class="design-progress__bar"></div>
			</div>
			<div class="overview-content">
				<p>8s</p>
				<div class="align-flex between">
					<h6>Desarrollo</h6>
					<h6>Lanzamiento!</h6>
				</div>
				<div class="development-progress__bar"></div>
			</div>
		</div>

		<div class="align-flex between">
			<div>
				<h6>Team</h6>
				<p>1.Diseñador Digital</p>
				<p>3.Practicantes de Desarrollo</p>
				<p>2.Senior Devs (mentores)</p>
			</div>

			<div>
				<h6>Tiempo Promedio de lanzamiento</h6>
				<p>10 semanas</p>
			</div>
		</div>
	</div>
</div>	

<div class="highlight">
	<div class="smaller-container">
		<h6 class="case-study__title">EL RESULTADO</h6>
		<h2 class="case-study__question">Descubrimiento a la medida</h2>
		<p class="case-study__content">
			Con más de 100 lecciones online de dónde elegir, nuevos suscriptores de Yoga para Mí tienen un reto al escoger sus primeras lecciones. Además, distintos suscriptores pueden buscar distintos niveles de dificultad en las lecciones. Para atacar eso, creamos una encuesta de bienvenida muy sencilla, que obtiene las preferencias de un nuevo visitante y le recomienda la clase de prueba ideal.
		</p>
	</div>
</div>

<div class="four-highlight-image__container">
	<div class="row">
		<div class="col-6 align-flex center">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/yoga/discovery/01-discovery.png" alt="">
		</div>
		<div class="col-6 align-flex center">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/yoga/discovery/02-discovery.png" alt="">
		</div>
	</div>

	<div class="row">
		<div class="col-6 align-flex center">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/yoga/discovery/03-discovery.png" alt="">
		</div>

		<div class="col-6 align-flex center">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/yoga/discovery/04-discovery.png" alt="">
		</div>
	</div>
</div>

<div class="highlight">
	<div class="smaller-container">
		<h6 class="case-study__title">EL RESULTADO</h6>
		<h2 class="case-study__question">Diseño Renovado</h2>
		<p class="case-study__content">
			Se reestructuró completamente la arquitectura del sitio, así como las vistas y el diseño editorial. Esto arrojó un contenedor mucho más apropiado al nivel de calidad de sus videos.
		</p>
	</div>
</div>

<div class="two-highlight-image__container">
	<div class="row">
		<div class="col-6 align-flex center nopadding">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/yoga/editorial/01-editorial.png" alt="">
		</div>
		<div class="col-6 align-flex center nopadding">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/yoga/editorial/02-editorial.png" alt="">
		</div>
	</div>
</div>

<div class="highlight">
	<div class="smaller-container">
		<h6 class="case-study__title">EL RESULTADO</h6>
		<h2 class="case-study__question">Aprendizaje Personalizado</h2>
		<p class="case-study__content">
			Tratamos de volver evidente el significado de ‘para Mí’ hacia los usuarios registrados. Basado en las preferencias del suscriptor, la plataforma hace recomendaciones semanalas; mientras monitorea la actividad durante el aprendizaje de Yoga en línea.
		</p>
	</div>
</div>

<div class="one-highlight-image__container">
	<img src="https://s3.amazonaws.com/icalialabs/assets/img/yoga/learning/01-learning.png" alt="">
</div>

<div class="highlight">
	<div class="smaller-container">
		<div class="link-container align-flex">
			<img src="https://s3.amazonaws.com/icalialabs/assets/img/link-icon.png" alt="">
			<div>
				<h6>Visítalo online:</h6>
				<a href="" target="_blank"></a>
			</div>
		</div>
	</div>	
</div>

<div class="suggestions">
	<div class="container">
		<h2 class="case-study__question"><span>¿Interesado en ver más?</span> <br> Visita estos otros proyectos:</h2>

		<div class="align-flex between">
			<div class="case-study__container" style="background-image: url(https://s3.amazonaws.com/icalialabs/assets/img/okudoc.jpg);">
				<div class="suggestions-info">
					<h6>OkuDoc</h6>
					<p>Ayudando a los usuarios a encontrar doctores y hacer citas fácilmente online</p>
				</div>
			</div>

			<div class="case-study__container" style="background-image: url(https://s3.amazonaws.com/icalialabs/assets/img/printoo.jpg);">
				<div class="suggestions-info">
					<h6>Printoo</h6>
					<p>Atrayendo a usuarios a divertirse mientras le dan vida a tus fotos.</p>
				</div>
			</div>
		</div>
	</div>
</div>
