/* line 1, ../../../sass/_grid.scss */
* {
  box-sizing: border-box;
}

/* line 7, ../../../sass/_grid.scss */
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

/* line 14, ../../../sass/_grid.scss */
.col-2 {
  display: inline-block;
  width: 49%;
}

/* line 6, ../../../sass/application.scss */
* {
  margin: 0px;
  padding: 0px;
}

/* line 11, ../../../sass/application.scss */
body {
  background: #e23a2c;
  font-family: 'Open Sans', sans-serif;
}

/* line 16, ../../../sass/application.scss */
h1, h2, h3, h4 {
  font-family: 'Circular', sans-serif;
}

/* line 20, ../../../sass/application.scss */
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

/* line 28, ../../../sass/application.scss */
.text-center {
  text-align: center;
}

/* line 34, ../../../sass/application.scss */
.menu-overlay {
  position: fixed;
  background: rgba(226, 58, 44, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: none;
}
/* line 45, ../../../sass/application.scss */
.menu-overlay .menu-content {
  text-align: center;
  color: #fff;
  padding: 100px 0px;
  display: none;
}
/* line 52, ../../../sass/application.scss */
.menu-overlay a {
  font-size: 5em;
  color: #fff;
  display: block;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  margin: 20px 0px;
}
/* line 60, ../../../sass/application.scss */
.menu-overlay a:hover {
  -webkit-transform: scale(1.3);
}
/* line 65, ../../../sass/application.scss */
.menu-overlay .social-info a {
  display: inline-block;
  font-size: 2em;
  margin: 20px 30px;
}

/* line 72, ../../../sass/application.scss */
.show-menu {
  display: block !important;
}

/* line 76, ../../../sass/application.scss */
.main-menu {
  position: relative;
  width: 90%;
  margin: 0 auto;
}
/* line 81, ../../../sass/application.scss */
.main-menu .logo {
  position: absolute;
  left: 40px;
  display: inline-block;
  z-index: 100;
}
/* line 88, ../../../sass/application.scss */
.main-menu .burger {
  width: 45px;
  position: absolute;
  right: 40px;
  display: inline-block;
  z-index: 300;
  top: 10px;
}
/* line 96, ../../../sass/application.scss */
.main-menu .burger:hover {
  opacity: 0.7;
  cursor: pointer;
}
/* line 101, ../../../sass/application.scss */
.main-menu .burger .one, .main-menu .burger .two, .main-menu .burger .three {
  width: 45px;
  height: 5px;
  background: #e23a2c;
  margin: 5px;
  position: relative;
}
/* line 109, ../../../sass/application.scss */
.main-menu .burger.active {
  -webkit-animation: spin .5s ease;
}
/* line 113, ../../../sass/application.scss */
.main-menu .burger .one-active {
  -webkit-animation: rotate-left .5s ease-in;
  animation-delay: 0.1s;
  z-index: 999;
  background: #fff;
}
/* line 120, ../../../sass/application.scss */
.main-menu .burger .three-active {
  -webkit-animation: rotate-right .5s ease-in;
  animation-delay: 0.1s;
  z-index: 999;
  background: #fff;
}
/* line 127, ../../../sass/application.scss */
.main-menu .burger .hide-two {
  -webkit-animation: hide .5s ease-in;
  animation-delay: 0.1s;
  z-index: 999;
  background: #fff;
}

/* line 136, ../../../sass/application.scss */
.one-active {
  -webkit-transform: rotate(45deg);
  background: #fff;
}

/* line 141, ../../../sass/application.scss */
.hide-two {
  opacity: 0;
}

/* line 146, ../../../sass/application.scss */
.three-active {
  -webkit-transform: rotate(-45deg);
  right: 0px;
  top: -20px;
  background: white;
}

/* line 156, ../../../sass/application.scss */
.intro {
  margin: 100px;
  text-align: center;
  background: url("img/intro-bg.png") center bottom no-repeat #f9f9f9;
  position: relative;
}
/* line 162, ../../../sass/application.scss */
.intro .intro-content {
  padding: 140px 0px;
}
/* line 166, ../../../sass/application.scss */
.intro .hello-text {
  color: #e23a2c;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 600;
  font-size: 1.2em;
}
/* line 174, ../../../sass/application.scss */
.intro .tagline {
  color: #e23a2c;
  font-size: 48px;
  margin: 45px;
  display: block;
  font-size: 5em;
}
/* line 182, ../../../sass/application.scss */
.intro p {
  font-weight: 200;
  font-size: 2em;
  margin-bottom: 40px;
}
/* line 188, ../../../sass/application.scss */
.intro .play-video-btn {
  display: inline-block;
  color: #e23a2c;
  border: 4px solid #e23a2c;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 40px;
  position: relative;
  background: none;
  -webkit-transition: all 0.3s ease;
  font-size: 1.1em;
  letter-spacing: 3px;
}
/* line 201, ../../../sass/application.scss */
.intro .play-video-btn:hover {
  background: #e23a2c;
  color: #fff;
  border-radius: 100px;
  top: -5px;
  -webkit-transform: scale(1.1);
  cursor: pointer;
}

/* line 215, ../../../sass/application.scss */
.advantages {
  text-align: center;
}
/* line 218, ../../../sass/application.scss */
.advantages .container {
  width: 100%%;
}
/* line 222, ../../../sass/application.scss */
.advantages .section-title {
  color: #fff;
  font-size: 1.5em;
  margin: 0px 0px 70px 0px;
  letter-spacing: 1px;
}
/* line 229, ../../../sass/application.scss */
.advantages .card {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  background: #fff;
  border-radius: 3px;
  padding: 50px 0px;
  position: relative;
  -webkit-transition: all 0.3s ease;
}
/* line 239, ../../../sass/application.scss */
.advantages .card .icon {
  -webkit-transition: all 0.3s ease;
  margin-bottom: 35px;
  display: inline-block;
}
/* line 245, ../../../sass/application.scss */
.advantages .card .card-title {
  color: #e23a2c;
  margin-bottom: 65px;
  display: block;
  font-size: 22px;
}
/* line 252, ../../../sass/application.scss */
.advantages .card p {
  font-weight: 200;
  font-size: 26px;
  width: 80%;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 60px;
}
/* line 261, ../../../sass/application.scss */
.advantages .card .card-link {
  color: #e23a2c;
  font-size: 22px;
  font-weight: 600;
}

/* line 271, ../../../sass/application.scss */
.work-slider {
  background: #9f2b20;
  text-align: center;
  margin: 100px auto;
  position: relative;
  opacity: 0.5;
  height: 600px;
  -webkit-transition: all 0.3s ease;
  overflow: hidden;
}
/* line 281, ../../../sass/application.scss */
.work-slider .container {
  width: 100%;
}
/* line 285, ../../../sass/application.scss */
.work-slider a.control_prev, .work-slider a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  opacity: 0.8;
  cursor: pointer;
}
/* line 298, ../../../sass/application.scss */
.work-slider a.control_prev:hover, .work-slider a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}
/* line 303, ../../../sass/application.scss */
.work-slider a.control_prev {
  border-radius: 0 2px 2px 0;
}
/* line 307, ../../../sass/application.scss */
.work-slider a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}
/* line 312, ../../../sass/application.scss */
.work-slider .slides {
  position: relative;
  margin: 0;
  padding: 0;
  height: 600px;
  list-style: none;
}
/* line 320, ../../../sass/application.scss */
.work-slider .slides li {
  background: url(img/pikster.png) no-repeat;
  background-size: 35%;
  background-position: right bottom;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 300px;
  text-align: center;
}
/* line 333, ../../../sass/application.scss */
.work-slider .slides li:hover {
  background-size: 36%;
}
/* line 337, ../../../sass/application.scss */
.work-slider .slides li .slider-title {
  color: rgba(0, 0, 0, 0.5);
}
/* line 341, ../../../sass/application.scss */
.work-slider .slides li .project-title {
  color: #fff;
  text-decoration: underline;
  margin: 50px 0px;
  font-size: 42px;
  letter-spacing: 2px;
}
/* line 349, ../../../sass/application.scss */
.work-slider .slides li p {
  font-weight: 200;
  color: #fff;
  font-size: 42px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
}
/* line 358, ../../../sass/application.scss */
.work-slider .slides li .view-project {
  color: #fff;
  border: 1px solid #fff;
  padding: 25px 80px;
  border-radius: 3px;
  font-weight: 200;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 50px;
  -webkit-transition: all 0.3s ease;
}
/* line 369, ../../../sass/application.scss */
.work-slider .slides li .view-project:hover {
  background: #fff;
  color: #9f2b20;
  border-radius: 100px;
  top: -5px;
  -webkit-transform: scale(1.1);
}
/* line 380, ../../../sass/application.scss */
.work-slider .slides .bullets {
  list-style: none;
}
/* line 383, ../../../sass/application.scss */
.work-slider .slides .bullets li {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  display: inline-block;
  border: 2px solid #fff;
}

@font-face {
  font-family: DeliciousRoman;
  src: url("../fonts/Circular.otf");
  font-weight: 400;
}

@-webkit-keyframes rotate-right {
  /* line 407, ../../../sass/application.scss */
  0% {
    -webkit-transform: rotate(0deg);
    right: 0px;
    top: 0px;
  }

  /* line 412, ../../../sass/application.scss */
  100% {
    -webkit-transform: rotate(-45deg);
    right: 0px;
    top: -20px;
  }
}

@-webkit-keyframes spin {
  /* line 420, ../../../sass/application.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 423, ../../../sass/application.scss */
  100% {
    -webkit-transform: rotate(-180deg);
  }
}

@-webkit-keyframes rotate-left {
  /* line 430, ../../../sass/application.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 431, ../../../sass/application.scss */
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@-webkit-keyframes hide {
  /* line 436, ../../../sass/application.scss */
  0% {
    -webkit-transform: rotate(0deg);
    top: 0px;
    opacity: 1;
  }

  /* line 442, ../../../sass/application.scss */
  50% {
    opacity: 0;
  }

  /* line 446, ../../../sass/application.scss */
  100% {
    -webkit-transform: rotate(90deg);
    top: 200px;
  }
}

@-webkit-keyframes move {
  /* line 452, ../../../sass/application.scss */
  50% {
    bottom: 50%;
    left: -70%;
  }
}

@-webkit-keyframes move-left {
  /* line 458, ../../../sass/application.scss */
  50% {
    bottom: 50%;
    right: 70%;
  }
}

/* line 466, ../../../sass/application.scss */
.skills {
  position: relative;
  width: 100%;
  height: 300px;
}
/* line 471, ../../../sass/application.scss */
.skills .mask {
  z-index: 1;
  height: 300px;
  -webkit-transition: width 1s ease-in-out;
  width: 50%;
  cursor: pointer;
  float: left;
  display: inline-block;
  height: 300px;
}
/* line 482, ../../../sass/application.scss */
.skills .skill {
  width: 100%;
  position: absolute;
  -webkit-transition: width 1s ease-in-out;
  top: 0px;
  height: 300px;
}
/* line 490, ../../../sass/application.scss */
.skills .technology {
  background: blue;
}
/* line 498, ../../../sass/application.scss */
.skills .aesthetics {
  background: green;
}
/* line 502, ../../../sass/application.scss */
.skills .expand-content {
  background: #e23a2c;
  color: #FFF;
  display: block;
  opacity: 1;
  width: 100%;
}
/* line 512, ../../../sass/application.scss */
.skills .fusion {
  background: #000;
  color: #FFF;
  display: inline-block;
  padding: 25px;
  width: 40px;
  height: 40px;
}
/* line 520, ../../../sass/application.scss */
.skills .fusion.circle {
  border-radius: 50%;
  right: 50%;
  position: absolute;
  top: 50%;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  z-index: 3000;
  text-align: center;
}
/* line 532, ../../../sass/application.scss */
.skills .fusion.circle.move-left {
  -webkit-transform: scale(0.5);
  -webkit-animation: move 3s ease;
  top: 0;
  right: 0;
}
/* line 539, ../../../sass/application.scss */
.skills .fusion.circle.move-right {
  -webkit-transform: scale(0.5);
  -webkit-animation: move-left 3s ease;
  top: 0;
  left: 0;
}
