h4 {
    color: $light-color;
    margin-bottom: px-to-rems(16);
  }

.address-section {
  background: url('//s3.amazonaws.com/icalialabs/assets/img/office.png') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: px-to-rems(80) 0;

  h4 {
    padding: px-to-rems(16) 0;
  }

  .container {
    margin: 0 auto;
  }

  .address-container {
    background: #2d1a1a;
    border-radius: px-to-rems(4);
    padding: px-to-rems(64) 0;
    position: relative;

    .address {
      display: inline-block;
      padding-left: px-to-rems(32);
      vertical-align: top;
    }

      h4 {
        color: $primary-color;
        margin-bottom: px-to-rems(32);
        padding: 0;
      }
    }
  }

  .building {
    background: url('//s3.amazonaws.com/icalialabs/assets/img/contact/building.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
  }

  p {
    font-weight: 100;
  }

  a {
    @include transition(all .5s ease);
    border: px-to-rems(1) solid $primary-color;
    border-radius: px-to-rems(2);
    display: inline-block;
    margin: px-to-rems(10) 0;
    padding: px-to-rems(20) px-to-rems(50);
    position: relative;
    text-decoration: none;

    &:hover {
      background: $primary-color;
      color: $light-color;
    }
  }
}

.social-networks {
  height: 90vh;
  padding: px-to-rems(80);

  ul li {
    display: inline-block;
  }

  p {
    font-weight: 200;
    margin: px-to-rems(40);
  }

  .icons-container {
    padding-top: px-to-rems(48);
  }

  .icon {

    img {
      @include transition(all .2s ease-in-out);
    }
  }

  .fb-icon {
    left: px-to-rems(-368) !important;

    @include phone {
      left: px-to-rems(-144) !important;
    }

    img {
      width: 10%;
    }
  }

  .medium-icon {
    left: px-to-rems(240) !important;
    top: px-to-rems(240) !important;

    @include phone {
      left: 0 !important;
      top: px-to-rems(320) !important;
    }

    img {
      width: 53%;
    }
  }

  .dribbble-icon {
    left: px-to-rems(400) !important;
    top: px-to-rems(80) !important;

    @include phone {
      left: px-to-rems(160) !important;
      top: 0 !important;
    }

    img {
      width: 50%;
    }
  }

  .instagram-icon {
    left: px-to-rems(560) !important;
    top: px-to-rems(48) !important;

    @include phone {
      left: px-to-rems(208) !important;
      top: px-to-rems(176) !important;
    }

    img {
      width: 50%;
    }
  }

  .github-icon {
    left: px-to-rems(640) !important;
    top: px-to-rems(208) !important;

    @include phone {
      left: px-to-rems(224) !important;
      top: px-to-rems(400) !important;
    }

    img {
      width: 70%;
    }

  }

  .twitter-icon {
    left: px-to-rems(880) !important;
    top: px-to-rems(96) !important;

    @include phone {
      left: px-to-rems(272) !important;
      top: px-to-rems(272) !important;
    }

    img {
      width: 60%;
    }
  }

  a {
    &:hover img {
      @include transform(scale(1.5));
    }
  }
}

@include max-screen($small-screen) {
  .contact {
    .info {
      padding-bottom: 60px;
      padding-top: 180px;
    }
  }

  .social-networks {
    height: 100vh !important;
  }
}
