.perk:hover .perk-icon {
  margin-top: 0%;
}

.perk:hover figure {
  @include transition(all .4s ease-in-out);

  .perk-icon {
    margin-top: 0%;
    opacity: 1;
  }

  .perk-description {
    opacity: 1;
  }
}

.culture {
  .section-header {
    background: $dark-color;
    overflow: hidden;

    video,
    .plyr,
    .plyr__video-wrapper {
      height: 100%;

      @include phone {
        width: 100vw;
      }
    }

    video {
      opacity: .8;
    }
  }

  .values-section {
    padding: px-to-rems(100) 0;
    text-align: center;

    .big-header {
      font-size: 4rem;
    }

    a {
      border: 2px solid rgba($primary-color, .3);
      border-radius: 100px;
      font-size: .8em;
      font-weight: 600;
      letter-spacing: 2px;
      padding: 10px 20px;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      top: 95px;

      @include phone {
        top: 30px;
      }
    }
  }


  .career {
    background: $primary-color;
    color: rgba(255, 255, 255, .9);
    margin: px-to-rems(30) auto;
    padding: px-to-rems(150) 0;

    .career-icon {
      width: px-to-rems(300);
    }

    p {
      font-size: px-to-rems(16);
      margin: 1.875rem auto;
      max-width: px-to-rems(600);
    }

    h2 {
      @include max-screen($small-screen) {
        line-height: 3rem;
      }
    }
  }

  .perks {
    padding: 100px 0;

    .section-description {
      margin: 20px auto 100px;

      @include max-screen($small-screen) {
        margin-bottom: 45px;
      }
    }

    .perk-icon {
      @include transition(all .5s ease-in);
      margin: 20px auto;
      max-height: 100px;
    }

    .perk-title {
      color: $primary-color;
      font-size: 1.1em;
      margin: 10px 0;
    }

    .perk-description {
      @include transition(all .5s ease-in);
      color: rgba($dark-color, .5);
      font-size: px-to-rems(12);
      font-weight: 400;
      margin: px-to-rems(14) auto;
      max-height: 0;

      @include max-screen($small-screen) {
        opacity: 1;
      }
    }
  }

  .positions {
    padding: 0 0 px-to-rems(100);

    p {
      color: rgba(0, 0, 0, .7);
      font-size: 1.3em;
      font-weight: 200;
      line-height: 1.4em;
      margin: 30px auto;
      width: 60%;
    }

    .position {
      background: rgba($dark-color, .05);
      color: $primary-color;
      display: inline-block;
      font-size: 1.25rem;
      padding: 1rem;
      text-decoration: none;
      transition: all .3s ease;
    }

    .position:hover {
      background: rgba($dark-color, .1);
      cursor: pointer;
      transform: translateY(-10%);
    }

    .position img {
      display: block;
      width: px-to-rems(200);
    }
  }
}

.perk {
  @include transition(all .4s ease-in-out);
  overflow: hidden;
  padding-top: 33.33%;
  position: relative;

  @include max-screen($small-screen) {
    padding-top: 100%;
  }

  @include min-screen(1000px) {
    &:hover .perk-icon {
      margin-top: -30%;
    }

    &:hover figure {
      @include transform(translateY(-100%));
    }

    &:hover figure .perk-icon {
      margin-top: -80%;
      opacity: 0;
    }

    &:hover figure .perk-description {
      opacity: 1;
    }

  }

  figure {
    @include transition(all .4s ease-in-out);
    @include transform(translateY(-50%));
    padding: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
  }
}

.square-bg-1 {
  background: rgba($dark-color, .01);

  @include max-screen($small-screen) {
    background: inherit;
  }
}

.square-bg-2 {
  background: rgba($dark-color, .03);

  @include max-screen($small-screen) {
    background: inherit;
  }
}

.square-bg-3 {
  background: rgba($dark-color, .05);

  @include max-screen($small-screen) {
    background: inherit;
  }
}

.requirements {
  padding: px-to-rems(100);

  ul li {
    margin: px-to-rems(10) 0;
  }

  strong {
    display: block;
    margin: 10px 0;
  }
}
