body {
  &.process {
    transition: all .3s ease;
  }
}

.process-scroller {

  nav {
    @include transform(translateY(-50%));
    left: 5%;
    position: fixed;
    top: 50%;
    z-index: 9999;

    a {
      background: rgba(255, 255, 255, .6);
      display: block;
      height: px-to-rems(4);
      margin: px-to-rems(10) 0;
      position: relative;
      transition-duration: .4s;
      transition-property: all;
      transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55);
      width: px-to-rems(30);

      &.scroller-current {
        background: rgba(255, 255, 255, 1);
        width: px-to-rems(60);
      }

      a:hover {
        background: rgba(255, 255, 255, 1);
      }
    }
  }
}

.step {
  height: 100vh;
  position: relative;

  @include phone {
    height: 60vh;
  }

  @include ipad {
    height: 60vh;
  }

  &-info {
    height: 40vh;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease;
    width: 45%;

    @include phone {
      top: 20%;
      width: 90%;
    }

    @include ipad {
      width: 90%;
    }
  }

  .step-number {
    border: px-to-rems(3) solid;
    color: $light-color;
    font-size: px-to-rems(16);
    font-weight: 900;
    padding: .6rem px-to-rems(16);
  }

  .step-title {
    color: $light-color;
    font-size: px-to-rems(32);
    letter-spacing: px-to-rems(1);
    margin: px-to-rems(20) 0;
    transform: translateX(-10%);

    &::after {
      background: $light-color;
      content: '';
      display: inline-block;
      height: px-to-rems(3);
      margin-left: px-to-rems(16);
      vertical-align: middle;
      width: 10%;
    }
  }

  .step-description {
    color: $light-color;
    font-size: px-to-rems(16);
    font-weight: 400;
    line-height: px-to-rems(28);
  }
}

.understanding {
  background-attachment: fixed;
  background-color: $primary-color;
  background-image: url('//s3.amazonaws.com/icalialabs/assets/img/process/understanding.png'), url('//s3.amazonaws.com/icalialabs/assets/img/process/process-bg.png');
  background-position: 15% 50%;
  background-repeat: no-repeat;

  @include max-screen($medium-screen-max) {
    background-image: none;
  }
}

.definition {
  background-attachment: fixed;
  background-color: $primary-color;
  background-image: url('//s3.amazonaws.com/icalialabs/assets/img/process/definition.png'), url('//s3.amazonaws.com/icalialabs/assets/img/process/process-bg.png');
  background-position: 15% 50%;
  background-repeat: no-repeat;

  @include max-screen($medium-screen-max) {
    background-image: none;
  }
}

.design {
  background-attachment: fixed;
  background-color: $primary-color;
  background-image: url('//s3.amazonaws.com/icalialabs/assets/img/process/design.png') , url('//s3.amazonaws.com/icalialabs/assets/img/process/process-bg.png');
  background-position: 15% 50%;
  background-repeat: no-repeat;

  @include max-screen($medium-screen-max) {
    background-image: none;
  }
}

.build {
  background-attachment: fixed;
  background-color: $primary-color;
  background-image: url('//s3.amazonaws.com/icalialabs/assets/img/process/build.png') , url('//s3.amazonaws.com/icalialabs/assets/img/process/process-bg.png');
  background-position: 15% 50%;
  background-repeat: no-repeat;

  @include max-screen($medium-screen-max) {
    background-image: none;
  }
}

.measure {
  background-attachment: fixed;
  background-color: $primary-color;
  background-image: url('//s3.amazonaws.com/icalialabs/assets/img/process/measure.png') , url('//s3.amazonaws.com/icalialabs/assets/img/process/process-bg.png');
  background-position: 15% 50%;
  background-repeat: no-repeat;

  @include max-screen($medium-screen-max) {
    background-image: none;
  }
}

@include phone {
  .step {
    padding: px-to-rems(10);
  }

  .step-title {
    padding-left: px-to-rems(34);
    padding-top: px-to-rems(10);
  }

  .step-description {
    padding-right: px-to-rems(40);
  }

  .sep {
    display: none;
  }

  .step-info {
    left: 10%;
    top: 50%;
  }
}
