@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}

.section-description {
  color: rgba(#000, .7);
  font-size: px-to-rems(22.4);
  font-weight: 100;
  margin: px-to-rems(30) auto;
  width: 70%;
}

.team {

  .wrapper {
    position: relative;

    .gradient {
      @include background-image(linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75)));
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: px-to-rems(100);
      z-index: 1;
    }
  }

  .section-header {
    background: url('//s3.amazonaws.com/icalialabs/assets/img/team.jpg');
    background-position: center center;
    @include background-size(cover);
    color: $light-color;
    text-align: left;

    .curtain {
      background: $primary-color;
      height: 100%;
      opacity: .5;
      position: absolute;
      width: 100%;
    }
  }

  .team-header {
    margin: 0 auto;
    position: relative;
    top: 60%;
    width: 60%;

    @include phone {
      top: 50%;
      width: 95%;
    }
  }

  .join {
    background: $light-color;
    height: 60vh;
    text-align: center;

    .tag {
      margin: px-to-rems(30) 0;
    }
  }
}

.team-section {
  cursor: pointer;
  height: auto;
  min-height: 90vh;
  overflow: hidden;
  position: relative;
  width: 100%;

  .hide {
    color: $primary-color;
    position: absolute;
    right: px-to-rems(32);
    top: px-to-rems(32);
    z-index: 100;

    @include phone {
      right: px-to-rems(160);
      top: px-to-rems(112);
    }

    h6 {
      float: right;
      margin-top: px-to-rems(4.8);
    }

    img {
      float: left;
      width: 10%;
    }
  }

  aside {
    @extend %no-scrollbar;
    background: $primary-color;
    color: $light-color;
    float: left;
    height: 100%;
    left: 0;
    overflow: auto;
    padding: px-to-rems(32);
    position: absolute;
    top: 0;
    width: 20%;
    z-index: 100;

    @include phone {
      padding: px-to-rems(16);
      width: 25%;
    }

    h6 {
      margin-bottom: px-to-rems(32);
    }
  }

  .team-sidebar {
    color: $light-color;
    list-style: none;

    a {
      @include transition(all .2s ease-in-out);
      color: $dark-color;
      display: block;
      font-size: px-to-rems(12.8);
      margin-bottom: px-to-rems(16);
    }
  }

  .active {
    color: $light-color;
    font-size: px-to-rems(24);
  }

  .close-mobile {
    position: absolute;
    right: px-to-rems(16);
    top: px-to-rems(96);
    width: 4%;
    z-index: 200;

    @include phone {
      width: 10%;
    }
  }

  .members-fullpage {
    display: none;

    @include phone {
      width: 100%;
      z-index: 200;
    }
  }

  .members-grid {
    height: auto;
    display: flex;
    flex-wrap: wrap;

    &--member-container {
      overflow: hidden;
      transition: all .5 ease-in-out;
      width: 20%;
    }

    &--member-container:hover .members-grid--member {
      transform: scale(1.2);
    }

    &--member {
      background-position: center top;
      background-repeat: no-repeat;
      background-size: 50vh;
      background-position: 50% 35%;
      height: 35vh;
      transition: all .2s ease-in-out;

      @include phone {
        background-size: 55vh;
        height: 50vh;
      }
    }
  }

  .member {
    @include transition(all 1s ease-in-out);
    animation: appear .8s;
    background-position: 110%;
    background-repeat: no-repeat;
    background-size: 90%;
    color: $light-color;
    display: none;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 100%;

    @include phone {
      background-image: none !important;
    }

    &.show {
      display: block;
    }

    &:first-child {
      display: block;
    }
  }

  .member-info {
    color: $dark-color;
    left: 25%;
    position: relative;
    text-align: justify;
    top: 40%;
    width: 25%;
    z-index: 100;

    @include phone {
      left: 5%;
      top: 20%;
      width: 80%;
    }

    .name {
      color: $primary-color;
    }

    .name,
    .position {
      margin-bottom: px-to-rems(16);
    }

    p {
      font-size: px-to-rems(14);
    }
  }
}

.networks {
  left: 90%;
  position: absolute;
  top: 40%;

  .social {
    color: $primary-color;
    cursor: pointer;
    display: block;
    font-family: FontAwesome;
    font-size: px-to-rems(24);
    height: px-to-rems(24);
    margin: px-to-rems(16);
    overflow: hidden;
    width: px-to-rems(20.8);

    &.facebook::before {
      content: '\f09a';
      margin-right: px-to-rems(32);
    }

    &.twitter::before {
      content: '\f099';
      margin-right: px-to-rems(32);
    }

    &.github::before {
      content: '\f113';
      margin-right: px-to-rems(32);
    }

    &.medium::before {
      content: '\f23a';
      margin-right: px-to-rems(32);
    }

    &.website::before {
      content: '\f0c1';
      margin-right: px-to-rems(32);
    }

    &.dribbble::before {
      content: '\f17d';
      margin-right: px-to-rems(32);
    }

    &.instagram::before {
      content: '\f16d';
      margin-right: px-to-rems(32);
    }
  }
}
