<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="iAcquire’s awesome blog"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content=""/>
        <meta property="og:url" content="http://blog.iacquire.com"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Icalia Labs</title>

        <link rel="stylesheet" href="/assets/stylesheets/application.css">

    </head>
    <body>
      <section class="intro">
        <div class="container">
          <header class="main-menu">
            <img src="" alt="" class="logo">
            <div class="burger">
              <div class="one"></div>
              <div class="two"></div>
              <div class="three"></div>
            </div>
          </header>
          <h4 class="hello-text">Hello</h4>
          <h1 class="tagline">We solve problems with Digital Products</h1>
          <p>We focus on agile development & asthetics design.</p>
          <button class="play-video-btn">Play Video</button>
        </div>
      </section>

      <section class="advantages">
        <h4 class="section-title">Our Advantages</h4>
        <div class="container">
          <div class="card">
            <i class="heart"></i>
            <h4 class="card-title">Engage.</h4>
            <p>We create software that engages with people.</p>
            <a class="card-link" href="#">See More</a>
          </div>
          <div class="card">
            <i class="smile"></i>
            <h4 class="card-title">Experience.</h4>
            <p>We create software that engages with people.</p>
            <a class="card-link" href="#">See More</a>
          </div>
          <div class="card">
            <i class="learn"></i>
            <h4class="card-title">Knowledge.</h4>
            <p>We create software that engages with people.</p>
            <a class="card-link" href="#">See More</a>
          </div>
        </div>
      </section>

      <section class="work-slider" id="slider">
        <div class="container">
          <h4>Our Work.</h4>
          <a href="#" class="control_next">>></a>
          <a href="#" class="control_prev"><<</a>

          <ul class="slides">
            <li class="slide">
              <h2 class="slide-title">Pikster.</h2>
              <p>Helping people gather money easily.</p>
              <button class="view-project">See our work</button>
            </li>

            <li>SLIDE 2</li>

            <li style="background: #aaa;">SLIDE 2</li>
            <li>SLIDE 3</li>
            <li style="background: #aaa;">SLIDE 4</li>
          </ul>

          <ul class="bullets">
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </section>

      <section class="skills">
        <div class="technology skill">
          <img class="badge" src="" alt="" />
          <h4>Technology</h4>
          <p>The way we make the change</p>
          <p class="hide-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae voluptatibus eum in nemo placeat est eos tempora sequi voluptatum molestias a repellat deleniti consequuntur dolorum architecto vitae eaque doloremque nostrum.</p>
        </div>
        <span class="fusion circle">Perfect Fusion</span>
        <div class="aesthetics skill">
          <img class="badge" src="" alt="" />
          <h4>Aesthetics</h4>
          <p>The way we make the change</p>
          <p class="hide-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae voluptatibus eum in nemo placeat est eos tempora sequi voluptatum molestias a repellat deleniti consequuntur dolorum architecto vitae eaque doloremque nostrum.</p>
        </div>
      </section>

      <section class="testimonials">
        <div class="picture">
          <img src="" alt="" />
        </div>
        <div class="quote">
          <h4>Testimonials</h4>
          <blockquote>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
            <footer>
              <span>Eduardo Higareda / <strong>Pikster</strong></span>
            </footer>
          </blockquote>
          </div>
      </section>

      <footer>
        <div class="container">
          <a href="#">Do you have an awesome idea? Drink a beer with us.</a>
          <small> Copyright 2014 </small>
        </div>
      </footer>
          <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
          <script type="text/javascript" charset="utf-8" src="/assets/javascripts/application.js"></script>
          <script type="text/javascript" charset="utf-8" src="//localhost:35729/livereload.js"></script>

          <!--Vendor example
            <script type="text/javascript" charset="utf-8" src="/vendor/javascripts/vendor.js"></script>
          -->
    </body>
</html>

