---
layout: application
title: Icalia Labs | Contact
type: contact
---

<section class="info">
  <div class="row">
    <h2 class="section-tag">Let's make something awesome together</h2>
  </div>

  <div class="modal form-modal" id="email-form">
    <div class="modal-header">
      <h3>Get in touch!</h3>
      <a class="modal-close button alpha primary">X</a>
    </div>
    <div class="modal-content">
      <div>
        <form enctype="text/plain" method="get" action="mailto:weare@icalialabs.com" class="contact-form">
          <div class="row">
            Name: <input type="text" name="name" class="input">
          </div>
          <div class="row">
            Comments: <textarea rows="5" cols="30" name="comments" class="input"></textarea>
          </div>
          <div class="row">
            <input type="submit" value="Send" class="secondary-button">
          </div>
        </form>
      </div>
    </div>
  </div>

    <p>You can always send us an <a class="" data-furatto="modal" data-transition="1" data-theme="alpha" data-target="#email-form">Email</a> or a <a href="#">Tweet</a></p>
  </div>
</section>
<section class="adress">
  <div class="row container clearfix">
    <div class="col-6">
      <h2>Visit Us</h2>
    </div>
    <div class="col-6">
      <div class="adress-container">
        <p>Int. de Galerías 3453, Rincon De La Primavera
          #64835 Monterrey City, Nuevo León</p>
        <a href="#">Google Maps</a>
      </div>
    </div>
  </div>
</section>
<section class='social-networks container text-center'>
  <h2>Find us</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum porro vel quia commodi labore deserunt amet natus id optio laboriosam at sequi voluptatibus consectetur nulla possimus! Obcaecati dolore cumque quibusdam.</p>
  <div class="row clearfix">
    <div class="col-3">
      <a href="http://twitter.com/icalialabs" class="icon twitter">Twitter</a>
    </div>
    <div class="col-3">
      <a href="http://twitter.com/icalialabs" class="icon twitter">Facebook</a>
    </div>
    <div class="col-3">
      <a href="http://twitter.com/icalialabs" class="icon twitter">Dribbble</a>
    </div>
    <div class="col-3">
      <a href="http://twitter.com/icalialabs" class="icon twitter">Github</a>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-3">
      <a href="http://twitter.com/icalialabs" class="icon twitter">Twitter</a>
    </div>
    <div class="col-3">
      <a href="http://twitter.com/icalialabs" class="icon twitter">Facebook</a>
    </div>
    <div class="col-3">
      <a href="http://twitter.com/icalialabs" class="icon twitter">Dribbble</a>
    </div>
    <div class="col-3">
      <a href="http://twitter.com/icalialabs" class="icon twitter">Github</a>
    </div>
  </div>
</section>
