---
layout: application
title: Icalia Labs | Contact
type: contact
---

<section class="info">
  <div class="row">
    <h2 class="section-tag">Let's make something awesome together</h2>
  </div>
  <div class="row">
    <p>You can always send us an <a href="#">Email</a> or a <a href="#">Tweet</a></p>
  </div>
</section>

<section class='social-networks container text-center'>
  <h2>Find us</h2>
  <div class="row">
    <div class="col-3">
      <a href="http://twitter.com/icalialabs" class="icon twitter">Twitter</a>
    </div>
    <div class="col-3">
      <a href="http://twitter.com/icalialabs" class="icon twitter">Facebook</a>
    </div>
    <div class="col-3">
      <a href="http://twitter.com/icalialabs" class="icon twitter">Dribble</a>
    </div>
    <div class="col-3">
      <a href="http://twitter.com/icalialabs" class="icon twitter">Github</a>
    </div>
  </div>
</section>
