---
layout: application
title: Culture
type: culture
---

<section class="info culture">
  <div class="row info-details">
    <h2 class="section-name">Culture</h2>
  </div>
  <div class="suraido-container values" data-suraido>
    <h4>Our manifesto</h4>
    <ul>
      <li class="item-slide">
        <h1 class="big-header">Motivation comes <br />from true <span class="value">passion</span>.</h1>
      </li>
      <li class="item-slide">
        <h1 class="big-header">Every member <br />has <span class="value">integrity</span>.</h1>
      </li>
      <li class="item-slide">
        <h1 class="big-header"><span class="value">Kindness</span> to give <br />before you get.</h1>
      </li>
      <li class="item-slide">
        <h1 class="big-header"><span class="value">Communication</span> as the <br />team strategy.</h1>
      </li>
    </ul>
  </div>
</section>
<section class="career text-center">
  <h2>Our Career path</h2>
  <p>For several days we have analysed many elements considered by technical and creative people in the digital industry. We believe that there are many coming options to offer, but so far this is a path that can lead you to learn and grow in a constant, unstoppable but most importantly, human way. </p>
  <br />
  <p>Every single memeber in our team has a monetary and emotional remuneration, sustained by the knowledge and experience he or she has. Along the icalier life, every 3 months we celebrate a team evaluation to assess new developed capabilities and challenges faced. </p>
</section>

<section class="perks text-center" id="slider">
  <div class="container">
    <h4 class="title-section-perks">Perks for the Icaliers</h4>
    <p class="section-description">We care about our team. We offer different perks to motivate and encourage the constant development of our passions and professional skills. These elements are additional to any basic offering as a part-time or full-time team member.</p>
    <div class="row clearfix">

      <div class="perk col-3 square-bg-1 ">
        <figure>
          <img src="/assets/img/food.png" alt="" class="perk-icon">
          <figcaption>
          <h3 class="perk-title">Learning platforms</h3>
          <p class="perk-description">Every single memeber can access to a bunch of different online platforms and leverage all knowledge available.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-3 square-bg-2">
        <figure>
          <img src="/assets/img/learn.png" alt="" class="perk-icon">
          <figcaption>
          <h3 class="perk-title">Medical insurance</h3>
          <p class="perk-description">Besides the basic insurance for full-time memebers, we offer an additional medican insurance to guarantee your tranquility when something happens.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-6 square-bg-3">
        <figure>
          <img src="/assets/img/launch.png" alt="" class="perk-icon">
          <figcaption>
          <h3 class="perk-title">Your launch pad</h3>
          <p class="perk-description">Take advantage of a great team and share with anyone your idea. You can build something great with all the talent available, and maybe start from here the next great thing. </p>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="row clearfix">
      <div class="perk col-6 square-bg-3">
        <figure>
          <img src="/assets/img/rewards.png" alt="" class="perk-icon">
          <figcaption>
          <h3 class="perk-title">Creative Time</h3>
          <p class="perk-description">As technology advances and changes, we need to be up to date every single day. Creative Time takes our fridays to spend the 20% of the week on something not-client related.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-3 square-bg-1">
        <figure>
          <img src="/assets/img/rewards.png" alt="" class="perk-icon">
          <figcaption>
          <h3 class="perk-title">Remote work possibilities</h3>
          <p class="perk-description">You will miss our great office, but if something happens or you need to stay at your place, we are open to work in different places.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-3 square-bg-2">
        <figure>
          <img src="/assets/img/rewards.png" alt="" class="perk-icon">
          <figcaption>
          <h3 class="perk-title">Online certifications</h3>
          <p class="perk-description">If you want to take your brand new knowledge to the next level, we can sponsore you a certification in any MOOC or platform available. </p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="positions text-center">
  <h2>Join our family!</h2>
  <p>If you want to live a different work experience, develop your true passions and grow as an individual, you should join us in this adventure. Take a look at our open positions, review the required skills and let us know you want to be an Icalier. We are flexible, looking for both part and full-time members ready to join the crew.</p>
  <div class="row clearfix">
    <div class="col-6">
      <a class="position modal-trigger" data-furatto="modal" data-target="#position-1">Full-Stack Developer</a>
    </div>
    <div class="simple-modal modal" id="position-1">
      <div class="modal-content">
        <h3>Full-Stack Developer</h3>
        <p>Requirements:
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </p>
        <p>Nice to have:
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </p>
        <p>Send please:
          <ul>
            <li>Link to available portfolio on dribbble, behance or personal website.</li>
            <li>Cover Letter.</li>
            <li>Resume. </li>
          </ul>
        </p>
        <a class="modal-close">Close</a>
      </div>
    </div>
    <div class="modal-overlay"></div>
    <div class="col-6">
      <a class="position modal-trigger" data-furatto="modal" data-target="#position-2">Digital Designer</a>
    </div>
  </div>
  <div class="simple-modal modal" id="position-2">
    <div class="modal-content">
      <h3>Digital Designer</h3>
      <p>Prueba, prueba, prueba</p>
      <a class="modal-close">Close</a>
    </div>
  </div>
  <div class="modal-overlay"></div>

  <div class="row clearfix">
    <div class="col-6">
      <a class="position modal-trigger" data-furatto="modal" data-target="#position-1">Office Manager</a>
    </div>
    <div class="simple-modal modal" id="position-1">
      <div class="modal-content">
        <h3>Office Manager</h3>
        <p>Lorem </p>
        <a class="modal-close">Close</a>
      </div>
    </div>
    <div class="modal-overlay"></div>
    <div class="col-6">
      <a class="position modal-trigger" data-furatto="modal" data-target="#position-2">Technical Hustler</a>
    </div>
  </div>
  <div class="simple-modal modal" id="position-2">
    <div class="modal-content">
      <h3>Technical Hustler</h3>
      <p>Prueba, prueba, prueba</p>
      <a class="modal-close">Close</a>
    </div>
  </div>
  <div class="modal-overlay"></div>

</section>
