---
layout: application
title: Culture
type: culture
---

<section class="info culture">
  <div class="row info-details">
    <h2 class="section-name">Culture</h2>
  </div>
  <div class="suraido-container values" data-suraido>
    <h4>Our mantra</h4>
    <ul>
      <li class="item-slide">
      <h1 class="big-header">Motivation comes <br />from true <span class="value">passion</span>.</h1>
      </li>
      <li class="item-slide">
      <h1 class="big-header">Every member <br />has <span class="value">integrity</span>.</h1>
      </li>
      <li class="item-slide">
      <h1 class="big-header"><span class="value">Kindness</span> to give <br />before you get.</h1>
      </li>
      <li class="item-slide">
      <h1 class="big-header"><span class="value">Communication</span> as the <br />team strategy.</h1>
      </li>
    </ul>
  </div>
</section>
<section class="career text-center">
  <h2>The Icalier Career Path</h2>
  <p>For several days we have analysed different elements considered by technical and creative people in the digital industry. We believe more options are going to be added in the near future, but so far this is a path that can lead you to learn and grow in a constant, unstoppable but most importantly, human way. </p>
  <br />
  <p>Every single memeber in our team has a monetary and emotional remuneration, sustained by the knowledge and experiences he or she gets. Along the Icalier life, every 3 months we celebrate a team evaluation to assess new developed capabilities and challenges faced. </p>
</section>

<section class="perks text-center">
  <div class="container">
    <h4 class="title-section-perks">Perks for the team</h4>
    <p class="section-description">We care about our team. We offer different perks to motivate and encourage the constant development of our passions and professional skills. These elements are additional to any basic offering as a part-time or full-time team member.</p>
    <div class="row clearfix">

      <div class="perk col-3 square-bg-1 ">
        <figure>
          <img src="/assets/img/learn.png" alt="" class="perk-icon">
          <figcaption>
          <h3 class="perk-title">Learning platforms</h3>
          <p class="perk-description">Every single memeber can access to a bunch of different online platforms and leverage all knowledge available.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-3 square-bg-2">
        <figure>
          <img src="/assets/img/medical.png" alt="" class="perk-icon">
          <figcaption>
          <h3 class="perk-title">Medical insurance</h3>
          <p class="perk-description">Besides the basic insurance for full-time memebers, we offer an additional medican insurance to guarantee your tranquility when something happens.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-6 square-bg-3">
        <figure>
          <img src="/assets/img/launch.png" alt="" class="perk-icon">
          <figcaption>
          <h3 class="perk-title">Your launch pad</h3>
          <p class="perk-description">Take advantage of a great team and share with anyone your idea. You can build something great with all the talent available, and maybe start from here the next great thing. </p>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="row clearfix">
      <div class="perk col-6 square-bg-3">
        <figure>
          <img src="/assets/img/creative.png" alt="" class="perk-icon">
          <figcaption>
          <h3 class="perk-title">Creative Time</h3>
          <p class="perk-description">As technology advances and changes, we need to be up to date every single day. Creative Time takes our fridays to spend the 20% of the week on something not-client related.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-3 square-bg-1">
        <figure>
          <img src="/assets/img/remote.png" alt="" class="perk-icon">
          <figcaption>
          <h3 class="perk-title">Remote work possibilities</h3>
          <p class="perk-description">You will miss our great office, but if something happens or you need to stay at your place, we are open to work in different places.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-3 square-bg-2">
        <figure>
          <img src="/assets/img/certificate.png" alt="" class="perk-icon">
          <figcaption>
          <h3 class="perk-title">Online certifications</h3>
          <p class="perk-description">If you want to take your brand new knowledge to the next level, we can sponsore you a certification in any MOOC or platform available. </p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="positions text-center">
  <h2>Join our family!</h2>
  <p>If you want to live a different work experience, develop your true passions and grow as an individual, join us in this adventure. Let us know you want to be an Icalier.</p>
  <div class="row clearfix">
    <div class="col-6">
      <a class="position modal-trigger" data-furatto="modal" data-target="#position-1">Full-Stack Developer</a>
    </div>
    <div class="position-modal simple-modal modal" id="position-1">
      <div class="modal-content">
        <div class="row clearfix">
          <h3>Full-Stack Developer</h3>
          <div class="col-6">
            Requirements:
            <ul>
              <li>Bachelor in Computer Science or equivalent</li>
              <li>Extensive knowledge in Object Oriented Programming</li>
              <li>2+ years of Ruby experience</li>
              <li>1+ years of Ruby on Rails experience</li>
              <li>Relational database knowledge</li>
              <li>1+ years of Javascript experience</li>
              <li>Basic HTML and CSS</li>
              <li>Version controller use for personal projects</li>
            </ul>
          </div>
          <div class="col-6">
            Nice to have:
            <ul>
              <li>Git knowledge</li>
              <li>Experience related to electronic transactions</li>
              <li>Test driven development experience, ideally Rspec</li>
              <li>Postgresql experience</li>
              <li>Experience with jQuery</li>
              <li>Experience with front end preprocessors like Haml or Sass</li>
              <li>Experience with prototyping frameworks (Bootstrap, Foundation, Furatto)</li>
              <li>Open source collaboration</li>
              <li>UI implementation</li>
            </ul>
          </div>
        </div>
        <br/>
        <div class="row clearfix">
          Send please to <a href="mailto:weare@icalialabs.com">weare@icalialabs.com</a>:
          <ul>
            <li>Link to available portfolio on dribbble, behance or personal website.</li>
            <li>Cover Letter.</li>
            <li>Resume. </li>
          </ul>
        </div>
        <a class="modal-close">Close</a>
      </div>
    </div>
    <div class="modal-overlay"></div>
    <div class="col-6">
      <a class="position modal-trigger" data-furatto="modal" data-target="#position-2">Digital Designer</a>
    </div>
  </div>
  <div class="position-modal simple-modal modal" id="position-2">
    <div class="modal-content">
      <h3>Digital Designer</h3>
      <div class="row clearfix">
        Requirements:
        <ul>
          <li>Interest in getting involved on every step of the creative process, from prototyping to launch. You will be designing the platform, experience and will be working closely with developers to bring the product to life</li>
          <li>Interest on working in a variety of platforms and products (iPad, Android, Web apps, etc.)</li>
          <li>Able to communicate efficiently with clients</li>
          <li>Great online portfolio</li>
          <li>Being open to receive feedback at any moment from the users identifying crucial changes to improve the app usability</li>
          <li>Photoshop and Illustrator experience</li>
          <li>Experience (or being open to learn) web tools, like HTML and CSS</li>
          <li>Great passion for design and technology</li>
        </ul>
      </div>
      <br/>
      <div class="row clearfix">
        Send please to <a href="mailto:weare@icalialabs.com">weare@icalialabs.com</a>:
        <ul>
          <li>Link to Dribble, Behance or personal website</li>
          <li>Resume. </li>
        </ul>
      </div>
      <a class="modal-close">Close</a>
    </div>
  </div>
  <div class="modal-overlay"></div>

  <div class="row clearfix">
    <div class="col-6">
      <a class="position modal-trigger" data-furatto="modal" data-target="#position-3">iOS Mobile Engineer</a>
    </div>
    <div class="position-modal simple-modal modal" id="position-3">
      <div class="modal-content">
        <h3>iOS Mobile Engineer</h3>
        <div class="row clearfix">
          <div class="col-6">
            Requirements:
            <ul>
              <li>Bachelor in Computer Science or equivalent</li>
              <li>Extensive knowledge in Object Oriented Programming</li>
              <li>1+ years of Objective-C and iOS SDK experience</li>
              <li>Experience building at least one app, available for review</li>
              <li>Experience working with external libraries with Cocoapods</li>
              <li>Version controller use for personal projects</li>
            </ul>
          </div>
          <div class="col-6">
            Nice to have:
            <ul>
              <li>Git knowledge</li>
              <li>Experience deploying to the AppStore</li>
              <li>Ruby on Rails</li>
              <li>Postgresql experience</li>
              <li>Experience building APIs</li>
              <li>Knowledge of iOS frameworks(Core Data, Core Animation, Core Graphics and Core Text)</li>
            </ul>
          </div>
        </div>
        <br />
        <div class="row clearfix">
          Send please to <a href="mailto:weare@icalialabs.com">weare@icalialabs.com</a>:
          <ul>
            <li>Link to Github.</li>
            <li>Cover Letter.</li>
            <li>Resume. </li>
            <li>Personal website </li>
            <li>Apps on marketplaces</li>
          </ul>
        </div>
        <a class="modal-close">Close</a>
      </div>
    </div>

    <div class="modal-overlay"></div>
    <div class="col-6">
      <a class="position modal-trigger" data-furatto="modal" data-target="#position-4">Digital Marketer</a>
    </div>
    <div class="position-modal simple-modal modal" id="position-4">
      <div class="modal-content">
        <h3>Digital Marketer</h3>
        <div class="row clearfix">
            Requirements:
            <ul>
              <li>Knowledge generating marketing campaigns for multiple products online and offline</li>
              <li>Able to create and maintain community and content through different social media</li>
              <li>Wanting to work with a variety of technological products</li>
              <li>Able to communicate with clients in a simple way, besides the ability to work with technical teams for idea execution</li>
              <li>Wanting to turn contacts into clients</li>
              <li>Disposition to be involved in events and organize them for PR purposes</li>
              <li>Content management and client distribution</li>
              <li>A lot of passion for marketing and technology</li>
            </ul>
        </div>
        <br />
        <div class="row clearfix">
          Send please to <a href="mailto:weare@icalialabs.com">weare@icalialabs.com</a>:
          <ul>
            <li>Link to personal and previously managed social media accounts.</li>
            <li>Resume. </li>
          </ul>
        </div>
        <a class="modal-close">Close</a>
      </div>
    </div>

  </div>
  <div class="modal-overlay"></div>

</section>
