---
layout: application
title: Culture
type: culture
---

<section class="info culture">
  <div class="row info-details">
    <h2 class="section-name">Our Culture</h2>
  </div>
  <div class="suraido-container values" data-suraido>
    <h4>Our values</h4>
    <ul>
      <li class="item-slide">
        <h1 class="big-header">Motivation comes from true <span class="value">passion.</span></h1>
        <p class="big-tagline">Curiosity, proactivity, courage, fun, self-motivation, learnability.</p>
      </li>
      <li class="item-slide">
        <h1 class="big-header">Motivation comes from true <span class="value">passion.</span></h1>
        <p class="big-tagline">Curiosity, proactivity, courage, fun, self-motivation, learnability.</p>
      </li>
    </ul>
  </div>
</section>
<section class="career text-center">
  <h2>Our Career path</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus corporis perspiciatis corrupti voluptas necessitatibus autem illum nam fugiat velit consequuntur minima ipsa quas error non culpa maxime maiores eligendi inventore!</p>
  <h2>Our Career path</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus corporis perspiciatis corrupti voluptas necessitatibus autem illum nam fugiat velit consequuntur minima ipsa quas error non culpa maxime maiores eligendi inventore!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus corporis perspiciatis corrupti voluptas necessitatibus autem illum nam fugiat velit consequuntur minima ipsa quas error non culpa maxime maiores eligendi inventore!</p>
</section>

<section class="perks text-center" id="slider">
  <div class="container">
    <h4 class="title-section-perks">Perks of being an Icaliaer</h4>
    <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequatur nisi iste blanditiis possimus officiis ipsam repellendus beatae quam quasi sit repellat laborum pariatur dolore ipsa reprehenderit eaque asperiores itaque. </p>
    <div class="row clearfix">

      <div class="perk col-3 square-bg-1 ">
        <figure>
          <img src="/assets/img/food.png" alt="" class="perk-icon hidden-on-xsmall hidden-on-small">
          <figcaption>
          <h3 class="perk-title">Free Food</h3>
          <p class="perk-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione pariatur quod vitae praesentium in vel illum voluptatem atque.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-3 square-bg-2">
        <figure>
          <img src="/assets/img/learn.png" alt="" class="perk-icon hidden-on-xsmall hidden-on-small">
          <figcaption>
          <h3 class="perk-title">Free Food</h3>
          <p class="perk-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione pariatur quod vitae praesentium in vel illum voluptatem atque.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-6 square-bg-3">
        <figure>
          <img src="/assets/img/launch.png" alt="" class="perk-icon hidden-on-xsmall hidden-on-small">
          <figcaption>
          <h3 class="perk-title">Free Food</h3>
          <p class="perk-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione pariatur quod vitae praesentium in vel illum voluptatem atque.</p>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="row clearfix">
      <div class="perk col-6 square-bg-3">
        <figure>
          <img src="/assets/img/rewards.png" alt="" class="perk-icon hidden-on-xsmall hidden-on-small">
          <figcaption>
          <h3 class="perk-title">Free Food</h3>
          <p class="perk-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione pariatur quod vitae praesentium in vel illum voluptatem atque.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-3 square-bg-1">
        <figure>
          <img src="/assets/img/rewards.png" alt="" class="perk-icon hidden-on-xsmall hidden-on-small">
          <figcaption>
          <h3 class="perk-title">Free Food</h3>
          <p class="perk-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione pariatur quod vitae praesentium in vel illum voluptatem atque.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-3 square-bg-2">
        <figure>
          <img src="/assets/img/rewards.png" alt="" class="perk-icon hidden-on-xsmall hidden-on-small">
          <figcaption>
          <h3 class="perk-title">Free Food</h3>
          <p class="perk-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione pariatur quod vitae praesentium in vel illum voluptatem atque.</p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="positions text-center">
  <h2>Positions</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum a voluptatibus repudiandae consectetur fuga labore itaque sunt blanditiis natus et incidunt nisi nemo voluptatem deserunt dolore odio temporibus beatae reprehenderit.</p>
  <div class="row clearfix">
    <div class="col-6">
      <a class="position modal-trigger" data-furatto="modal" data-target="#position-1">UX/UI Designer</a>
    </div>
    <div class="simple-modal modal" id="position-1">
      <div class="modal-content">
        <h3>UI/UX Designer</h3>
        <p>Lorem </p>
        <a class="modal-close">Close</a>
      </div>
    </div>
    <div class="modal-overlay"></div>
    <div class="col-6">
      <a class="position modal-trigger" data-furatto="modal" data-target="#position-2">UX/UI Designer</a>
    </div>
  </div>
  <div class="simple-modal modal" id="position-2">
    <div class="modal-content">
      <h3>UI/UX Designer</h3>
      <p>Lorem </p>
      <a class="modal-close">Close</a>
    </div>
  </div>
  <div class="modal-overlay"></div>
</section>
