---
layout: application
title: Icalia Labs
type: index
---
<!-- Advantages modals  -->
<div class="simple-modal modal" id="modal-engage">
  <div class="modal-header">
    <h3>Engage.</h3>
  </div>
  <div class="modal-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <a class="modal-close">Close</a>
  </div>
</div>

<div class="simple-modal modal" id="modal-experience">
  <div class="modal-header">
    <h3>Experience.</h3>
  </div>
  <div class="modal-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    <a class="modal-close">Close</a>
  </div>
</div>

<div class="simple-modal modal" id="modal-knowledge">
  <div class="modal-header">
    <h3>Knowledge.</h3>
  </div>
  <div class="modal-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <a class="modal-close">Close</a>
  </div>
</div>
<!-- End of advantages modals -->

<div class="index-background">
  <section class="intro row">
    <div class="container">
      <div class="intro-content">
        <h1 class="big-tagline">We solve problems <br> with Digital Products</h1>
        <p>We focus on agile development & asthetics design.</p>
        <button class="action-btn">Play.</button>
      </div>
    </div>
  </section>


  <section class="advantages row">
    <h4 class="title-advantages">Our Advantages</h4>
    <div class="container row clearfix">
      <div class="card engage col-4">
        <img src="assets/img/engage.png" alt="" class="icon">
        <h4 class="card-title red">Engage.</h4>
        <p>We create software that engages with people.</p>
        <a class="card-link modal-trigger" data-furatto="modal" data-target="#modal-engage">See More</a>
      </div>
      <div class="card experience col-4">
        <img src="assets/img/experience.png" alt="" class="icon">
        <h4 class="card-title red">Experience.</h4>
        <p>We create software that engages with people.</p>
        <a class="card-link modal-trigger" data-target="#modal-experience" data-furatto="modal">See More</a>
      </div>
      <div class="card knowledge col-4">
        <img src="assets/img/knowledge.png" alt="" class="icon">
        <h4 class="card-title red">Knowledge.</h4>
        <p>We create software that engages with people.</p>
        <a class="card-link modal-trigger" data-target="#modal-knowledge" data-furatto="modal">See More</a>
      </div>
    </div>
  </section>
</div>


<div class="load-mask"></div>


<section class="work">
  <div class="suraido-container work-slider" data-suraido>
    <ul>
      <li class="item-slide" style="background:url(/assets/img/pikster.png)">
      <h2 class="work-title">Pikster</h2>
      <p>Helping people gather money easily</p>
      <button class="action-btn"> See our work</button>
      </li>
      <li class="item-slide" style="background:url(/assets/img/pikster.png)">
      <h3 class="work-title">Pikster</h3>
      <p>Helping people gather money easily</p>
      <button class="action-btn"> See our work</button>
      </li>
      <li class="item-slide" style="background:url(/assets/img/pikster.png)">
      <h3 class="work-title">Pikster</h3>
      <p>Helping people gather money easily</p>
      <button class="action-btn"> See our work</button>
      </li>
      <li class="item-slide" style="background:url(/assets/img/pikster.png)">
      <h3 class="work-title">Pikster</h3>
      <p>Helping people gather money easily</p>
      <button class="action-btn"> See our work</button>
      </li>
    </ul>
  </div>
</section>

<section class="skills clearfix row hidden-on-small hidden-on-xsmall">
  <div class="mask col-6">
    <div class="technology skill row">
      <div class="col-6 text-center">
        {% include developer-skill.html %}
        <h4>Technology</h4>
        <p class="tagline visible-on-large">The way we make the change</p>
      </div>
      <div class="col-6">
        <p class="more vertical-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae voluptatibus eum in nemo placeat est eos tempora sequi voluptatum molestias a repellat deleniti consequuntur dolorum architecto vitae eaque doloremque nostrum.</p>
      </div>
    </div>
  </div>

  <span class="fusion circle"><span>Perfect Fusion</span></span>

  <div class="mask col-6">
    <div class="aesthetics skill row">
      <div class="col-6 text-center">
        {% include design-skill.html %}
        <h4>Aesthetics</h4>
        <p class="tagline visible-on-large">The way we make the change</p>
      </div>
      <div class="col-6">
        <p class="more vertical-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae voluptatibus eum in nemo placeat est eos tempora sequi voluptatum molestias a repellat deleniti consequuntur dolorum architecto vitae eaque doloremque nostrum.</p>
      </div>
    </div>
  </div>
</section>

<section class="testimonials row clearfix">
  <div class="picture col-3 hidden-on-xsmall hidden-on-small">
    <img src="assets/img/ginger.png" alt="" />
    <div class="fake-skew"></div>
  </div>
  <div class="col-9 quote-container">
    <div class="quote vertical-align">
      <h4>Testimonials</h4>
      <blockquote>
        <p>
        I used to have some tech partners issues…now I can focus on my start-up strategy and just trust in this guys; as an start-up CEO there is not such a good felling.
        </p>
        <footer class="cite">
          <span>José Miguel Sainz / <strong>CEO Printoo</strong></span>
        </footer>
      </blockquote>
    </div>
  </div>
</section>


