---
layout: application
title: Icalia Labs
type: index
---
<div class="index-background">
      <section class="intro row">
        <div class="container">
          <div class="intro-content">
            <h1 class="tagline">We solve problems <br> with Digital Products</h1>
            <p>We focus on agile development & asthetics design.</p>
            <button class="play-video-btn">Play Video</button>
          </div>
        </div>
      </section>
      <h4 class="title-advantages">Our Advantages</h4>
      <section class="advantages row">
        <div class="container row clearfix">
          <div class="card engage col-4">
            <img src="assets/img/engage.png" alt="" class="icon">
            <h4 class="card-title">Engage.</h4>
            <p>We create software that engages with people.</p>
            <a class="card-link" href="#">See More</a>
          </div>
          <div class="card experience col-4">
            <img src="assets/img/experience.png" alt="" class="icon">
            <h4 class="card-title">Experience.</h4>
            <p>We create software that engages with people.</p>
            <a class="card-link" href="#">See More</a>
          </div>
          <div class="card knowledge col-4">
            <img src="assets/img/knowledge.png" alt="" class="icon">
            <h4 class="card-title">Knowledge.</h4>
            <p>We create software that engages with people.</p>
            <a class="card-link" href="#">See More</a>
          </div>
        </div>
      </section>
    </div>
    <div class="load-mask"></div>
    <section class="work row">
      <div class="suraido-container work-slider" data-suraido>
        <ul>
          <li class="item-slide" style="background:url(/assets/img/pikster.png)">
            <h3 class="work-title">Pikster</h3>
            <p>Helping people gather money easily</p>
            <button class="play-video-btn"> See our work</button>
          </li>
          <li class="item-slide" style="background:url(/assets/img/pikster.png)">
            <h3 class="work-title">Pikster</h3>
            <p>Helping people gather money easily</p>
            <button class="play-video-btn"> See our work</button>
          </li>
          <li class="item-slide" style="background:url(/assets/img/pikster.png)">
            <h3 class="work-title">Pikster</h3>
            <p>Helping people gather money easily</p>
            <button class="play-video-btn"> See our work</button>
          </li>
          <li class="item-slide" style="background:url(/assets/img/pikster.png)">
            <h3 class="work-title">Pikster</h3>
            <p>Helping people gather money easily</p>
            <button class="play-video-btn"> See our work</button>
          </li>
        </ul>
      </div>
    </section>

      <section class="skills clearfix row">
        <div class="mask col-6">
          <div class="technology skill row">
            <div class="col-6 text-center">
              <img class="badge" src="../assets/img/icon-skill.png" alt="" />
              <h4>Technology</h4>
              <p class="tagline">The way we make the change</p>
            </div>
            <div class="col-6">
              <p class="more vertical-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae voluptatibus eum in nemo placeat est eos tempora sequi voluptatum molestias a repellat deleniti consequuntur dolorum architecto vitae eaque doloremque nostrum.</p>
            </div>
          </div>
        </div>

        <span class="fusion circle"><span>Perfect Fusion</span></span>

        <div class="mask col-6">
          <div class="aesthetics skill row">
            <div class="col-6 text-center">
              <img class="badge" src="../assets/img/icon-skill.png" alt="" />
              <h4>Aesthetics</h4>
              <p class="tagline">The way we make the change</p>

            </div>

            <div class="col-6">

              <p class="more vertical-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae voluptatibus eum in nemo placeat est eos tempora sequi voluptatum molestias a repellat deleniti consequuntur dolorum architecto vitae eaque doloremque nostrum.</p>
            </div>
          </div>
        </section>

      <section class="testimonials row clearfix">
        <div class="picture col-3">
          <img src="assets/img/ginger.png" alt="" />
          <div class="fake-skew"></div>
        </div>
        <div class="quote col-9">
          <h4>Testimonials</h4>
          <blockquote>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
            </p>
            <footer class="cite">
              <span>Eduardo Higareda / <strong>Pikster</strong></span>
            </footer>
          </blockquote>
          </div>
      </section>


