---
layout: application
title: Process
type: process
---
<section class="info">
  <h4 class="section-name capital">Our Process</h4>
  <h1 class="section-tag">We make things that impact people.</h1>
  <p class="section-description">Development shop focused on <span class="red">Ruby On Rails</span> and <span class="red">iOS</span></p>
</section>
<div class="process-scroller" id="process-scroller">
  <nav class="hidden-on-xsmall hidden-on-small">
    <a href="#understanding" class="scroller-current">Section 1</a>
    <a href="#definition">Section 2</a>
    <a href="#design">Section 3</a>
    <a href="#build">Section 4</a>
    <a href="#measure">Section 5</a>
  </nav>
  <section class="step" id="understanding">
    <div class="container">
      <span class="step-number">1</span>
      <h3 class="step-title">Understanding.</h3>
      <p class="step-description">The Understanding module has the objective to have a clear starting point letting the whole team to clarify the problem, customer, business, users, value proposition, and how successful the solution this project can be. </p>
    </div>
  </section>
  <section class="step" id="definition">
    <div class="container">
      <span class="step-number">2</span>
      <h3 class="step-title">Definition.</h3>
      <p class="step-description">The Understanding module has the objective to have a clear starting point letting the whole team to clarify the problem, customer, business, users, value proposition, and how successful the solution this project can be. </p>
    </div>
  </section>
  <section class="step" id="design">
    <div class="container">
      <span class="step-number">3</span>
      <h3 class="step-title">Design.</h3>
      <p class="step-description">The Understanding module has the objective to have a clear starting point letting the whole team to clarify the problem, customer, business, users, value proposition, and how successful the solution this project can be. </p>
    </div>
  </section>
  <section class="step" id="build">
    <div class="container">
      <span class="step-number">4</span>
      <h3 class="step-title">Build.</h3>
      <p class="step-description">The Understanding module has the objective to have a clear starting point letting the whole team to clarify the problem, customer, business, users, value proposition, and how successful the solution this project can be. </p>
    </div>
  </section>
  <section class="step" id="measure">
    <div class="container">
      <span class="step-number">5</span>
      <h3 class="step-title">Measure & Learn</h3>
      <p class="step-description">The Understanding module has the objective to have a clear starting point letting the whole team to clarify the problem, customer, business, users, value proposition, and how successful the solution this project can be. </p>
    </div>
  </section>
 </div>
