---
layout: application
title: Work
type: projects
---

<section class="info">
  <h4 class="section-name capital">Work</h4>
  <h1 class="section-tag">We make things that impact people.</h1>
  <p class="section-description">Product development and design firm focused on <span class="red">Web</span> and <span class="red">Mobile</span> consuming products</p>
</section>

{% for project in site.data.projects %}
  <section class="project {{project.name}} row clearfix" style="background-image:url({{ project.image }});background-color: #{{project.color}}">
    <div class="col-8 vertical-align">
      <hgroup class="project-listing">
        <h4>Project-</h4>
        <h2 class="project-name">{{project.name}}</h2>
        <a href="{{ project.link }}" class="project-link" target="_blank">See Project</a>
      </hgroup>
    </div>

    <div class="col-4 vertical-align hidden-on-small hidden-on-xsmall">
      <h3 class="project-info">{{project.done}}</h3>
    </div>
  </section>
{% endfor %}
