---
layout: application
title: Icalia Labs
type: projects
---

<section class="info">
  <h4 class="section-name capital">Work</h4>
  <h1 class="section-tag">We make things that impact people.</h1>
  <p class="section-description">Development shop focused on <span class="red">Ruby On Rails</span> and <span class="red">iOS</span></p>
</section>

{% for project in site.data.projects %}
  <section class="project {{project.name}} row clearfix" style="background-image:url({{ project.image }});background-color: #{{project.color}}">
    <div class="col-8 vertical-align">
      <h4 class="light-gray project-tag">Proyecto-</h4>
      <h1 class="project-name">{{project.name}}</h1>
      <h4 class="light-gray client-tag">Clientes-</h4>
      <h3 class="client">{{project.client}}</h3>
      <p class="perspective">
      <a href="{{ project.link }}" class="project-link">Ver Proyecto</a>
      </p>
    </div>

    <div class="col-4 project-image vertical-align">
      <h3 class="project-info">{{project.done}}</h3>
    </div>
  </section>
{% endfor %}
