---
layout: application
title: Icalia Labs
---
<section class="info row">
  <h4 class="section-name">Team</h4>
  <h1 class="section-tag">We are a creative team</h1>
  <p class="section-description">Development shop focused on <span class="red">Ruby On Rails</span> and <span class="red">iOS</span></p>
</section>


<div class="wrapper">
<div class="gradient"></div>
<section class="team clearfix row">
  <div class="hider">
    {% for member in site.data.members %}
    <div class="member col-3">
      <img src="{{member.picture}}" alt="{{member.name}}" class="picture"/>
      <div class="info-circle slideUp modal-trigger" data-modal="modal-{{member.id}}">
        <a href="#member-info"></a>
        <h5 class="name">{{ member.name }}</h5>
        <h6 class="position">{{ member.title }}</h6>
        <div class="line"></div>
      </div>
      <div class="curtain">
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- Modal info for member -->
  {% for member in site.data.members %}
  <div class="member-modal" id="modal-{{member.id}}">
    <div class="modal-content">
      <div class="modal-image">
        <img src="{{member.picture}}" alt="{{member.name}}" class="member-image"/>
        <div class="modal-name">
          <h3>{{ member.name }}</h3>
          <p class="light-gray">{{ member.title }}</p>
        </div>
        <div class="networks">
          {% for network in member.networks %}
          <a href="{{ network.link }}" class="social {{network.name}}">{{ network.name }}</a>
          {% endfor %}
        </div>
      </div>

      <footer class="member-info">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </footer>
    </div>
    <a class="modal-close">x</a>
  </div>

  {% endfor %}
  <div class="modal-overlay"></div>
</section>
</div>

<section class="join row">
  <h4 class="light-gray capital">Join Us</h4>
  <h2 class="tag">Are you an awesome designer or great developer?</h2>

  <a href="#" class="red-button light-gray">View our jobs</a>
</section>

