---
layout: application
title: Team
type: team
---
<section class="info row">
  <h4 class="section-name">The Team</h4>
  <h1 class="section-tag">We are people like you</h1>
  <p class="section-description">
    A combination of skilled developers, creative designers and business strategists, willing to be part of your dream team. 
  </p>
</section>
 

<div class="wrapper">
<div class="gradient"></div>
<section class="team-section clearfix row">
  <div class="hider row">
<!-- Members -->
    {% for member in site.data.members %}
    <figure class="member col-3" data-furatto="modal" data-target="#modal-{{member.id}}" data-transition="2">
      <img src="{{member.picture}}" alt="{{member.name}}" class="picture"/>
      <div class="info-circle slideUp">
        <a href="#member-info"></a>
        <h5 class="name">{{ member.name }}</h5>
        <h6 class="position">{{ member.title }}</h6>
        <div class="line"></div>
      </div>
      <div class="curtain">
      </div>
    </figure>
    {% endfor %}

 <!-- Modal info for member -->
  {% for member in site.data.members %}
    <div class="member-modal modal" id="modal-{{member.id}}">
        <a class="modal-close">BACK</a>
        <div class="row">
          <div class="col-4 modal-image visible-on-large" style="background-image: url({{member.picture}})">
          </div>
          <div class="col-8 modal-info">
            <h3 class="member-name">{{ member.name }}</h3>
            <h4 class="member-title">{{ member.title }}</h3>
            <div class="networks">
              {% for network in member.networks %}
                <a href="{{ network.link }}" class="social {{network.name}}" target="_blank">{{ network.name }}</a>
              {% endfor %}
            </div>
            <p>{{ member.bio }}</p>
          </div>
        </div>
    </div>
{% endfor %}

  </div>

</section>
</div>

<section class="join row">
  <h4 class="capital">Join Us.</h4>
  <h2 class="tag">Are you ready for new challenges?</h2>

  <a href="/culture/#positions" class="red-button">View our open positions</a>
</section>
