/* line 6, ../../../sass/application.scss */
* {
  margin: 0px;
  padding: 0px;
}

/* line 11, ../../../sass/application.scss */
body {
  background: #e23a2c;
}

/* line 15, ../../../sass/application.scss */
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

/* line 21, ../../../sass/application.scss */
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

/* line 32, ../../../sass/application.scss */
.main-menu .burger {
  width: 45px;
  position: relative;
  right: -100px;
  display: inline-block;
}
/* line 38, ../../../sass/application.scss */
.main-menu .burger .one, .main-menu .burger .two, .main-menu .burger .three {
  width: 45px;
  height: 5px;
  background: #e23a2c;
  margin: 5px;
  position: relative;
}
/* line 46, ../../../sass/application.scss */
.main-menu .burger.active {
  -webkit-animation: spin .3s ease;
}
/* line 49, ../../../sass/application.scss */
.main-menu .burger .one-active {
  -webkit-animation: rotate-left .5s ease;
  animation-delay: 0.1s;
  background: #FFF;
  z-index: 999;
}
/* line 55, ../../../sass/application.scss */
.main-menu .burger .three-active {
  -webkit-animation: rotate-right .5s ease-in;
  animation-delay: 0.1s;
  background: #FFF;
  z-index: 999;
}
/* line 61, ../../../sass/application.scss */
.main-menu .burger .hide-two {
  -webkit-animation: hide .5s ease;
  animation-delay: 0.1s;
  background: #FFF;
  z-index: 999;
}

/* line 74, ../../../sass/application.scss */
.intro {
  margin: 100px;
  text-align: center;
  background: url("img/intro-bg.png") center bottom no-repeat #f9f9f9;
  padding: 140px 0px;
  position: relative;
}
/* line 81, ../../../sass/application.scss */
.intro .hello-text {
  color: #e23a2c;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
}
/* line 88, ../../../sass/application.scss */
.intro .tag-line {
  color: #e23a2c;
  font-size: 48px;
  margin: 45px;
  display: block;
}
/* line 95, ../../../sass/application.scss */
.intro .description {
  font-weight: 200;
  font-size: 16px;
  margin-bottom: 40px;
}
/* line 101, ../../../sass/application.scss */
.intro .play-video {
  display: inline-block;
  color: #e23a2c;
  border: 3px solid #e23a2c;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 40px;
  position: relative;
  -webkit-transition: all 0.3s ease;
}
/* line 112, ../../../sass/application.scss */
.intro .play-video:hover {
  background: #e23a2c;
  color: #fff;
  border-radius: 100px;
  top: -5px;
  -webkit-transform: scale(1.1);
}

/* line 123, ../../../sass/application.scss */
.advantages {
  text-align: center;
}
/* line 126, ../../../sass/application.scss */
.advantages .title-advantages {
  color: #fff;
  margin-bottom: 50px;
}
/* line 131, ../../../sass/application.scss */
.advantages .card {
  background: #fff;
  border-radius: 3px;
  padding: 50px 0px;
  position: relative;
  -webkit-transition: all 0.3s ease;
}
/* line 138, ../../../sass/application.scss */
.advantages .card .icon {
  -webkit-transition: all 0.3s ease;
  margin-bottom: 35px;
  display: inline-block;
}
/* line 144, ../../../sass/application.scss */
.advantages .card .card-title {
  color: #e23a2c;
  margin-bottom: 65px;
  display: block;
  font-size: 22px;
}
/* line 151, ../../../sass/application.scss */
.advantages .card p {
  font-weight: 200;
  font-size: 26px;
  width: 80%;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 60px;
}
/* line 160, ../../../sass/application.scss */
.advantages .card .card-link {
  color: #e23a2c;
  font-size: 22px;
  font-weight: 600;
}

/* line 170, ../../../sass/application.scss */
.work-slider {
  background: #9f2b20;
  text-align: center;
  margin: 100px auto;
  position: relative;
  opacity: 0.5;
  overflow: hidden;
}
/* line 179, ../../../sass/application.scss */
.work-slider .container {
  width: 100%;
}
/* line 184, ../../../sass/application.scss */
.work-slider a.control_prev, .work-slider a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}
/* line 201, ../../../sass/application.scss */
.work-slider a.control_prev:hover, .work-slider a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}
/* line 206, ../../../sass/application.scss */
.work-slider a.control_prev {
  border-radius: 0 2px 2px 0;
}
/* line 210, ../../../sass/application.scss */
.work-slider a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}
/* line 215, ../../../sass/application.scss */
.work-slider .slides {
  position: relative;
  margin: 0;
  padding: 0;
  height: 300px;
  list-style: none;
}
/* line 223, ../../../sass/application.scss */
.work-slider .slides li {
  background: url(img/pikster.png) no-repeat;
  background-size: 35%;
  background-position: right bottom;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  width: 1200px;
  height: 300px;
  text-align: center;
}
/* line 236, ../../../sass/application.scss */
.work-slider .slides li:hover {
  background-size: 36%;
}
/* line 240, ../../../sass/application.scss */
.work-slider .slides li .slider-title {
  color: rgba(0, 0, 0, 0.5);
}
/* line 244, ../../../sass/application.scss */
.work-slider .slides li .project-title {
  color: #fff;
  text-decoration: underline;
  margin: 50px 0px;
  font-size: 42px;
  letter-spacing: 2px;
}
/* line 252, ../../../sass/application.scss */
.work-slider .slides li p {
  font-weight: 200;
  color: #fff;
  font-size: 42px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
}
/* line 261, ../../../sass/application.scss */
.work-slider .slides li .view-project {
  color: #fff;
  border: 1px solid #fff;
  padding: 25px 80px;
  border-radius: 3px;
  font-weight: 200;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 50px;
  -webkit-transition: all 0.3s ease;
}
/* line 272, ../../../sass/application.scss */
.work-slider .slides li .view-project:hover {
  background: #fff;
  color: #9f2b20;
  border-radius: 100px;
  top: -5px;
  -webkit-transform: scale(1.1);
}
/* line 283, ../../../sass/application.scss */
.work-slider .slides .bullets {
  list-style: none;
}
/* line 286, ../../../sass/application.scss */
.work-slider .slides .bullets li {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  display: inline-block;
  border: 2px solid #fff;
}

@-webkit-keyframes rotate-right {
  /* line 301, ../../../sass/application.scss */
  0% {
    -webkit-transform: rotate(0deg);
    right: 0px;
    top: 0px;
  }

  /* line 306, ../../../sass/application.scss */
  100% {
    -webkit-transform: rotate(-45deg);
    right: 0px;
    top: -20px;
  }
}

@-webkit-keyframes spin {
  /* line 314, ../../../sass/application.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 317, ../../../sass/application.scss */
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@-webkit-keyframes rotate-left {
  /* line 323, ../../../sass/application.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 324, ../../../sass/application.scss */
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@-webkit-keyframes hide {
  /* line 328, ../../../sass/application.scss */
  0% {
    -webkit-transform: rotate(0deg);
    top: 0px;
    opacity: 1;
  }

  /* line 334, ../../../sass/application.scss */
  50% {
    opacity: 0;
  }

  /* line 338, ../../../sass/application.scss */
  100% {
    -webkit-transform: rotate(90deg);
    top: 200px;
  }
}

@-webkit-keyframes move {
  /* line 344, ../../../sass/application.scss */
  50% {
    bottom: 50%;
    left: -70%;
  }
}

@-webkit-keyframes move-left {
  /* line 350, ../../../sass/application.scss */
  50% {
    bottom: 50%;
    right: 70%;
  }
}

/* line 358, ../../../sass/application.scss */
.skills {
  background: #FFF;
  position: relative;
  width: 100%;
  height: 300px;
}
/* line 364, ../../../sass/application.scss */
.skills .technology {
  position: absolute;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  width: 50%;
}
/* line 372, ../../../sass/application.scss */
.skills .technology .mask {
  z-index: 1;
  height: 300px;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  width: 100%;
  cursor: pointer;
}
/* line 386, ../../../sass/application.scss */
.skills .technology .more {
  position: absolute;
  right: 0;
  width: 50%;
  z-index: -1;
}
/* line 395, ../../../sass/application.scss */
.skills .aesthetics {
  position: absolute;
  right: 0;
  width: 50%;
  float: right;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}
/* line 405, ../../../sass/application.scss */
.skills .aesthetics .mask {
  z-index: 1;
  height: 300px;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  width: 100%;
  float: right;
}
/* line 415, ../../../sass/application.scss */
.skills .aesthetics .mask:hover {
  cursor: pointer;
}
/* line 419, ../../../sass/application.scss */
.skills .aesthetics .more {
  width: 50%;
  position: absolute;
  z-index: -1;
  left: 0;
}
/* line 430, ../../../sass/application.scss */
.skills .mask.overlapsed {
  z-index: -1 !important;
  position: absolute;
}
/* line 436, ../../../sass/application.scss */
.skills .mask.expand-content {
  background: #e23a2c;
  color: #FFF;
  display: block;
  opacity: 1;
  width: 100%;
  z-index: 1000 !important;
}
/* line 445, ../../../sass/application.scss */
.skills .mask.expand-content .more-content {
  z-index: 2 !important;
}
/* line 451, ../../../sass/application.scss */
.skills .expand-content {
  background: #e23a2c;
  color: #FFF;
  display: block;
  opacity: 1;
  width: 100%;
  z-index: 1000 !important;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}
/* line 466, ../../../sass/application.scss */
.skills .fusion {
  background: #000;
  color: #FFF;
  display: inline-block;
  padding: 25px;
  width: 40px;
  height: 40px;
}
/* line 474, ../../../sass/application.scss */
.skills .fusion.circle {
  border-radius: 50%;
  right: 50%;
  position: absolute;
  top: 50%;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  z-index: 3000;
  text-align: center;
}
/* line 486, ../../../sass/application.scss */
.skills .fusion.circle.move-left {
  -webkit-transform: scale(0.5);
  -webkit-animation: move 3s ease;
  top: 0;
  right: 0;
}
/* line 492, ../../../sass/application.scss */
.skills .fusion.circle.move-right {
  -webkit-transform: scale(0.5);
  -webkit-animation: move-left 3s ease;
  top: 0;
  left: 0;
}
