/* line 6, ../../../sass/application.scss */
* {
  margin: 0px;
  padding: 0px;
}

/* line 11, ../../../sass/application.scss */
body {
  background: #e23a2c;
  font-family: 'Open Sans', sans-serif;
}

/* line 16, ../../../sass/application.scss */
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

/* line 22, ../../../sass/application.scss */
h1, h2, h3, h4 {
  font-family: 'Circular', sans-serif;
}

/* line 28, ../../../sass/application.scss */
.menu-overlay {
  position: fixed;
  background: rgba(226, 58, 44, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: none;
}
/* line 39, ../../../sass/application.scss */
.menu-overlay .menu-content {
  text-align: center;
  color: #fff;
  padding: 100px 0px;
  display: none;
}
/* line 46, ../../../sass/application.scss */
.menu-overlay a {
  font-size: 5em;
  color: #fff;
  display: block;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  margin: 20px 0px;
}
/* line 54, ../../../sass/application.scss */
.menu-overlay a:hover {
  -webkit-transform: scale(1.3);
}
/* line 59, ../../../sass/application.scss */
.menu-overlay .social-info a {
  display: inline-block;
  font-size: 2em;
  margin: 20px 30px;
}

/* line 66, ../../../sass/application.scss */
.show-menu {
  display: block !important;
}

/* line 70, ../../../sass/application.scss */
.main-menu {
  position: relative;
  width: 90%;
  margin: 0 auto;
}
/* line 75, ../../../sass/application.scss */
.main-menu .logo {
  position: absolute;
  left: 40px;
  display: inline-block;
  z-index: 100;
}
/* line 82, ../../../sass/application.scss */
.main-menu .burger {
  width: 45px;
  position: absolute;
  right: 40px;
  display: inline-block;
  z-index: 300;
  top: 10px;
}
/* line 90, ../../../sass/application.scss */
.main-menu .burger:hover {
  opacity: 0.7;
  cursor: pointer;
}
/* line 95, ../../../sass/application.scss */
.main-menu .burger .one, .main-menu .burger .two, .main-menu .burger .three {
  width: 45px;
  height: 5px;
  background: #e23a2c;
  margin: 5px;
  position: relative;
}
/* line 103, ../../../sass/application.scss */
.main-menu .burger.active {
  -webkit-animation: spin .5s ease;
}
/* line 107, ../../../sass/application.scss */
.main-menu .burger .one-active {
  -webkit-animation: rotate-left .5s ease-in;
  animation-delay: 0.1s;
  z-index: 999;
  background: #fff;
}
/* line 114, ../../../sass/application.scss */
.main-menu .burger .three-active {
  -webkit-animation: rotate-right .5s ease-in;
  animation-delay: 0.1s;
  z-index: 999;
  background: #fff;
}
/* line 121, ../../../sass/application.scss */
.main-menu .burger .hide-two {
  -webkit-animation: hide .5s ease-in;
  animation-delay: 0.1s;
  z-index: 999;
  background: #fff;
}

/* line 130, ../../../sass/application.scss */
.one-active {
  -webkit-transform: rotate(45deg);
  background: #fff;
}

/* line 135, ../../../sass/application.scss */
.hide-two {
  opacity: 0;
}

/* line 140, ../../../sass/application.scss */
.three-active {
  -webkit-transform: rotate(-45deg);
  right: 0px;
  top: -20px;
  background: white;
}

/* line 150, ../../../sass/application.scss */
.intro {
  margin: 100px;
  text-align: center;
  background: url("img/intro-bg.png") center bottom no-repeat #f9f9f9;
  position: relative;
}
/* line 156, ../../../sass/application.scss */
.intro .intro-content {
  padding: 140px 0px;
}
/* line 160, ../../../sass/application.scss */
.intro .hello-text {
  color: #e23a2c;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 600;
  font-size: 1.2em;
}
/* line 168, ../../../sass/application.scss */
.intro .tagline {
  color: #e23a2c;
  font-size: 48px;
  margin: 45px;
  display: block;
  font-size: 5em;
}
/* line 176, ../../../sass/application.scss */
.intro p {
  font-weight: 200;
  font-size: 2em;
  margin-bottom: 40px;
}
/* line 182, ../../../sass/application.scss */
.intro .play-video-btn {
  display: inline-block;
  color: #e23a2c;
  border: 4px solid #e23a2c;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 40px;
  position: relative;
  background: none;
  -webkit-transition: all 0.3s ease;
  font-size: 1.1em;
  letter-spacing: 3px;
}
/* line 195, ../../../sass/application.scss */
.intro .play-video-btn:hover {
  background: #e23a2c;
  color: #fff;
  border-radius: 100px;
  top: -5px;
  -webkit-transform: scale(1.1);
  cursor: pointer;
}

/* line 208, ../../../sass/application.scss */
.advantages {
  text-align: center;
}
/* line 211, ../../../sass/application.scss */
.advantages .title-advantages {
  color: #fff;
  margin-bottom: 50px;
}
/* line 216, ../../../sass/application.scss */
.advantages .card {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  background: #fff;
  border-radius: 3px;
  padding: 50px 0px;
  position: relative;
  -webkit-transition: all 0.3s ease;
}
/* line 226, ../../../sass/application.scss */
.advantages .card .icon {
  -webkit-transition: all 0.3s ease;
  margin-bottom: 35px;
  display: inline-block;
}
/* line 232, ../../../sass/application.scss */
.advantages .card .card-title {
  color: #e23a2c;
  margin-bottom: 65px;
  display: block;
  font-size: 22px;
}
/* line 239, ../../../sass/application.scss */
.advantages .card p {
  font-weight: 200;
  font-size: 26px;
  width: 80%;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 60px;
}
/* line 248, ../../../sass/application.scss */
.advantages .card .card-link {
  color: #e23a2c;
  font-size: 22px;
  font-weight: 600;
}

/* line 256, ../../../sass/application.scss */
.work-slider {
  background: #9f2b20;
  text-align: center;
  margin: 100px auto;
  position: relative;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease;
  overflow: hidden;
}
/* line 265, ../../../sass/application.scss */
.work-slider .container {
  width: 100%;
}
/* line 269, ../../../sass/application.scss */
.work-slider a.control_prev, .work-slider a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}
/* line 286, ../../../sass/application.scss */
.work-slider a.control_prev:hover, .work-slider a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}
/* line 291, ../../../sass/application.scss */
.work-slider a.control_prev {
  border-radius: 0 2px 2px 0;
}
/* line 295, ../../../sass/application.scss */
.work-slider a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}
/* line 300, ../../../sass/application.scss */
.work-slider .slides {
  position: relative;
  margin: 0;
  padding: 0;
  height: 300px;
  list-style: none;
}
/* line 308, ../../../sass/application.scss */
.work-slider .slides li {
  background: url(img/pikster.png) no-repeat;
  background-size: 35%;
  background-position: right bottom;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  width: 1200px;
  height: 300px;
  text-align: center;
}
/* line 321, ../../../sass/application.scss */
.work-slider .slides li:hover {
  background-size: 36%;
}
/* line 325, ../../../sass/application.scss */
.work-slider .slides li .slider-title {
  color: rgba(0, 0, 0, 0.5);
}
/* line 329, ../../../sass/application.scss */
.work-slider .slides li .project-title {
  color: #fff;
  text-decoration: underline;
  margin: 50px 0px;
  font-size: 42px;
  letter-spacing: 2px;
}
/* line 337, ../../../sass/application.scss */
.work-slider .slides li p {
  font-weight: 200;
  color: #fff;
  font-size: 42px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
}
/* line 346, ../../../sass/application.scss */
.work-slider .slides li .view-project {
  color: #fff;
  border: 1px solid #fff;
  padding: 25px 80px;
  border-radius: 3px;
  font-weight: 200;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 50px;
  -webkit-transition: all 0.3s ease;
}
/* line 357, ../../../sass/application.scss */
.work-slider .slides li .view-project:hover {
  background: #fff;
  color: #9f2b20;
  border-radius: 100px;
  top: -5px;
  -webkit-transform: scale(1.1);
}
/* line 368, ../../../sass/application.scss */
.work-slider .slides .bullets {
  list-style: none;
}
/* line 371, ../../../sass/application.scss */
.work-slider .slides .bullets li {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  display: inline-block;
  border: 2px solid #fff;
}

@font-face {
  font-family: DeliciousRoman;
  src: url("../fonts/Circular.otf");
  font-weight: 400;
}

@-webkit-keyframes rotate-right {
  /* line 395, ../../../sass/application.scss */
  0% {
    -webkit-transform: rotate(0deg);
    right: 0px;
    top: 0px;
  }

  /* line 400, ../../../sass/application.scss */
  100% {
    -webkit-transform: rotate(-45deg);
    right: 0px;
    top: -20px;
  }
}

@-webkit-keyframes spin {
  /* line 408, ../../../sass/application.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 411, ../../../sass/application.scss */
  100% {
    -webkit-transform: rotate(-180deg);
  }
}

@-webkit-keyframes rotate-left {
  /* line 418, ../../../sass/application.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 419, ../../../sass/application.scss */
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@-webkit-keyframes hide {
  /* line 424, ../../../sass/application.scss */
  0% {
    -webkit-transform: rotate(0deg);
    top: 0px;
    opacity: 1;
  }

  /* line 430, ../../../sass/application.scss */
  50% {
    opacity: 0;
  }

  /* line 434, ../../../sass/application.scss */
  100% {
    -webkit-transform: rotate(90deg);
    top: 200px;
  }
}
