/* line 1, ../../../sass/_grid.scss */
* {
  box-sizing: border-box;
}

/* line 7, ../../../sass/_grid.scss */
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

/* line 14, ../../../sass/_grid.scss */
.col-2 {
  display: inline-block;
  width: 49%;
}

/* line 6, ../../../sass/application.scss */
* {
  margin: 0px;
  padding: 0px;
}

/* line 11, ../../../sass/application.scss */
body {
  background: #e23a2c;
  font-family: 'Open Sans', sans-serif;
}

/* line 16, ../../../sass/application.scss */
h1, h2, h3, h4 {
  font-family: 'Circular', sans-serif;
}

/* line 20, ../../../sass/application.scss */
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

/* line 29, ../../../sass/application.scss */
.menu-overlay {
  position: fixed;
  background: rgba(226, 58, 44, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: none;
}
/* line 40, ../../../sass/application.scss */
.menu-overlay .menu-content {
  text-align: center;
  color: #fff;
  padding: 100px 0px;
  display: none;
}
/* line 47, ../../../sass/application.scss */
.menu-overlay .text-center {
  text-align: center;
}
/* line 51, ../../../sass/application.scss */
.menu-overlay a {
  font-size: 5em;
  color: #fff;
  display: block;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  margin: 20px 0px;
}
/* line 59, ../../../sass/application.scss */
.menu-overlay a:hover {
  -webkit-transform: scale(1.3);
}
/* line 64, ../../../sass/application.scss */
.menu-overlay .social-info a {
  display: inline-block;
  font-size: 2em;
  margin: 20px 30px;
}

/* line 71, ../../../sass/application.scss */
.show-menu {
  display: block !important;
}

/* line 75, ../../../sass/application.scss */
.main-menu {
  position: relative;
  width: 90%;
  margin: 0 auto;
}
/* line 80, ../../../sass/application.scss */
.main-menu .logo {
  position: absolute;
  left: 40px;
  display: inline-block;
  z-index: 100;
}
/* line 87, ../../../sass/application.scss */
.main-menu .burger {
  width: 45px;
  position: absolute;
  right: 40px;
  display: inline-block;
  z-index: 300;
  top: 10px;
}
/* line 95, ../../../sass/application.scss */
.main-menu .burger:hover {
  opacity: 0.7;
  cursor: pointer;
}
/* line 100, ../../../sass/application.scss */
.main-menu .burger .one, .main-menu .burger .two, .main-menu .burger .three {
  width: 45px;
  height: 5px;
  background: #e23a2c;
  margin: 5px;
  position: relative;
}
/* line 108, ../../../sass/application.scss */
.main-menu .burger.active {
  -webkit-animation: spin .5s ease;
}
/* line 112, ../../../sass/application.scss */
.main-menu .burger .one-active {
  -webkit-animation: rotate-left .5s ease-in;
  animation-delay: 0.1s;
  z-index: 999;
  background: #fff;
}
/* line 119, ../../../sass/application.scss */
.main-menu .burger .three-active {
  -webkit-animation: rotate-right .5s ease-in;
  animation-delay: 0.1s;
  z-index: 999;
  background: #fff;
}
/* line 126, ../../../sass/application.scss */
.main-menu .burger .hide-two {
  -webkit-animation: hide .5s ease-in;
  animation-delay: 0.1s;
  z-index: 999;
  background: #fff;
}

/* line 135, ../../../sass/application.scss */
.one-active {
  -webkit-transform: rotate(45deg);
  background: #fff;
}

/* line 140, ../../../sass/application.scss */
.hide-two {
  opacity: 0;
}

/* line 145, ../../../sass/application.scss */
.three-active {
  -webkit-transform: rotate(-45deg);
  right: 0px;
  top: -20px;
  background: white;
}

/* line 155, ../../../sass/application.scss */
.intro {
  margin: 100px;
  text-align: center;
  background: url("img/intro-bg.png") center bottom no-repeat #f9f9f9;
  position: relative;
}
/* line 161, ../../../sass/application.scss */
.intro .intro-content {
  padding: 140px 0px;
}
/* line 165, ../../../sass/application.scss */
.intro .hello-text {
  color: #e23a2c;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 600;
  font-size: 1.2em;
}
/* line 173, ../../../sass/application.scss */
.intro .tagline {
  color: #e23a2c;
  font-size: 48px;
  margin: 45px;
  display: block;
  font-size: 5em;
}
/* line 181, ../../../sass/application.scss */
.intro p {
  font-weight: 200;
  font-size: 2em;
  margin-bottom: 40px;
}
/* line 187, ../../../sass/application.scss */
.intro .play-video-btn {
  display: inline-block;
  color: #e23a2c;
  border: 4px solid #e23a2c;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 40px;
  position: relative;
  background: none;
  -webkit-transition: all 0.3s ease;
  font-size: 1.1em;
  letter-spacing: 3px;
}
/* line 200, ../../../sass/application.scss */
.intro .play-video-btn:hover {
  background: #e23a2c;
  color: #fff;
  border-radius: 100px;
  top: -5px;
  -webkit-transform: scale(1.1);
  cursor: pointer;
}

/* line 213, ../../../sass/application.scss */
.advantages {
  text-align: center;
}
/* line 216, ../../../sass/application.scss */
.advantages .title-advantages {
  color: #fff;
  margin-bottom: 50px;
}
/* line 221, ../../../sass/application.scss */
.advantages .card {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  background: #fff;
  border-radius: 3px;
  padding: 50px 0px;
  position: relative;
  -webkit-transition: all 0.3s ease;
}
/* line 231, ../../../sass/application.scss */
.advantages .card .icon {
  -webkit-transition: all 0.3s ease;
  margin-bottom: 35px;
  display: inline-block;
}
/* line 237, ../../../sass/application.scss */
.advantages .card .card-title {
  color: #e23a2c;
  margin-bottom: 65px;
  display: block;
  font-size: 22px;
}
/* line 244, ../../../sass/application.scss */
.advantages .card p {
  font-weight: 200;
  font-size: 26px;
  width: 80%;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 60px;
}
/* line 253, ../../../sass/application.scss */
.advantages .card .card-link {
  color: #e23a2c;
  font-size: 22px;
  font-weight: 600;
}

/* line 263, ../../../sass/application.scss */
.work-slider {
  background: #9f2b20;
  text-align: center;
  margin: 100px auto;
  position: relative;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease;
  overflow: hidden;
}
/* line 272, ../../../sass/application.scss */
.work-slider .container {
  width: 100%;
}
/* line 276, ../../../sass/application.scss */
.work-slider a.control_prev, .work-slider a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}
/* line 293, ../../../sass/application.scss */
.work-slider a.control_prev:hover, .work-slider a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}
/* line 298, ../../../sass/application.scss */
.work-slider a.control_prev {
  border-radius: 0 2px 2px 0;
}
/* line 302, ../../../sass/application.scss */
.work-slider a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}
/* line 307, ../../../sass/application.scss */
.work-slider .slides {
  position: relative;
  margin: 0;
  padding: 0;
  height: 300px;
  list-style: none;
}
/* line 315, ../../../sass/application.scss */
.work-slider .slides li {
  background: url(img/pikster.png) no-repeat;
  background-size: 35%;
  background-position: right bottom;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  width: 1200px;
  height: 300px;
  text-align: center;
}
/* line 328, ../../../sass/application.scss */
.work-slider .slides li:hover {
  background-size: 36%;
}
/* line 332, ../../../sass/application.scss */
.work-slider .slides li .slider-title {
  color: rgba(0, 0, 0, 0.5);
}
/* line 336, ../../../sass/application.scss */
.work-slider .slides li .project-title {
  color: #fff;
  text-decoration: underline;
  margin: 50px 0px;
  font-size: 42px;
  letter-spacing: 2px;
}
/* line 344, ../../../sass/application.scss */
.work-slider .slides li p {
  font-weight: 200;
  color: #fff;
  font-size: 42px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
}
/* line 353, ../../../sass/application.scss */
.work-slider .slides li .view-project {
  color: #fff;
  border: 1px solid #fff;
  padding: 25px 80px;
  border-radius: 3px;
  font-weight: 200;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 50px;
  -webkit-transition: all 0.3s ease;
}
/* line 364, ../../../sass/application.scss */
.work-slider .slides li .view-project:hover {
  background: #fff;
  color: #9f2b20;
  border-radius: 100px;
  top: -5px;
  -webkit-transform: scale(1.1);
}
/* line 375, ../../../sass/application.scss */
.work-slider .slides .bullets {
  list-style: none;
}
/* line 378, ../../../sass/application.scss */
.work-slider .slides .bullets li {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  display: inline-block;
  border: 2px solid #fff;
}

@font-face {
  font-family: DeliciousRoman;
  src: url("../fonts/Circular.otf");
  font-weight: 400;
}

@-webkit-keyframes rotate-right {
  /* line 402, ../../../sass/application.scss */
  0% {
    -webkit-transform: rotate(0deg);
    right: 0px;
    top: 0px;
  }

  /* line 407, ../../../sass/application.scss */
  100% {
    -webkit-transform: rotate(-45deg);
    right: 0px;
    top: -20px;
  }
}

@-webkit-keyframes spin {
  /* line 415, ../../../sass/application.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 418, ../../../sass/application.scss */
  100% {
    -webkit-transform: rotate(-180deg);
  }
}

@-webkit-keyframes rotate-left {
  /* line 425, ../../../sass/application.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 426, ../../../sass/application.scss */
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@-webkit-keyframes hide {
  /* line 431, ../../../sass/application.scss */
  0% {
    -webkit-transform: rotate(0deg);
    top: 0px;
    opacity: 1;
  }

  /* line 437, ../../../sass/application.scss */
  50% {
    opacity: 0;
  }

  /* line 441, ../../../sass/application.scss */
  100% {
    -webkit-transform: rotate(90deg);
    top: 200px;
  }
}

@-webkit-keyframes move {
  /* line 447, ../../../sass/application.scss */
  50% {
    bottom: 50%;
    left: -70%;
  }
}

@-webkit-keyframes move-left {
  /* line 453, ../../../sass/application.scss */
  50% {
    bottom: 50%;
    right: 70%;
  }
}

/* line 460, ../../../sass/application.scss */
.skills {
  position: relative;
  width: 100%;
  height: 300px;
}
/* line 465, ../../../sass/application.scss */
.skills .mask {
  background: #FFF;
  height: 300px;
  -webkit-transition: width 1s ease-in-out;
  width: 50%;
  cursor: pointer;
  float: left;
  display: inline-block;
  height: 300px;
  text-align: center;
}
/* line 476, ../../../sass/application.scss */
.skills .mask:hover {
  background: #e23a2c;
}
/* line 480, ../../../sass/application.scss */
.skills .mask.hide {
  width: 0;
}
/* line 485, ../../../sass/application.scss */
.skills .skill {
  width: 100%;
  position: absolute;
  -webkit-transition: width 1s ease-in-out;
  top: 0px;
  height: 300px;
}
/* line 492, ../../../sass/application.scss */
.skills .skill.hide-all {
  display: none;
}
/* line 504, ../../../sass/application.scss */
.skills .expand-content {
  background: #e23a2c;
  color: #FFF;
  display: block;
  opacity: 1;
  -webkit-transition: width 1s ease-in-out;
  width: 100%;
}
/* line 513, ../../../sass/application.scss */
.skills .fusion {
  background: #000;
  color: #FFF;
  display: inline-block;
  width: 80px;
  height: 80px;
  text-transform: uppercase;
}
/* line 521, ../../../sass/application.scss */
.skills .fusion.circle {
  border-radius: 50%;
  right: 47%;
  position: absolute;
  top: 50%;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  z-index: 300;
  line-height: 80px;
  text-align: center;
}
/* line 534, ../../../sass/application.scss */
.skills .fusion.circle span {
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}
/* line 540, ../../../sass/application.scss */
.skills .fusion.circle.move-left {
  -webkit-transform: scale(0.5);
  -webkit-animation: move 3s ease;
  top: 0;
  right: 0;
}
/* line 547, ../../../sass/application.scss */
.skills .fusion.circle.move-right {
  -webkit-transform: scale(0.5);
  -webkit-animation: move-left 3s ease;
  top: 0;
  left: 0;
}

/* line 560, ../../../sass/application.scss */
.testimonials .picture {
  box-sizing: border-box;
  float: left;
  width: 30%;
}
/* line 566, ../../../sass/application.scss */
.testimonials .quote {
  background: #FFF;
  box-sizing: border-box;
  float: right;
  padding: 50px 100px;
  width: 70%;
}
/* line 573, ../../../sass/application.scss */
.testimonials .quote blockquote {
  color: #e23a2c;
  font-size: 1.5em;
  padding: 80px 0;
}
/* line 578, ../../../sass/application.scss */
.testimonials .quote blockquote footer {
  color: #000;
  padding: 10px;
  text-align: left;
}

/* line 587, ../../../sass/application.scss */
footer {
  color: white;
  padding: 100px;
  text-align: center;
}
/* line 592, ../../../sass/application.scss */
footer .contact {
  color: white;
}
/* line 595, ../../../sass/application.scss */
footer .contact:visited {
  color: white;
}
