---
layout: project
title: Aire
type: projects
bg_img: "https://s3.amazonaws.com/icalia/assets/img/aire.jpg"
---

<div class="content-wrapper">
	<div class="services">
		<h2>Services</h2>
		<h4>Branding and Content Strategy</h4>
		<h4>UI/UX Design</h4>
		<h4>Front/Back-end Development</h4>
		<h4>Infrastructure/DevOPS/Dockerization</h4>
	</div>
	<h2>AireNL and the Challenge</h2>
	<p>
		Although it is common for the citizens of other more populated cities (like cities in China, or Mexico City, for example), being constantly aware of the city's pollution levels is not something that is common in Monterrey. The state government had a simple web site and occasionally send out notices via social media, but almost nobody knew about this. 
	</p>
	
	<h2>
		What we did
	</h2>
	<p>
		We realized that the reason people did not know about this information because it was not easily accessible or user friendly. So we created a very simple, user friendly mobile application for iOS and Android, which presents all the relevant information any user needs to be able to plan their day accordingly to the pollution levels.
	</p>
	<p>
		It includes pollution levels (and what they mean), and what to do in each case. Recommendations like if it's advisable to exercise outdoors or not. It also used the phone's built in GPS to be able to automatically show them the pollution levels for the part of the city they are currently at.
	</p>
	<div class="branding aire">
		<div class="img-container">
			<img src="images/aire/aire-logo.png">
		</div>
		<div class="colors aire-colors">
			<h3>Colors</h3>
			<div class="color">
				<div class="color-hex">
					<div class="vertical-align">
						<span>Green</span>
						<span>51CD54</span>
					</div>
				</div>
			</div>
			<div class="color">
				<div class="color-hex">
					<div class="vertical-align">
						<span>Purple</span>
						<span>#733487</span>
					</div>
				</div>
			</div>
			<div class="color">
				<div class="color-hex">
					<div class="vertical-align">
						<span>Red</span>
						<span>#E6413C</span>
					</div>
				</div>
			</div>
			<div class="color">
				<div class="color-hex">
					<div class="vertical-align">
						<span>Orange</span>
						<span>#F39A35</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<p>
		It was important to us that this were a very user-centered application. We did not want it to feel like this was an enterprise or government app, which could drive users away. We created a very colorful but simple design, that included pictures of Nuevo Leon's landmarks as background, but being careful in not including any official state government's colors or branding to make sure the app was not linked to the government in a heavy way.
	</p>	
	<div class="aire-screens">
		<img src="images/aire/aire-splash.jpg">
		<img src="images/aire/aire-principal.jpg">
		<img src="images/aire/aire-map.jpg">
	</div>
</div>

