---
layout: project
title: Aire
type: projects
bg_img: "https://s3.amazonaws.com/icalia/assets/img/aire.jpg"
client: Gobierno del Estado de N.L.
---

<div class="content-wrapper">
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">The Challenge</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				Like most cities in the rest of the world, as Monterrey grows, air quality becomes more and more deteriorated. As pollution levels have reached an all time high recently. The state government in conjunction with TEC de Monterrey, wanted to bring this important issue to the forefront in order to raise awareness and increase efforts to improve air quality in the region.
			</p>
		</div>
	</div>
	<div class="case-study-block container">
		<span class="quote">
			For us, it was key to highlight air-quality movement across the entire application.
		</span>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(https://s3.amazonaws.com/icalia/assets/img/aire/logo.jpg)"></div>
		<div class="img-block half pull-left" style="background-image: url(https://s3.amazonaws.com/icalia/assets/img/aire/icons.jpg)"></div>
		<div class="img-block half" style="background-image: url(https://s3.amazonaws.com/icalia/assets/img/aire/aire-icons.jpg)"> </div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">What we did</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				We realized that the reason people did not know about air-quality because it was not easily accessible. Therefore, we created a very simple, user friendly mobile application for iOS and Android, which presents all the relevant information to be able to plan their day according to the pollution levels of that day.
			</p>
			<p>
				The app highlights pollution levels, what they mean, and what to do in each case. The app includes geo-localization in order to show the air-quality of the part of town where the user is at, and tips and recommended activities for that day; warning users when the air quality is to low for outdoor activities.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(https://s3.amazonaws.com/icalia/assets/img/aire/icon.jpg)"></div>
		<div class="img-block" style="background-image: url(https://s3.amazonaws.com/icalia/assets/img/aire/icons-colors.jpg)"></div>
	</div>
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Branding</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				For the branding of this product we felt the need to be the most descriptive as possible with its function, so we tried to represent an air wave transporting particles. The colors of the particles are the reflect of the existing standard scale at national level for the measurement of level of contamination and purity levels in the air. As the standard dictates, the green tones indicate purity, the yellow and orange indicate caution meanwhile we wanted to use the blue ones to give more live and to represent the air itself.
			</p>
		</div>
	</div>
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Design</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				It was important to us that this were a very user-centered application. We did not want it to feel like this was an enterprise or government app, which could drive users away.
			</p>
			<p>
				So we used clear backgrounds with life full pictures and very explicit icons according to the contingency level or the given alert.
			</p>
			<p>
				We created a very colorful but simple design, that included pictures of Nuevo Leon's landmarks as background, but being careful in not including any official state government's colors or branding to make sure the app was not linked to the government in a heavy way.
			</p>
		</div>
	</div>
	<div class="case-study-block">
		<div class="img-block half pull-left" style="background-image: url(https://s3.amazonaws.com/icalia/assets/img/aire/aire-app.png)"></div>
		<div class="img-block half" style="background-image: url(https://s3.amazonaws.com/icalia/assets/img/aire/aire-work.jpg)"></div>
	</div>
	<div class="case-study-block container">
		<span class="quote">
			Simplicity, minimalism and clear communication was the key part for the Air project.
		</span>
	</div>
</div>
