---
layout: project
title: Aire
type: projects
bg_img: "https://s3.amazonaws.com/icalia/assets/img/aire.jpg"
subtitle: 
---

<div class="content-wrapper">
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">The Challenge</h5>	
		</div>
		<div class="pull-right big-block">
			<p>
				Although it is common for the citizens of other more populated cities (like cities in China, or Mexico City, for example), being constantly aware of the city's pollution levels is not something that is common in Monterrey. The state government had a simple web site and occasionally send out notices via social media, but almost nobody knew about this.
			</p>
		</div>
	</div>
	<div class="case-study-block container">
		<span class="quote">
			The movement is a key part of the logo as well as for the application itself.
		</span>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(/images/aire/logo.jpg)"></div>
		<div class="img-block half pull-left" style="background-image: url(/images/aire/icons.jpg)"></div>
		<div class="img-block half" style="background-image: url(/images/aire/icons-2.jpg)"></div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">What we did</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				We realized that the reason people did not know about this information because it was not easily accessible or user friendly. So we created a very simple, user friendly mobile application for iOS and Android, which presents all the relevant information any user needs to be able to plan their day accordingly to the pollution levels. 
			</p>
			<p>
				It includes pollution levels (and what they mean), and what to do in each case. Recommendations like if it's advisable to exercise outdoors or not. It also used the phone's built in GPS to be able to automatically show them the pollution levels for the part of the city they are currently at.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(/images/aire/icon.jpg)"></div>
		<div class="img-block" style="background-image: url(/images/aire/icons-colors.jpg)"></div>
	</div>
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Branding</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				For the branding of this product we felt the need to be the most descriptive as possible with its function, so we tried to represent an air wave transporting particles. The colors of the particles are the reflect of the existing standard scale at national level for the measurement of level of contamination and purity levels in the air. As the standard dictates, the green tones indicate purity, the yellow and orange indicate caution meanwhile we wanted to use the blue ones to give more live and to represent the air itself.
			</p>
		</div>
	</div>
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">App Design</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				It was important to us that this were a very user-centered application. We did not want it to feel like this was an enterprise or government app, which could drive users away. 
			</p>
			<p>
				So we used clear backgrounds with life full pictures and very explicit icons according to the contingency level or the given alert. 
			</p>
			<p>
				We created a very colorful but simple design, that included pictures of Nuevo Leon's landmarks as background, but being careful in not including any official state government's colors or branding to make sure the app was not linked to the government in a heavy way.
			</p>
		</div>
	</div>
	<div class="case-study-block container">
		<span class="quote">
			Simplicity, minimalism and clear communication was the key part for the Air project.
		</span>
	</div>
</div>