---
layout: project
title: Cochi
type: projects
bg_img: "//s3.amazonaws.com/icalia/assets/img/cochi.jpg"
client: Banregio
---

<div class="content-wrapper">
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">The Challenge</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				Create a web app that helps millenials reach their financial goals. As a demographic that is known to live in the moment, how do you help them save enough for their short and medium term goals?
			</p>
			<p>
				In addition, Banregio wanted a product that broke out of the bureaucratic process sometimes associated with Banks in Mexico. They needed a delightful product which helps their your customers accomplish their goals without getting in the way.
			</p>
		</div>
	</div>
	<div class="case-study-block">
		<div class="img-block half pull-left" style="background-image: url(//s3.amazonaws.com/icalia/assets/img/cochi/cochi-work.jpg)"></div>
		<div class="img-block half" style="background-image: url(//s3.amazonaws.com/icalia/assets/img/cochi/cochi-proposals.png)"></div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Our solution</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				After a lengthy discussion with the client, in order to fully understand our client's wants and needs, we began by reflecting and exploring similar services and solutions. In parallel, we started working to define the app's architecture.
			</p>
		</div>
	</div>
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Branding</h5>
		</div>
		<div class="pull-right big-block">
				<p>
					Banregio wanted to create something playful, yet something that would not detract from the importance of saving. They were looking for something that could attract millenials without scaring them with a product that would feel too serious.
				</p>
				<p>
					Given that our client had already chosen the product's name, "Cochi", as in a piggy bank, we worked to create something that would be reminiscent of our earliest memories with saving. Perhaps reminding our end-consumer about the very first time they saved their allowance to buy a new bike, or toy.
				</p>
		</div>
	</div>
	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalia/assets/img/cochi/construction.jpg)"></div>
		<div class="img-block half pull-left" style="background-image: url(//s3.amazonaws.com/icalia/assets/img/cochi/proposal.jpg)"></div>
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalia/assets/img/cochi/logo.png)"></div>
	</div>
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">UI/UX</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				In order to make things as simple and straight forward as possible for our end-user, we focused on building a product that could just get the work previously needed for saving out of the way.

				By working and testing several prototypes, we came up with a solution that guides the user through a simple on-boarding process and then gets everything out the way and just focuses them to start saving. Finally we created a simple yet powerfull dashboard to enable our user to easily keep tabs on their saving.
			</p>
		</div>
	</div>
	<div class="case-study-block">
		<div class="img-block half half-full pull-left" style="background-image: url(//s3.amazonaws.com/icalia/assets/img/cochi/wireframes.png)"></div>
		<div class="img-block half half-full" style="background-image: url(//s3.amazonaws.com/icalia/assets/img/cochi/wireframes-dashboard.png)"></div>
	</div>

	<div class="case-study-block">
		<div class="img-block full" style="background-image: url(//s3.amazonaws.com/icalia/assets/img/cochi/cochi-landing.png)"></div>
	</div>
</div>
