---
layout: project
title: Cochi
type: projects
bg_img: "https://s3.amazonaws.com/icalia/assets/img/cochi.jpg"
subtitle: 
---

<div class="content-wrapper">
	<!--div class="services">
		<h2>Services</h2>
		<h4>Branding and Content Strategy</h4>
		<h4>UI/UX Design</h4>
		<h4>Front/Back-end Development</h4>
	</div-->

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">The Challenge</h5>	
		</div>
		<div class="pull-right big-block">
			<p>
				Banregio wanted to create a web app to help young people achieve their goals and accomplish what they wanted, new generations are known for not knowing how to save money and living in the moment, spending everything without thinking in the future, but this platform was considered to help you save money for your medium term goals, either these were getting a new computer or traveling around the world.
			</p>
		</div>
	</div>

	<div class="case-study-block container">
		<span class="quote">
			Banregio didn't want the people to relate the web app directly with them, they wanted to create something different from what they are, and to really help people accomplish things.
		</span>
	</div>

	<div class="case-study-block">
		<div class="img-block half pull-left" style="background-image: url(/images/cochi/cochi-work.jpg)"></div>
		<div class="img-block half" style="background-image: url(/images/cochi/work.jpg)"></div>
		<div class="img-block" style="background-image: url(/images/cochi/construction.jpg)"></div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">What we did</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				First, we had a kick off session with the client to establish the target market, what they wanted to reflect and the style they were looking for. We focus on some research about web apps who were already offering a similar service and we started working on the website architecture and wireframes at the same time we started working on the branding part.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(/images/cochi/logo.png)"></div>
		<div class="img-block half pull-left" style="background-image: url(/images/cochi/proposal.jpg)"></div>
		<div class="img-block half" style="background-image: url(/images/cochi/work.jpg)"></div>
	</div>

	<div class="case-study-block container">
		<p>
			We needed to generate and identity all of its own, it needed to be different from Banregio, so people wouldn't relate it directly to a bank and all of its tedious steps to create an account or to do any transaction.
		</p>	

		<p>
			It needed to be something not that serious but not that fun at the same time.
			They wanted it to be something obvious so we decided to explore options that reflected the name they gave us for the product "Cochi", that's how we came out with a pigs' nose for the logo, it reminded us to when we were little and wanted to save money, we had a moneybox with the shape of a pig.
		</p>
		<div class="case-study-block container">
			<div class="pull-left small-block">
				<h5 class="case-study-title">Web Design</h5>
			</div>
			<div class="pull-right big-block">
				<p>
					Once we had the logo, we wanted the design to be something fresh, different from any website that could offer a similar service, and definitely different from any type of bank. Working on the wireframes we thought on the best option to guide the user through the whole platform, since the on boarding until the users' dashboard. 
				</p>
			</div>
		</div>
</div>

