---
layout: application-light
title: Contact
type: contact
---

<% content_for :javascripts do %>
  <script src="javascripts/parallax.js"></script>
  <script>
    var scene = document.getElementById('scene');
    var parallax = new Parallax(scene);
  </script>
<% end %>

<section class="section-header">
  <div class="vertical-align">
    <h2 class="section-tag red">Let's build the future together.</h2>
    <a href="https://graf2.typeform.com/to/VEd4e1" class="button">Get a quote</a>
  </div>
</section>

<section class="address-section">
  <h4 class="text-center">Find us at:</h4>
  <div class="container clearfix">
    <div class="address-container red">
      <div class="address pull-left">
        <h4>Monterrey</h4>
        <p>Juan I. Ramon 801, Suite 206
        <br/>Col. Centro, CP 64000.
        <br/>Monterrey, NL Mexico</p>
      </div>
      <div class="address">
        <h4>Austin</h4>
        <p>WeWork
          <br/>600 Congress Ave
        <br/>Austin, TX 78701, USA</p>
      </div>
      <div class="building"></div>
    </div>
  </div>
</section>
<section class='social-networks text-center'>
  <div class="container">
    <h6 class="letter-spacing red">FIND MORE ABOUT US</h6>
    <p>We love to share our work with the world.<br> Show us some love, give us a like, or spread the word. We hope it helps.</p>
    <ul class="icons-container" id="scene">
      <li class="layer fb-icon" data-depth="0.10">
        <a href="http://facebook.com/icalialabs" class="icon"><img src="//s3.amazonaws.com/icalialabs/assets/img/contact/fb-circle-icon.png" alt=""></a>
      </li>
      <li class="layer medium-icon" data-depth="0.20">
        <a href="https://medium.com/@icalialabs" class="icon"><img src="//s3.amazonaws.com/icalialabs/assets/img/contact/medium-circle-icon.png" alt=""></a>
      </li>
      <li class="layer dribbble-icon" data-depth="0.40">
        <a href="http://dribbble.com/icalialabs" class="icon"><img src="//s3.amazonaws.com/icalialabs/assets/img/contact/dribbble-circle-icon.png" alt=""></a>
      </li>
      <li class="layer instagram-icon" data-depth="0.60">
        <a href="http://instagram.com/icalialabs" class="icon"><img src="//s3.amazonaws.com/icalialabs/assets/img/contact/instagram-circle-icon.png" alt=""></a>
      </li>
      <li class="layer github-icon" data-depth="0.80">
        <a href="http://github.com/icalialabs" class="icon"><img src="//s3.amazonaws.com/icalialabs/assets/img/contact/github-circle-icon.png" alt=""></a>
      </li>
      <li class="layer twitter-icon" data-depth="1.0">
        <a href="https://twitter.com/icalialabs" class="icon"><img src="//s3.amazonaws.com/icalialabs/assets/img/contact/twitter-circle-icon.png" alt=""></a>
      </li>
    </ul>
  </div>
</section>
