---
layout: application
title: Contact
type: contact
---

<section class="section-header">
  <div class="vertical-align">
    <h2 class="section-tag red">Let's build the future together.</h2>
    <p class="subtitle">Tell us more about your project requirements so we can connect and learn more about how we can help bring your idea to life.</p>

    <div class="call-buttons-group red">
      <a href="#" class="left"><h6 class="letter-spacing">FOR STARTUPS</h6></a>
      <i class="sep"></i>
      <a href="#" class="right"><h6 class="letter-spacing">FOR ENTERPRISE</h6></a>
    </div> 
  </div>
</section>

<section class="address-section">
  <h4 class="text-center">Come over and say Hi!</h4>
  <div class="container clearfix">
    <div class="address-container red">
      <div class="address pull-left">
        <h4>HQ MONTERREY</h4>
        <p>Juan I. Ramon 801, Suite 206
        <br/>Centro de Monterrey, 64000.
        <br/>Monterrey City, NL, Mexico</p>
      </div>
      <div class="address">
        <h4>REMOTE OFFICE</h4>
        <p>WeWork
          <br/>600 Congress Ave
        <br/>Austin, TX 78701, USA</p>
      </div>
      <div>
        <p>weare@icalialabs.com</p>
        <p>+52 01 (81) 2089 8857</p>
      </div>
    </div>
  </div>
</section>
<section class='social-networks text-center'>
  <div class="container">
    <h6 class="letter-spacing red">FIND MORE ABOUT US</h6>
    <p>We love to share our work with the world. Show us some love, give us a like or at least help us spreading all this content, hopefully it will help others.</p>
    <div class="row clearfix">
      <div class="col-3">
        <a href="http://twitter.com/icalialabs" class="icon twitter" target="_blank">Twitter</a>
      </div>
      <div class="col-3">
        <a href="http://facebook.com/icalialabs" class="icon twitter" target="_blank">Facebook</a>
      </div>
      <div class="col-3">
        <a href="http://dribbble.com/icalialabs" class="icon twitter" target="_blank">Dribbble</a>
      </div>
      <div class="col-3">
        <a href="http://instagram.com/icalialabs" class="icon twitter" target="_blank">Instagram</a>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-3">
        <a href="http://slideshare.net/icalialabs" class="icon twitter" target="_blank">Slideshare</a>
      </div>
      <div class="col-3">
        <a href="http://github.com/icalialabs" class="icon twitter" target="_blank">Github</a>
      </div>
      <div class="col-3">
        <a href="http://sudo.icalialabs.com/" class="icon twitter" target="_blank">Sudo</a>
      </div>
      <div class="col-3">
        <a href="https://medium.com/@icalialabs" class="icon twitter" target="_blank">Medium</a>
      </div>
    </div>
  </div>
</section>
