---
layout: application
title: Contact
type: contact
---

<section class="section-header">
  <div class="vertical-align">
    <h2 class="section-tag red">Let's build the future together.</h2>
    <!-- <p class="subtitle">Tell us more about your project requirements so we can connect and learn more about how we can help bring your idea to life.</p> -->

    <div class="call-buttons-group red">
      <a href="#" class="center">Get a quote</a>
    </div>
  </div>
</section>

<section class="address-section">
  <h4 class="text-center">Find us at:</h4>
  <div class="container clearfix">
    <div class="address-container red">
      <div class="address pull-left">
        <h4>Monterrey</h4>
        <p>Juan I. Ramon 801, Suite 206
        <br/>Col. Centro, CP 64000.
        <br/>Monterrey, NL Mexico</p>
      </div>
      <div class="address">
        <h4>Austin</h4>
        <p>WeWork
          <br/>600 Congress Ave
        <br/>Austin, TX 78701, USA</p>
      </div>
      <div>
        <p>weare@icalialabs.com</p>
        <p>+52 01 (81) 2089 8857</p>
      </div>
    </div>
  </div>
</section>
<section class='social-networks text-center'>
  <div class="container">
    <h6 class="letter-spacing red">FIND MORE ABOUT US</h6>
    <p>We love to share our work with the world. Show us some love, give us a like, or spread the word. Hopefully it will help others.</p>
    <ul class="icons-container" id="scene">
      <li class="layer fb-icon" data-depth="0.10">
        <a href="http://facebook.com/icalialabs" class="icon"><img src="images/fb-circle-icon.png" alt=""></a>
      </li>
      <li class="layer medium-icon" data-depth="0.20">
        <a href="https://medium.com/@icalialabs" class="icon"><img src="images/medium-circle-icon.png" alt=""></a>
      </li>
      <li class="layer dribbble-icon" data-depth="0.40">
        <a href="http://dribbble.com/icalialabs" class="icon"><img src="images/dribbble-circle-icon.png" alt=""></a>
      </li>
      <li class="layer instagram-icon" data-depth="0.60">
        <a href="http://instagram.com/icalialabs" class="icon"><img src="images/instagram-circle-icon.png" alt=""></a>
      </li>
      <li class="layer github-icon" data-depth="0.80">
        <a href="http://github.com/icalialabs" class="icon"><img src="images/github-circle-icon.png" alt=""></a>
      </li>
    </ul>
  </div>
</section>
