---
layout: application
title: Enterprise
type: enterprise
---
<section class="section-header">
	<div class="vertical-align">
		<h1 class="section-tag red">Digitally Transform your Business.</h1>
		<div class="startup-icon">
			<%= image_tag "enterprise.svg", class: "animated fadeIn"%>
		</div>
	</div>
</section>
<section class="text-header">
	<h1 class="section-tag red"> Every company is now a software company.	</h1>
	<div class="section-description">
		<p class="red">
			Becoming a Software driven business is the sustainable way of the future.
		</p>
		<p class="red">
			Given the overwhelming global changes underway, institutions find it almost imposible to predict the future, which means adaptability, speed of innovation and execution, is becoming the dominant behavior of outperforming companies.
		</p>
		<p class="red">
			We can help your company leverage next-generation technology to innovate, disrupt your market, and enable growth.
		</p>
	</div>
</section>

<div id="pinContainer" class="pinContainer">
  <div id="enterpriseSlideContainer" class="enterpriseSlideContainer">
     <div class="slide one">
    	<div class="pull-left circle text-center">
    		<h2 class="red vertical-align">1.</h2>
    	</div>
      <h1 class="vertical-align slide-text">Setup for success.</h1>
      <div class="pull-right">
      	<p class="slide-text">Design your digital transformation map. </p>
      	<p class="slide-text">Organize for agility and speed.</p>
				<p class="slide-text">Adopt next generation technology.</p>
      </div>
    </div>
    <div class="slide two">
      <div class="pull-left circle text-center">
    		<h2 class="red vertical-align">2.</h2>
    	</div>
      <h1 class="vertical-align slide-text">Connect with your customers.</h1>
      <div class="pull-right">
      	<p class="slide-text">Align Marketing with Sales. </p>
      	<p class="slide-text">Differentiate your experience.</p>
				<p class="slide-text">Acquire customers effectively.</p>
      </div>
    </div>
    <div class="slide three">
      <div class="pull-left circle text-center">
    		<h2 class="red vertical-align">3.</h2>
    	</div>
      <h1 class="vertical-align slide-text">Optimize your operations.</h1>
      <div class="pull-right">
      	<p class="slide-text">Automate the value chain.</p>
      	<p class="slide-text">Leverage advanced analytics, to continuously <br> improve your operations.</p>
      </div>
    </div>
    <div class="slide four">
      <div class="pull-left circle text-center">
    		<h2 class="red vertical-align">4.</h2>
    	</div>
      <h1 class="vertical-align slide-text">Empower your employees.</h1>
      <div class="pull-right">
      	<p class="slide-text">Flatten your organization.</p>
      	<p class="slide-text">Enable your employees to make <br> more with less.</p>
      </div>
    </div>
  </div>
</div>

<section class="startup-work">
	<div class="text-center">
		<h6 class="letter-spacing red">OUR CLIENTS</h6>
		<p>Learn more about our work with enterprise </p>
	</div>
	<div class="startup-work-container">
		<a href="" class="startup-button pull-right">MVP</a>
		<img src="images/img-icon.png" alt="">
		<h2 class="project-description">
			"Icalia, has been a pivotal technology partner for RTS. They have single handedly help us become more competitive."
		</h2>
		<h6 class="project-name letter-spacing">Josh Hartwell, COO RTS</h6>
	</div>
	<a href="projects.html" class="text-center view-more">View more projects <img src="images/more-icon.png" alt=""></a>
</section>

<section class="startup-work partners">
	<div class="text-center">
		<h6 class="letter-spacing red">OUR PARTNERS</h6>
		<p>Building world class software requires world class technology.</p>
    <img src="images/partners/pivotal.png" alt="">
		<img src="images/partners/docker.png" alt="">
    <img src="images/partners/azure.png" alt="">
    <img src="images/partners/google.png" alt="">
		<img src="images/partners/aws.png" alt="">
	</div>
</section>

<section class="contact-section">
  <h4 class="section-title text-center">Have an idea?</h4>
  <h2 class="contact-section-title">Let's get shit done!</h2>
  <div class="call-buttons-group red">
    <a href="#" class="left">Get a quote</a>
    <i class="sep"></i>
    <a href="#" class="right">View our work</a>
  </div>
</section>