---
layout: application
title: Enterprise
---
<section class="section-header">
	<div class="vertical-align">
		<h1 class="section-tag red">Enterprise</h1>
		<div class="startup-icon">
			<%= partial "shared/startups-icon" %>
		</div>
	</div>
</section>
<section class="text-header">
	<h1 class="section-tag red">
		Helping your company innovate through great software.
	</h1>
	<div class="section-description">
		<h6 class="letter-spacing red">SERVICES</h6>
		<p class="red">
			We are not the standard software developer. We partner with you on every stage of the process to craft the software your business needs, using an agile and lean development approach.
		</p>
		<p class="red">
			Consulting, Code Audits, Agile Process/Practices,
			Development & Operations, Consumerization of the IT, Build New Platforms
		</p>
	</div>
</section>