---
layout: application
title: Icalia Labs
type: index
---
<div class="index-background">
  <section class="intro row">
    <!-- <video autoplay muted loop>
      <source src="<%= ENV["AWS_S3_BUCKET_URL"] %>/assets/img/loop.mp4">
      <source src="<%= ENV["AWS_S3_BUCKET_URL"] %>/assets/img/loop.webmhd.webm">
    </video> -->
    <canvas id="particles"></canvas>
    <div class="container">
      <div class="intro-content vertical-align">
        <h4 class="intro-content_subtitle animated fadeInDown">Hack & Design</h4>
        <h2 class="intro-content_title animated fadeInUp">We Craft Amazing Software <br> to empower your <span id="intro-text"></span></h2>
      </div>
    </div>
  </section>
</div>