---
layout: project
title: IOS Offices
type: projects
bg_img: "//s3.amazonaws.com/icalialabs/assets/img/IOS-offices/notes.jpeg"
client: IOS Offices
---

<div class="content-wrapper">
	<div class="case-study-block container">
		<span class="quote">
			“We need a solution to integrate all our services into one app. We need an app that help us bring new clients onboard, as well to our current clients to schedule an office directly from the app. Also that helps the prospects to become a member directly from the app itself.” <br>
			— Ianis Defendini
		</span>
	</div>
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">First Meeting</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				In our first meeting with Ianis, he quickly began telling us about the current state of their recently launched apps. IOS Offices has nothing to do with Apple’s iOS, they have multiple offices spaces around Mexico. How they already have built some solutions, and that they weren’t being used by their clients, either because they were incomplete, non-useful or just not known at all.
			</p>
			<p>
				We heard all of his current problems and how much complexity they were thinking to bring to what they thought was going to be “The key app to solve all their issues, and all clients would love”. We immediately told him that we didn’t think that was the right path to follow. Since the past solutions they had built, hadn’t worked.. They should actually figure out what clients wanted and needed. And, putting so much functionality into one app wasn’t the solution to make people want to use it.
			</p>
			<p>
				Also, the idea of jumping directly to an expensive development process without thinking in how much work it would take and not testing it or talking to users before building it, was a huge risk — specially with the recent non-successful tries.
			</p>
			<p>
				We suggested an app constellation. This with the goal of narrowing down app functionality, reducing complexity and increasing the chances of the users actually using the applications. In other words, finding the jobs to be done.
			</p>
			<p>
				We notice Ianis didn’t quite understood why we mention them, so we told him we should do a Design Sprint. We explained to him what it meant, and once he understood what we were saying, he was onboard with the idea. From there we started this 5 days adventure.
			</p>
		</div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Day 1 — Monday: Asking the right questions</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				To make the Design Sprint easier to the experts, we decided that it should take place at IOS Offices. At the begging of the session, the first thing we asked was: Why we were doing this Sprint? Ianis promptly answer that it was for us to define the unified app with all the functionality around the IOS environment (which is plenty).
			</p>
			<p>
				We started asking what they've done in the past to solve this problems. He showed us some applications as well as some websites that let you do A LOT of stuff. One of the apps even showed their monthly magazine. He later told us a lot of information and how the partners, most of the time, had no idea of the things that were going on at IOS. Then he told us that he wanted to create a better community with the events they organized and other activities they usually have.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/IOS-offices/window.jpeg)"></div>
		<div class="img-block half pull-left" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/IOS-offices/people.jpeg)"></div>
		<div class="img-block half" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/IOS-offices/notes.jpeg)"> </div>
	</div>

	<div class="case-study-block container">
		<div class="big-block center">
			<p>
				After a long session of questions and lots of back and forth, we had an idea of what the main issue of the company was and how things where being done, as well as some ideas of why they hadn’t worked. By that afternoon, we had a good handle on the company's goals, short and long term. As for the target market, we had clear that it was meant for the current partners. This enabled us to jump quickly into a deep productive conversation.
			</p>
			<p>
				That day we came up with the players and the actions that were currently happening on IOS when an anouncment was made and how the users got a notification of it. By the end of the day, we had decided to focus on all the communication going on IOS. We had clear that this could be a very specific or very wide subject, but it was the one that had to be treated.
			</p>
		</div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Day 2 — Tuesday: Talking to the experts</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				IOS experts being such busy people with a very saturated agenda, gave us a 30 min space by Tuesday morning. Fortunately we had the time to get prepare and make the most out of this 30 min gap. First we started by asking questions we had written down on Monday. This in order to try to figure out if we were on the right path. The profiles in the room were quite varied, from the CEO passing with the human resource people to the IT guys. Everyone seemed quite excited an with plenty ideas to share. So before we got deviated with more ideas we decided to show them our map and what we thought was the main issue going down on IOS. Fortunately, most of them seemed to agree with us.
			</p>
			<p>
				Once our 30 min where up (they actually stayed longer since they were hooked with what we had to say), we immediately move to the “Show and tell” part of the sprint. We started to make a quick research on how to make the communication more efficient, this in order to create a better community around IOS.
			</p>
			<p>
				With the map on the board, and the problem we were trying to solve quite clear, we started to investigate different solutions and seeking for similar products out there. After an hour or so had passed, we began with the “Lightning Demos” — three-minute demonstrations to share our findings (in all frankness we took a lot more than that!).
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/IOS-offices/trash.jpeg)"></div>
	</div>

	<div class="case-study-block container">
		<div class="big-block center">
			<p>
				After this, we each had an idea of how the app should look like, and so we began to put it down on paper. Each person created a detailed concept for how the UX could work. To be honest having done this again and again on each sprint, it doesn’t get any easier. But also, is quite fun doing it for each new idea you have to work with. By the end the results tend to be pretty good.
			</p>
			<p>
				For Wednesday, each person is supposed to have their own sketches, the idea is to make it anonymous (something quite impossible to do). After we are done with them, the team doesn’t look at them until Wednesday morning so we can start tearing them apart one by one and then put them together to build a Frankenstein out of the best ideas.
			</p>
		</div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Day 3 — Wednesday: Sketching for the user</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				Wednesday morning, the room of silence. Unlike the other days of the sprint on which we all talk and think out loud, Wednesday is quite different, at least for almost an hour. In total silence, each of the members starts to look at the others flows and try to understand them.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/IOS-offices/user-flow.jpeg)"></div>
		<div class="img-block half pull-left" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/IOS-offices/ianis-notes.jpeg)"></div>
		<div class="img-block half" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/IOS-offices/ianis-flow.jpeg)"> </div>
	</div>

	<div class="case-study-block container">
		<div class="big-block center">
			<p>
				 We criticized the ideas, and on each of the flows, we posted notes of what we didn’t understood or thought was missing. Later we worked on a “heat-map” by voting on the ones we thought were the best ideas. However, the Decision Maker (Ianis) has the final decision on which aspects of the sketches to use for the final version.
			</p>
			<p>
				Finally, after all the silent reviews, questioning, commenting, voting and joking (Ianis flow gave us a lot of good laughs), we decided what should be in the prototype.
			</p>
			<p>
				So, the time had come to build this beautiful Frankenstein. With this done, the sketching started. The window became our precious canvas, screen-by-screen, the flow started to take shape. By taking ideas from the various sketches around the room and applying them to a new, single concept the magic began. This, is the most important part of the Sprint. Why? well from this we can only pivot so far from the idea, due to the time left on the clock.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/IOS-offices/luigui-sketch.jpeg)"></div>
	</div>

	<div class="case-study-block container">
		<div class="big-block center">
			<p>
				By the end of the 3rd day, we knew exactly what we’re building. By the time we left the room, we had 5 complete flows, fully designed based on the business aspects we needed to test — and a FINAL design ready to be prototype. And as always, we think we nailed it!
			</p>
		</div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Day 4 — Thursday: Work work work work</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				We have less than 24 hours to build a non-functional prototype that the users love and understand or we fail.
			</p>
			<p>
				Today is one of the few days that allows us to have devices. With most of the decisions made, every one stays focused on their respective tasks.
			</p>
			<p>
				This is where the process proves why you need to stay focus during the past days. By the time we started working, we already had designed the prototype and we knew what had to be done.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/IOS-offices/prototype.png)"></div>
	</div>

	<div class="case-study-block container">
		<div class="big-block center">
			<p>
				One crucial part of the process that some fail to execute, are the interview questions. We need to set a way to learn the most out of the users in less than an hour not only from them (to set their profiles), but also to see what the product reflected on them.
			</p>
			<p>
				By the end of the day while seeing the prototype almost done, it enables the team to make final decisions to improve usability.
			</p>
			<p>
				As always thanks to the team, we were able to create a realistic prototype in record time using Sketch + Marvel.
			</p>
		</div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Day 5 — Friday: Where we right?</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				The time of truth. The last day is about the user validation. So, we did the cameras and audio arrangements for the users to be analyzed and questioned while we present them the prototype.
			</p>
			<p>
				We settled into two rooms, one on a private space where we recieved the users to talk to them and show them the prototype on a phone and do all the interviews and recordings. The other where the rest of the team will take notes and analyze more deeply all the answers.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/IOS-offices/friday.jpeg)"></div>
	</div>

	<div class="case-study-block container">
		<div class="big-block center">
			<p>
				Having the prototype being so realistic, users can easily understood what it was for, and give detailed feedback about things they liked and were confused about.
			</p>
			<p>
				So, while we started our interviewing session, we realized that the age range was way wider that we expected it to be. Lots of different profiles and plenty of variations regarding the likes and dislikes of each person. Nevertheless, people quickly get what the app was meant for and easily navigated through it.
			</p>
			<p>
				Some of our initial doubts were reaffirmed when we got the user reactions. They all wanted a closed platform with only current users, that allowed them easier communication. And also the idea of getting rid of the emails was a hit!
			</p>
			<p>
				Little feedback that required small changes on the app was given. And by the end of the day we had interviewed 6 different profiles and we were done! (mentally and physically).
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(//s3.amazonaws.com/icalialabs/assets/img/IOS-offices/partner.jpeg)"></div>
	</div>

	<div class="case-study-block container">
		<div class="big-block center">
			<p>
				With all the info gathered and all suggestions done, we knew the path taken and the implementation made had been, right on the spot.
			</p>
			<p>
				With the help of a process like a Design Sprint we were able to do this in just 5 days. Never forget that the steps to follow are a guideline. The execution of the members is extremely important for the final outcome. Also the chemistry and the relationship you develop over the curse of the week with the client and the team has a lot of weight on it as well.
			</p>
			<p>
				Like we said at the begging; “What you think you need is not always right”. Even when we decided not to do what the client asked for right at the start of our conversations, didn’t followed what they had in mind. The outcome was, according to the client, great and exactly what they needed to make their life easier at IOS Offices. They said that it would help them to create a tighter community, and get rid of the constant emails (which are currently blacklisted from some servers).
			</p>
		</div>
	</div>
</div>
