---
layout: project
title: Okudoc
type: projects
bg_img: "images/okudoc/okudoc.jpg"
client: Zumanis
---

<div class="content-wrapper">
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">The Challenge</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				Finding a Doctor isn't easy. Finding a Doctor you can trust is harder still. Okudoc, wanted to solve this particular challenge. How can we make the search for a Doctor easier? How can we help patients look and sort through Doctors and make the process of getting an appointment easy?
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(images/okudoc/okudoc-process.jpg)"></div>
		<div class="img-block half pull-left" style="background-image: url(images/okudoc/okudoc-imagotype.jpg)"></div>
		<div class="img-block half" style="background-image: url(images/okudoc/okudoc-type.jpg)"></div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Branding</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				In the process of re-branding this product, we took a deep dive to find out the who is the health-decision-maker in the family, and how we could communicate the right message to them with the product's new branding. In our research we found that mostly Moms are the ones who make most of the health decisions of their households.
			</p>

			<p>
				Okudoc's branding is a direct reflection of our market research. We used purple in order to engage with Moms, gain their trust, and ultimately make one of the thousand things they do easier.
			</p>
			<p>
				At the same time, the OkuDoc logo represents the union and strength of the stakeholders involved as we tried to represent the platform Okudoc, Moms as end-users, and Doctors as the value creators of the platform, also connecting them in a way that seems to evoke a social media sharing icon.</p>
			<p>
				Finally, we created a new typography in order to create a distinctive touch when being compared with other solutions.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(images/okudoc/logo.jpg)"></div>
		<div class="img-block half pull-left" style="background-image: url(images/okudoc/okudoc-icons.png)"></div>
		<div class="img-block half" style="background-image: url(images/okudoc/okudoc-work.jpg)"></div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">UI/UX</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				 Our intent with Okudoc, was to clearly showcase what the product is for given our target market hasn't a spare minute to spend. With the user in mind and heavy use of white space we focus the users' atention to the main feature of the app: to quickly find a Doctor for any need.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(images/okudoc/okudoc-landing.png)"></div>
	</div>
</div>
