---
layout: project
title: Okudoc
type: projects
bg_img: "https://s3.amazonaws.com/icalia/assets/img/okudoc.jpg"
subtitle: 
---

<div class="content-wrapper">
	<div class="services">
		<h2>Services</h2>
		<h4>Branding and Content Strategy</h4>
		<h4>UI/UX Design</h4>
		<h4>Front/Back-end Development</h4>
	</div>
	<h2>Okudoc and the Challenge</h2>
	<p>
		In a world where finding a doctor that meets your needs is a real struggle, Okudoc comes as a solution for all that people who don’t know where to look for it. With not just a catalog of doctors, Okudoc contains people’s input of how good the doctor is.  
	<h2>
		What we did
	</h2>
	<p>
		We notice that most people needed some kind of input, to make the task of picking a doctor a lot easier. Thats is why we created “Okudoc”. Okudoc lets people choose from top doctors from around them, and filter the results easily, to find the perfect fit for them. With Okudoc not only will the price be the only way to find your doctor, if they have assurance affiliation, how close they are to your location, or as simple as their gender to make you feel more comfortable at the moment of your checkup. 
	</p>
	<p>
		After you had the appointment with you doctor, the patient gives a comment about the doctor so that more references can be added to his profile.
	</p>

	<div class="branding">
		<div class="img-container">
			<img src="images/okudoc/okudoc-logo.png">
		</div>
		<div class="colors okudoc-colors">
			<h3>Colors</h3>
			<div class="color">
				<div class="color-hex">
					<div class="vertical-align">
						<span>Dark Purple</span>
						<span>#71399E</span>
					</div>
				</div>
			</div>
			<div class="color">
				<div class="color-hex">
					<div class="vertical-align">
						<span>Pastel Purple</span>
						<span>#B975D8</span>
					</div>
				</div>
			</div>
			<div class="color">
				<div class="color-hex">
					<div class="vertical-align">
						<span>Bistre</span>
						<span>#FEFBFF</span>
					</div>
				</div>
			</div>
			<div class="color">
				<div class="color-hex">
					<div class="vertical-align">
						<span>White</span>
						<span>#ffffff</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<p>
		In the process of creating the correct branding for this product, we had to deeply think who is the one that cares the most for the health in general aspects. After a lot of research, we came to find that it was the woman in the family who cares most about everyone's health. We created a female oriented app, but we took into mind that not only women would be the ones using it. We ended up with a very colorful but simple design.
	</p>
	<div>
		<h2>Web Design</h2>
		<p>
			
		</p>
	</div>
</div>

