---
layout: project
title: Okudoc
type: projects
bg_img: "https://s3.amazonaws.com/icalia/assets/img/okudoc.jpg"
subtitle: 
---

<div class="content-wrapper">
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">The Challenge</h5>	
		</div>
		<div class="pull-right big-block">
			<p>
				In a world where finding a doctor that meets your needs is a real struggle, Okudoc comes as a solution for all that people who don’t know where to look for it. With not just a catalog of doctors, Okudoc contains people’s input of how good the doctor is.  
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(/images/okudoc/okudoc-process.jpg)"></div>
		<div class="img-block half pull-left" style="background-image: url(/images/okudoc/okudoc-imagotype.jpg)"></div>
		<div class="img-block half" style="background-image: url(/images/okudoc/okudoc-type.jpg)"></div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">What we did</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				We notice that most people needed some kind of input, to make the task of picking a doctor a lot easier. Thats is why we created “Okudoc”. Okudoc lets people choose from top doctors from around them, and filter the results easily, to find the perfect fit for them. With Okudoc not only will the price be the only way to find your doctor, if they have assurance affiliation, how close they are to your location, or as simple as their gender to make you feel more comfortable at the moment of your checkup. 
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(/images/okudoc/logo.jpg)"></div>
		<div class="img-block half pull-left" style="background-image: url(/images/cochi/proposal.jpg)"></div>
		<div class="img-block half" style="background-image: url(/images/cochi/work.jpg)"></div>
	</div>

	<div class="case-study-block container">
		<p>
			After you had the appointment with you doctor, the patient gives a comment about the doctor so that more references can be added to his profile.
		</p>	

		<p>
			In the process of creating the correct branding for this product, we had to deeply think who is the one that cares the most for the health in general aspects. After a lot of research, we came to find that it was the woman in the family who cares most about everyone's health. We created a female oriented app, but we took into mind that not only women would be the ones using it. We ended up with a very colorful but simple design.
		</p>
		<div class="case-study-block container">
			<div class="pull-left small-block">
				<h5 class="case-study-title">Web Design</h5>
			</div>
			<div class="pull-right big-block">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium fugiat enim ab velit omnis, neque ducimus quo quisquam! Maxime iste minus, saepe delectus, consequatur dolor quas. Veritatis eveniet, numquam dolorem.
				</p>
			</div>
		</div>
</div>