---
layout: project
title: Printoo
type: projects
bg_img: "https://s3.amazonaws.com/icalia/assets/img/printoo.jpg"
subtitle: Smile it's free.
---

<div class="content-wrapper">
	<div class="services">
		<h2>Services</h2>
		<h4>Branding and Content Strategy</h4>
		<h4>UI/UX Design</h4>
		<h4>Front/Back-end Development</h4>
	</div>
	<h2>Printoo and the Challenge</h2>
	<p>
		Facing a market well saturated with photography-based applications that all include features such as filter-based photo editing, Printoo needed to be a standout interface in a world of photo management and editing. Taking cues from the old days of processing printed photos, Printoo wanted to bring back the nostalgia and possibility of once again enjoying holding your photos.
	</p>
	
	<h2>
		What we did
	</h2>
	<p>
		We needed to communicate the brand and concept in a fun and vibrant way, while offering a simple way to make complex decisions such as photo cropping and selection as to account for a quick process and error-free flow to a confirmed printing job. The branding was key in that it the target audience was a ride range from the young to the old, of all sorts of device users.
	</p>

	<div class="branding">
		<div class="img-container">
			<img src="images/printoo/printoo-logo.png">
			<img src="images/printoo/printoo-icon.png" class="box-shadow">
		</div>
		<div class="colors printoo-colors">
			<h3>Colors</h3>
			<div class="color">
				<div class="color-hex">
					<div class="vertical-align">
						<span>Printoo</span>
						<span>#43C0CC</span>
					</div>
				</div>
			</div>
			<div class="color">
				<div class="color-hex">
					<div class="vertical-align">
						<span>Orange</span>
						<span>#FC6624</span>
					</div>
				</div>
			</div>
			<div class="color">
				<div class="color-hex">
					<div class="vertical-align">
						<span>Gray</span>
						<span>#F5F5F5</span>
					</div>
				</div>
			</div>
			<div class="color">
				<div class="color-hex">
					<div class="vertical-align">
						<span>Dark Printoo</span>
						<span>#497482</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<p>
		Users are able to make a selection of their favorite photos from their camera libraries, have the option of adding filters and cropping selections, and sending them off for printing! The service is free for a select amount of photos per month and photos arrive shortly thereafter directly to a users mailbox.
	</p>	
	<div class="printoo-tutorial">
		<img src="images/printoo/1.png">
		<img src="images/printoo/2.png">
		<img src="images/printoo/3.png">
		<img src="images/printoo/4.png">
	</div>
	<p>
		Taking a good deal of research and our expertise with photo management and editing interfaces, we focused on simplicity in order to maintain focus on the photos.  We allowed ample space for the photos in the interface so they could be easily and quickly selected with just a few taps.  Utilizing an oversized grid system, we took advantage of the entire device screen, edge to edge in organizing the photo library so photos were easily read without the need for a full-screen view.  
	</p>
	<p>
		The messaging was clear and effective in communicating how the process was to work, both the timeframe and turnaround time for photo publishing.  We made sure to create a brand that was modern and youthful, we kept the color palette that was playful yet still fresh.  The end result is a product that is inviting for all types of users to have fun bringing their photos to life.
	</p>
	<div class="relative printoo-screens hidden-on-xsmall">
		<img src="images/printoo/printoo-splash.png">
		<img src="images/printoo/printoo-success.png">
		<img src="images/printoo/printoo-crop.png">
		<img src="images/printoo/printoo-photos.png">
		<img src="images/printoo/printoo-packages.png">
		<img src="images/printoo/printoo-checkout.png">
	</div>
</div>

