---
layout: application
title: Process
type: process
---
<section class="section-header">
  <div class="vertical-align">
    <h4 class="section-title">Our Process</h4>
    <h2 class="section-tag red">The Icalier Way.</h2>
    <p class="section-description">We combine practices from <span class="red">Lean</span> and <span class="red">Agile</span> methodologies <br> to ship high quality products on time.</p>
  </div>
</section>

<div class="process-scroller" id="process-scroller">
  <nav class="hidden-on-xsmall hidden-on-small">
    <a href="#understanding" class="scroller-current"></a>
    <a href="#definition"></a>
    <a href="#design"></a>
    <a href="#build"></a>
    <a href="#measure"></a>
  </nav>
  <section class="step" id="understanding">
    <div class="container step-info" >
      <span class="step-number">1</span>
      <h3 class="step-title">Understanding.</h3>
      <p class="step-description">As we set out to build your product, it helps if we create an action plan. This will give us chance to think through all the logistics or your project and set the stage for the work ahead.</p>
      <br>
      <p class="step-description">In addition, we will validate our understanding of what you want to build, what problem your product addresses, and how you think your product will solve it. </p>
    </div>
  </section>
  <section class="step" id="definition">
    <div class="container step-info" >
      <span class="step-number">2</span>
      <h3 class="step-title">Definition.</h3>
      <p class="step-description">With a plan in place. We will work with you to clearly define the scope of the project, what functionality can we tackle on the allotted time and budget? What's the fastest way for us to build something you can start testing in the field? What features are most important to your users?  </p>
    </div>
  </section>
  <section class="step" id="design">
    <div class="container step-info" >
      <span class="step-number">3</span>
      <h3 class="step-title">Design.</h3>
      <p class="step-description">With a well crafted plan and defined project scope. Our goal in this stage will be to give you as many non-functional protoypes so you can start validating your ideas. This is a very fast and dirty way to ensure that the product is correctly addressing your user's needs.</p>
      <br>
      <p class="step-description">Additionally, in the design stage we will ensure the product intuitively solves the user's problems while making sure that the product delights in every touch point.  </p>
    </div>
  </section>
  <section class="step" id="build">
    <div class="container step-info" >
      <span class="step-number">4</span>
      <h3 class="step-title">Build.</h3>
      <p class="step-description">Finally, after validating that that what we scoped and designed will be something your customers love, we will begin with coding the final product. </p>

      <p class="step-description">We'll divide the product in smaller increments of functionality, that we will tackle on weekly Sprints. Therefore, sprint by sprint, you will rapidly see your product coming to life. </p>

    </div>
  </section>
  <section class="step" id="measure">
    <div class="container step-info" >
      <span class="step-number">5</span>
      <h3 class="step-title">Launch.</h3>
      <p class="step-description">Congratulations! After all the hard work, your product is ready for the wild.</p>
      <p class="step-description">But don't worry, we know that there's always room for improvement, so we can continue iterating and scaling your product or platform.</p>
    </div>
  </section>
</div>
<section class="contact-section">
  <h4 class="section-title text-center">Have an idea?</h4>
  <h2 class="contact-section-title">Let's get stuff done!</h2>
  <div class="call-buttons-group red">
    <a href="https://graf2.typeform.com/to/VEd4e1" class="left">Get a quote</a>
    <i class="sep"></i>
    <a href="projects" class="right">View our work</a>
  </div>
</section>
