---
layout: application
title: Software Engineer
type: job
---
<section class="section-header middle" style="background-image: url('images/devs-job.jpg');">
  <div class="culture-info vertical-align">
    <h2 class="animated fadeInUp light">Software Engineer</h2>
  </div>
</section>

<section class="requirements">
  <div class="container">
    <div class="row clearfix">
      <div class="col-6">
        <strong>Requirements:</strong>
        <ul>
          <li>Bachelor in Computer Science or equivalent</li>
          <li>Extensive knowledge in Object Oriented Programming</li>
          <li>2+ years of Ruby experience</li>
          <li>1+ years of Ruby on Rails experience</li>
          <li>Relational database knowledge</li>
          <li>1+ years of Javascript experience</li>
          <li>Basic HTML and CSS</li>
          <li>Version controller use for personal projects</li>
        </ul>
      </div>
        <div class="col-6">
          <strong>Nice to have:</strong>
          <ul>
            <li>Git knowledge</li>
            <li>Experience related to electronic transactions</li>
            <li>Test driven development experience, ideally Rspec</li>
            <li>Postgresql experience</li>
            <li>Experience with jQuery</li>
            <li>Experience with front end preprocessors like Haml or Sass</li>
          </ul>
        </div>
    </div>
    <br />
    <div class="row clearfix">
      <strong>Send please to <a href="mailto:weare@icalialabs.com">weare@icalialabs.com</a>:</strong>
      <ul>
          <li>Github</li>
          <li>Cover Letter</li>
          <li>Resume</li>
      </ul>
    </div>

  </div>
</section>