---
layout: application
title: Software Engineer
type: job
---
<section class="section-header middle" style="background-image: url('//s3.amazonaws.com/icalia/assets/img/devs-job.jpg');">
  <div class="culture-info vertical-align">
    <h2 class="animated fadeInUp light">Software Engineer</h2>
  </div>
</section>

<section class="requirements">
  <div class="container">
    <div class="row clearfix">
      <div class="col-6">
        <strong>Responsabilities:</strong>
        <ul>
          <li>Code execution based on Test-Driven Development</li>
          <li>Design and development of multiplatform software</li>
          <li>Integration of components and libraries within deployed and operational products </li>
          <li>Documentation and maintenance of production software platforms </li>
          <li>Deployment of software on production environments with code (Infrastructure as code)</li>
          <li>Apego a mejores prácticas y estándares de desarrollo de software ágil </li>
          <li>Responsibility on best standards and practices for agile software development</li>
          <li>Contribución y colaboración en herramientas de uso interno, así como de open source </li>
          <li>Contribution and collaboration on internal tools, as well in open source </li>
        </ul>
        <br>
        <strong>Requirements:</strong>
        <ul>
          <li>Bachelor in Computer Science or equivalent</li>
          <li>Extensive knowledge in Object Oriented Programming</li>
          <li>2+ years using high-level programming languages</li>
          <li>1+ years using web development frameworks</li>
          <li>Relational database knowledge</li>
          <li>Basic HTML and CSS</li>
          <li>Knowledge implementing projects with the MVP achitecture</li>
          <li>Version controller knowledge for personal or collaborative projects</li>
        </ul>
      </div>
        <div class="col-6">
          <strong>Nice to have:</strong>
          <ul>
            <li>Git knowledge</li>
            <li>Test driven development experience, ideally Rspec</li>
            <li>Postgresql experience</li>
            <li>Experience with jQuery</li>
            <li>Previous usage of precompilers such as Sass, Less, among others</li>
            <li>Implemented frameworks for agile prototyping such as Furatto, Bootstrap or Foundation</li>
            <li>Collaborated on an open source initiative</li>
          </ul>
        </div>
    </div>
    <br />
    <div class="row clearfix">
      <strong>Send please to <a href="mailto:weare@icalialabs.com">weare@icalialabs.com</a>:</strong>
      <ul>
          <li>Github Profile</li>
          <li>Personal Website</li>
          <li>Resume</li>
      </ul>
    </div>

  </div>
</section>
