---
layout: application
title: Startups
---
<section class="section-header">
  <div class="vertical-align">
    <h4 class="section-title">Startups</h4>
    <h1 class="section-tag">We make things that impact people.</h1>
    <p class="section-description">Product development and design firm focused on consumer <span class="red">software</span> products.</p>
  </div>
</section>