---
layout: application-light
title: Startups
type: startups
---

<section class="section-header">
	<div class="vertical-align">
		<%= partial "shared/startups-svg" %>
		<div class="startup-icon">
			<%= image_tag "//s3.amazonaws.com/icalialabs/assets/img/startups.svg", class: "animated fadeIn"%>
		</div>
	</div>
</section>
<section class="text-header">
	<h1 class="section-tag red">
We code. You execute.</h1>
	<div class="section-description">
		<h6 class="letter-spacing red">Get from idea to a working product faster.</h6>
		<div class="section-description">
			<p>
				It's no secret startups are hard. Believe us, we have the battle scars that prove it.
			</p>
			<p>
				To ensure your ideas are properly nurtured, allow us to guide you to take the right steps at the nascent stages of your company. These are the most important decisions you will make and having us as a partner will ensure your success.
			</p>
		</div>
	</div>
</section>
<section class="steps-block">
	<div class="row container steps-block__item clearfix">
		<div class="col-8 vertical-align">
			<div class="circle text-center">
	  		<h2 class="red vertical-align">1.</h2>
	  	</div>
	    <h1 class="steps-block__title">Idea Stage</h1>
		</div>
		<div class="col-4 vertical-align">
			<ul class="step-elements pull-right">
				<li>Find a problem.</li>
				<li>Validate your solution.</li>
	    	<li>Do the things that don't scale.</li>
				<li>Define your MVP.</li>
	    </ul>
		</div>
  </div>

  <div class="row container steps-block__item clearfix">
		<div class="col-8 vertical-align">
			<div class="circle text-center">
	  		<h2 class="red vertical-align">2.</h2>
	  	</div>
	    <h1 class="steps-block__title">Build. Measure. Learn</h1>
		</div>
		<div class="col-4 vertical-align">
			<ul class="step-elements pull-right">
				<li>Build your MVP.</li>
				<li>Talk to users.</li>
	    	<li>Learn how to make your product better.</li>
	    </ul>
		</div>
  </div>

  <div class="row container steps-block__item clearfix">
		<div class="col-8 vertical-align">
			<div class="circle text-center">
	  		<h2 class="red vertical-align">3.</h2>
	  	</div>
	    <h1 class="steps-block__title">Product/market fit</h1>
		</div>
		<div class="col-4 vertical-align">
			<ul class="step-elements pull-right">
				<li>Find your AHA moment.</li>
				<li>Focus on growth.</li>
	    </ul>
		</div>
  </div>

  <div class="row container steps-block__item clearfix">
		<div class="col-8 vertical-align">
			<div class="circle text-center">
	  		<h2 class="red vertical-align">4.</h2>
	  	</div>
	    <h1 class="steps-block__title">Scale</h1>
		</div>
		<div class="col-4 vertical-align">
			<ul class="step-elements pull-right">
				<li>Execute. Execute. Execute.</li>
				<li>Build a high performing machine that idiots can run.</li>
	    </ul>
		</div>
  </div>
</section>

<section class="startup-work">
	<div class="text-center">
		<h6 class="letter-spacing red">OUR CLIENTS</h6>
		<p>Learn more about our work with startups</p>
	</div>
	<div class="startup-work-container">
		<span class="startup-button pull-right">MVP</span>
		<img src="//s3.amazonaws.com/icalialabs/assets/img/img-icon.png" alt="">
		<h2 class="project-description">
			We created a vibrant app that stands out from other photography-based apps.
		</h2>
		<h6 class="project-name letter-spacing">PRINTOO</h6>
	</div>
	<a href="projects" class="text-center view-more">View more projects <img src="//s3.amazonaws.com/icalialabs/assets/img/more-icon.png" alt=""></a>
</section>

<section class="work-together">
	<h6 class="text-center letter-spacing red clearfix">Work with us</h6>
	<h1 class="text-center">Let's make something great together.</h1>
	<div class="call-buttons-group red text-center">
		<a href="https://graf2.typeform.com/to/VEd4e1"><h6 class="letter-spacing">Get a quote</h6></a>
	</div>
</section>
