---
layout: application
title: Startups
---
<section class="section-header">
	<div class="vertical-align">
		<h4 class="section-title">Startups</h4>
	</div>
</section>
<section class="text-header">
	<h1 class="section-tag red">
		Having the right technology partner is a game changer.
	</h1>
	<div class="section-description">
		<h6 class="letter-spacing red">SERVICES</h6>
		<p class="pull-left medium red">
			If you are looking to get your Startup to the next level, we can help you accelerate your business and reduce costs through the following services:
		</p>
		<div class="pull-right small red">
			<p>Minimum Viable Product (MVP)</p>
			<p>Team Augmentation</p>
		</div>
	</div>
	<div class="text-center">
		<h6 class="letter-spacing red">OUR CLIENTS</h6>
		<p>Learn more about our work with startups</p>
	</div>
</section>
<section class="startup-work">
	<div class="startup-work-container">
		<h2 class="project-description">
			We created a vibrant app that stands out from other photography- based apps.
		</h2>
		<h6 class="project-name letter-spacing">PRINTOO</h6>
	</div>
	<p class="text-center">View more projects</p>
</section>
<section class="case-study">
	<div class="pull-left">
		<h5 class="letter-spacing red">02</h5>
		<h6 class="vertical-text letter-spacing red">QUOTES</h6>
	</div>
	<h6 class="text-center letter-spacing red clearfix">WE TOGETHER</h6>
	<h1 class="text-center">We can make something great take the first step</h1>
	<a href=""><h6 class="text-center letter-spacing red">SEE CASE STUDY</h6></a>
	<div class="border"></div>
</section>