---
layout: application
title: Startups
type: startups
---

<% content_for :javascripts do %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
  <script src="javascripts/magicscroll.js"></script>
<% end %>

<section class="section-header">
	<div class="vertical-align">
		<%= partial "shared/startups-svg" %>
		<div class="startup-icon">
			<%= partial "shared/startups-icon" %>
		</div>
	</div>
</section>
<section class="text-header">
	<h1 class="section-tag red">
		Having the right technology partner is a game changer.
	</h1>
	<div class="section-description">
		<h6 class="letter-spacing red">SERVICES</h6>
		<p class="pull-left medium red">
			If you are looking to get your Startup to the next level, we can help you accelerate your business and reduce costs through the following services:
		</p>
		<div class="pull-right small red">
			<p>Minimum Viable Product (MVP)</p>
			<p>Team Augmentation</p>
		</div>
	</div>
</section>
<div id="pinContainer" class="pinContainer">
  <div id="enterpriseSlideContainer" class="enterpriseSlideContainer">
     <div class="slide one">
    	<div class="pull-left circle text-center">
    		<h2 class="red vertical-align">1.</h2>
    	</div>
      <h1 class="vertical-align slide-text">Setup for success.</h1>
      <div class="pull-right">
      	<p class="slide-text">Design your digital transformation map. </p>
      	<p class="slide-text">Organize for agility and speed.</p>
				<p class="slide-text">Adopt next generation technology.</p>
      </div>
    </div>
    <div class="slide two">
      <div class="pull-left circle text-center">
    		<h2 class="red vertical-align">2.</h2>
    	</div>
      <h1 class="vertical-align slide-text">Connect with your customers.</h1>
      <div class="pull-right">
      	<p class="slide-text">Align Marketing with Sales. </p>
      	<p class="slide-text">Differentiate your experience.</p>
				<p class="slide-text">Acquire customers effectively.</p>
      </div>
    </div>
    <div class="slide three">
      <div class="pull-left circle text-center">
    		<h2 class="red vertical-align">3.</h2>
    	</div>
      <h1 class="vertical-align slide-text">Optimize your operations.</h1>
      <div class="pull-right">
      	<p class="slide-text">Automate the value chain.</p>
      	<p class="slide-text">Leverage advanced analytics, to continuously <br> improve your operations.</p>
      </div>
    </div>
    <div class="slide four">
      <div class="pull-left circle text-center">
    		<h2 class="red vertical-align">4.</h2>
    	</div>
      <h1 class="vertical-align slide-text">Empower your employees.</h1>
      <div class="pull-right">
      	<p class="slide-text">Flatten your organization.</p>
      	<p class="slide-text">Enable your employees to make <br> more with less.</p>
      </div>
    </div>
  </div>
</div>

<section class="startup-work">
	<div class="text-center">
		<h6 class="letter-spacing red">OUR CLIENTS</h6>
		<p>Learn more about our work with startups</p>
	</div>
	<div class="startup-work-container">
		<span class="startup-button pull-right">MVP</span>
		<img src="images/img-icon.png" alt="">
		<h2 class="project-description">
			We created a vibrant app that stands out from other photography-based apps.
		</h2>
		<h6 class="project-name letter-spacing">PRINTOO</h6>
	</div>
	<a href="projects.html" class="text-center view-more">View more projects <img src="images/more-icon.png" alt=""></a>
</section>
<section class="work-together">
	<h6 class="text-center letter-spacing red clearfix">WE TOGETHER</h6>
	<h1 class="text-center">We can make something great take the first step</h1>
	<div class="call-buttons-group red text-center">
		<a href="https://graf2.typeform.com/to/VEd4e1"><h6 class="letter-spacing">Get a quote</h6></a>
	</div>
</section>
