---
layout: application
title: Startups
type: startups
---

<% content_for :javascripts do %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
  <script src="javascripts/magicscroll.js"></script>
<% end %>

<section class="section-header">
	<div class="vertical-align">
		<%= partial "shared/startups-svg" %>
		<div class="startup-icon">
			<%= image_tag "starturps.svg", class: "animated fadeIn"%>
		</div>
	</div>
</section>
<section class="text-header">
	<h1 class="section-tag red">
We code. You execute.</h1>
	<div class="section-description">
		<h6 class="letter-spacing red">Get from idea to a working product faster.</h6>
		<div class="section-description">
			<p class="red">
				It's no secret starups are hard. Believe us, we have the battle scars that prove it.
			</p>
			<p class="red">
				To ensure your ideas are properly nurtured, allow us to guide you to take the right steps at the nascent stages of your company. These are the most important decisions you will make and having us as a partner will ensure your success.
			</p>
		</div>
	</div>
</section>
<div id="pinContainer" class="pinContainer">
  <div id="enterpriseSlideContainer" class="enterpriseSlideContainer">
     <div class="slide one">
    	<div class="pull-left circle text-center">
    		<h2 class="red vertical-align">1.</h2>
    	</div>
      <h1 class="vertical-align slide-text">Idea Stage.</h1>
      <div class="pull-right">
				<p class="slide-text">Find a problem. </p>
				<p class="slide-text">Validate your solution. </p>
      	<p class="slide-text">Do the things that don't scale.</p>
				<p class="slide-text">Define your MVP.</p>
      </div>
    </div>
    <div class="slide two">
      <div class="pull-left circle text-center">
    		<h2 class="red vertical-align">2.</h2>
    	</div>
      <h1 class="vertical-align slide-text">Build. Measure. Learn.</h1>
      <div class="pull-right">
      	<p class="slide-text">Build your MVP. </p>
      	<p class="slide-text">Talk to users.</p>
				<p class="slide-text">Learn how to make your product better.</p>
      </div>
    </div>
    <div class="slide three">
      <div class="pull-left circle text-center">
    		<h2 class="red vertical-align">3.</h2>
    	</div>
      <h1 class="vertical-align slide-text">Product/market fit.</h1>
      <div class="pull-right">
      	<p class="slide-text">Find your AHA moment.</p>
      	<p class="slide-text">Focus on growth.</p>
      </div>
    </div>
		<div class="slide four">
			<div class="pull-left circle text-center">
				<h2 class="red vertical-align">4.</h2>
			</div>
			<h1 class="vertical-align slide-text">Scale.</h1>
			<div class="pull-right">
				<p class="slide-text">Execute. Execute. Execute.</p>
				<p class="slide-text">Build a high performing machine that idiots can run.</p>
			</div>
		</div>
  </div>
</div>

<section class="startup-work">
	<div class="text-center">
		<h6 class="letter-spacing red">OUR CLIENTS</h6>
		<p>Learn more about our work with startups</p>
	</div>
	<div class="startup-work-container">
		<span class="startup-button pull-right">MVP</span>
		<img src="images/img-icon.png" alt="">
		<h2 class="project-description">
			We created a vibrant app that stands out from other photography-based apps.
		</h2>
		<h6 class="project-name letter-spacing">PRINTOO</h6>
	</div>
	<a href="projects" class="text-center view-more">View more projects <img src="images/more-icon.png" alt=""></a>
</section>

<section class="work-together">
	<h6 class="text-center letter-spacing red clearfix">Work with us</h6>
	<h1 class="text-center">Let's make something together.</h1>
	<div class="call-buttons-group red text-center">
		<a href="https://graf2.typeform.com/to/VEd4e1"><h6 class="letter-spacing">Get a quote</h6></a>
	</div>
</section>
