---
layout: project
title: Tap to fund
type: projects
bg_img: "images/taptofund/taptofund.jpg"
client: Stephen Lampert
---

<div class="content-wrapper">
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">The Challenge</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				There are infinite of ways that people can choose to donate money to charities or other organizations. It can be done through a website, through snail-mail, in person, with a credit card, check, cash, etc… And if someone wishes to make this donations something recurring and to several causes, it becomes much more complex and hard to keep a track of.
			</p>
		</div>
	</div>

	<div class="case-study-block container">
		<span class="quote">
			We came with a few simple proposals with one concept in mind “one simple touch”
		</span>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(images/taptofund/process.jpg)"></div>
		<div class="img-block half pull-left" style="background-image: url(images/taptofund/work.jpg)"></div>
		<div class="img-block half" style="background-image: url(images/taptofund/icon-color.jpg)"></div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Our Solution</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				Tap to Fund fixes this problem by providing a single place, on your mobile phone, where you can discover, search, find and donate to charities with just a few taps on your phone. Users can add a credit card and easily manage their donations on a monthly or one-time-basis, greatly simplifying the process of giving back to the world.
			</p>
		</div>
	</div>
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Branding</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				While naming this product, we seeked to clearly articulate the essence of the product. Luckily our client also agrees that "Tap to Fund" delivers the value proposition for both charities and funders alike.
			</p>
			<p>
				In addition, to a simple name we also had the challenge to create an icon that would also transmit the app's purpose. Keeping with the theme of contributing with "one simple touch", we studied what keeps you in touch with your digital world, your digits.
			</p>
			<p>
				Nowdays you control most of your digital products with your fingers. Your fingerprints is what uniquely identifies you! Playing with that concept we arrived at the solution to allow users to use the inherent power of their finger tips in order to fund the charity of their choice.
			</p>

		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(images/taptofund/logo.jpg)"></div>
		<div class="img-block" style="background-image: url(images/taptofund/bg.jpg)"></div>
	</div>
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">UI/UX</h5>
		</div>
		<div class="pull-right big-block">
			<p>

			</p>
			<p>
				Finally, we turned all of our focus onto making the process of making a donation as fast, simple, and painless as possible with just a few taps. A task better said than done. We believe however, our team was up to the challenge and in the end delivered a beautiful fast and simple way to bring philantropy to the 21st century.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block half pull-left" style="background-image: url(images/taptofund/tap-iphone.png)"></div>
		<div class="img-block half" style="background-image: url(images/taptofund/person.jpg)"></div>
	</div>

</div>
