---
layout: project
title: Tap to fund
type: projects
bg_img: "https://s3.amazonaws.com/icalia/assets/img/taptofund.png"
---

<div class="content-wrapper">
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">The Challenge</h5>	
		</div>
		<div class="pull-right big-block">
			<p>
				There are infinite of ways that people can choose to donate money to charities or institutions. It can be done through a website, through snail-mail, in person, with a credit card, check, cash, etc… And if someone wishes to make this donations something recurring and to several causes, it becomes much more complex and hard to keep a track of.
			</p>
		</div>
	</div>

	<div class="case-study-block container">
		<span class="quote">
			We came with a few simple proposals with one concept in mind “one simple touch”
		</span>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(/images/taptofund/process.jpg)"></div>
		<div class="img-block half pull-left" style="background-image: url(/images/taptofund/icon.jpg)"></div>
		<div class="img-block half" style="background-image: url(/images/taptofund/icon-color.jpg)"></div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">What we did</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				Tap to Fund fixes this problem by providing a single place, on your mobile phone, where you can discover and search for charities or institutions and do the whole process with the simplicity of a few clicks. Users will see a smart feed with charities of their interest or geographically close to them. They can also search for a specific charity by name or type. Users can use a credit card to donate automatically and monthly to all of the organizations of their choosing. Greatly simplifying the process of giving back to the world, even if it’s just a couple of dollars a month.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(/images/taptofund/bg.jpg)"></div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Branding</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				For this amazing project we wanted something really simple and powerful. We found a lot of ways to represent “money” “donation” and the most important one “touch” step that is the most import part of the app. We came with a few simple proposals with one concept in mind “one simple touch”.
			</p>
			<p>
				At the end we got an simple but very complex (both at the same time) proposal where you can find a shape of a fingerprint + a finger touching the screen.
			</p>
		</div>
	</div>