---
layout: project
title: Tap to fund
type: projects
bg_img: "https://s3.amazonaws.com/icalia/assets/img/taptofund.jpg"
client: Stephen Lampert
---

<div class="content-wrapper">
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">The Challenge</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				There are infinite of ways that people can choose to donate money to charities or institutions. It can be done through a website, through snail-mail, in person, with a credit card, check, cash, etc… And if someone wishes to make this donations something recurring and to several causes, it becomes much more complex and hard to keep a track of.
			</p>
		</div>
	</div>

	<div class="case-study-block container">
		<span class="quote">
			We came with a few simple proposals with one concept in mind “one simple touch”
		</span>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(https://s3.amazonaws.com/icalia/assets/img/taptofund/process.jpg)"></div>
		<div class="img-block half pull-left" style="background-image: url(https://s3.amazonaws.com/icalia/assets/img/taptofund/work.jpg)"></div>
		<div class="img-block half" style="background-image: url(https://s3.amazonaws.com/icalia/assets/img/taptofund/icon-color.jpg)"></div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Our Solution</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				Tap to Fund fixes this problem by providing a single place, on your mobile phone, where you can discover and search for charities or institutions and do the whole process with the simplicity of a few clicks. Users will see a smart feed with charities of their interest or geographically close to them. They can also search for a specific charity by name or type. Users can use a credit card to donate automatically and monthly to all of the organizations of their choosing. Greatly simplifying the process of giving back to the world, even if it’s just a couple of dollars a month.
			</p>
		</div>
	</div>

	<div class="case-study-block">
		<div class="img-block" style="background-image: url(https://s3.amazonaws.com/icalia/assets/img/taptofund/logo.jpg)"></div>
		<div class="img-block" style="background-image: url(https://s3.amazonaws.com/icalia/assets/img/taptofund/bg.jpg)"></div>
	</div>

	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Branding</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				Luckily for us, for this project, we took part on naming it. So once we started working on the brand, we seeked to represent the essence of the product; “Tap to Fund”. We wanted to set really clearly that it was as easy and quick as tapping your screen to help out the organizations of your choosing.
			</p>
			<p>
				This was the starting point for the final outcome. On one hand, we found a lot of ways to represent “money” “donation” and the most important one “touch” step that is the most import part of the app. On the other hand we didn’t wanted to make it about the money but more about the action you were doing as a user. We came with a few simple proposals with one concept in mind: “one simple touch”.
			</p>
			<p>
				At the end we got a simple but at the same time a very complex proposal. An icon that represents many things at the same time. A fingertip, which is that is the main trigger now on day to control all devices, and to access all information. As well a fingerprint give the sense of the individuality. Making YOUR fingerprint the one making the difference in the cause of YOUR pick.
			</p>
		</div>
	</div>
	<div class="case-study-block">
		<div class="img-block half pull-left" style="background-image: url(https://s3.amazonaws.com/icalia/assets/img/taptofund/tap-iphone.png)"></div>
		<div class="img-block half" style="background-image: url(https://s3.amazonaws.com/icalia/assets/img/taptofund/person.jpg)"></div>
	</div>
	<div class="case-study-block container">
		<div class="pull-left small-block">
			<h5 class="case-study-title">Design</h5>
		</div>
		<div class="pull-right big-block">
			<p>
				For the design, we used clear colors among them the white and gray always having the presence of the green, representing all the feeling we were trying to transmit in the product: the trust, the transparency, kindness and we can’t forget the money. All this features are what define Tap to Fund.
			</p>
			<p>
				The screens and interactions of the app, are quite simple. All this in the goal of keeping it simple for the final user. Making the process of making a donation as fast, complex-less and painless as possible. Help with just a few taps.
			</p>
		</div>
	</div>
</div>
